{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}{{ ('label.'~type)|trans }} - {{ parent() }}{% endblock %}
{% block description %}{{ ('label.'~type)|trans }}. {{ parent() }}{% endblock %}
{% block keywords %}{{ ('label.'~type)|trans }},{{ parent() }}{% endblock %}

{% block page_header %}
	{{ ('label.'~type)|trans }}
{% endblock %}

{% block page_class %}page-products{% endblock %}

{% block left_class %}news-list{% endblock %}

{% block page_content %}

{% set article_show_route = 'cms_elmat_article_show' %}

{% if app.request.get('_domain_symbol2') %}
{% set article_show_route = 'cms_elmat_article_show_' ~ app.request.get('_domain_symbol2') %}
{% endif %}


    {% for n in articles %}
    
    <div class="major">

        <a href="{{  path(article_show_route, {slug: n.slug, id: n.id, type: n.type}) }}" title="{{ n.title }}" class="image">
            {% if n.getWebPath %}
            <img src="{{ asset( n.getWebPath() | imagine_filter('aktualnosci_lista') ) }}" alt="{{ n.title }}"/>
            {% endif %}
        </a>

        <div class="rest ">
            <a href="{{ path(article_show_route, {slug: n.slug, id: n.id, type: n.type})  }}" title="{{ n.title }}" class="title">{{ n.title }}</a>
            <div class="date">
                {{ n.publishDate|localizeddate('long', 'none') }}
            </div>
            <div class="text">
                {{ n.description|truncate(150, true) }}
            </div>
        </div>

    </div>
    
    {% endfor %}



{% endblock %}