hr {
	margin: .5em 0;
	height: 1px;
	border: none;
	background: #ddd;
}



.page-text  ul {
list-style: none;
}

.page-text  ul li {
	background: url(../images/arrow2.gif) 0 50% no-repeat;
	line-height: 16px;
	margin: 0px;
	margin-bottom: 3px;
	padding-left: 11px;
}

.page-text p.wciecie {
	text-indent: 40px;
}

.page-text ol.numeracja-rozdzialy,
.page-text ol.numeracja-rozdzialy ol { counter-reset: item }
.page-text ol.numeracja-rozdzialy li { display: block; position: relative; padding-left: 8px; }
.page-text ol.numeracja-rozdzialy li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
    position: absolute;
    left: -8px; }

.page-text ol.numeracja-rozdzialy > li > ol > li { padding-left: 18px; }
.page-text ol.numeracja-rozdzialy > li > ol > li > ol > li { padding-left: 28px; }
.page-text ol.numeracja-rozdzialy > li > ol > li > ol > li > ol li { padding-left: 38px; }