
#base {
	padding-bottom: 20px;
}

#top {
	height: 246px;
}

#bgtopright {
	height: 215px;
}

#bgtopleft {
	height: 246px;
}

#top-banner {
	position: absolute;
	top: 80px;
	left: 0px;
}

#menu_main ul.menu_level_1 {
	right: -31px;
}

#left_column {
	float: right;
	width: 251px;
	margin-top: 23px;
	margin-right: 0px;
}


#right_column {
	float: left;
	width: 625px;
}

#live-kategorie {
	position: absolute;
	height: 40px;
	background: #ffd200;
	line-height: 40px;
	top: 206px;
	left: 0px;
	width: 981px;
	overflow:hidden;
}
/* */

#live-kategorie ul {
	list-style-type: none;
	margin: 1px 0 0px 20px;
}

#live-kategorie ul li {
	display: inline-block;
}

.life-kategoria-li {
	background: url(../images/arr2.png) no-repeat 0 50%;
	padding-left: 10px;
	margin-right: 12px;
	line-height: 20px;
}

.life-kategoria-li a {
	color: #7a7a7a;
	font-size: 12px;
	line-height: 20px;
	margin-top: 10px;
	font-family: 'Ubuntu', sans-serif;
}


.life-kategoria-li.current a,
.life-kategoria-li a:hover {
	text-decoration: none;
	color: #009ee3;
}

.box-right-szkolenia {
    padding: 15px 15px 0 15px;
}

.box-right-szkolenia .arrow2bg {
	width: 170px;
}

#left_column .box-right {
    margin-bottom: 19px;

    padding-bottom: 17px;
    border-bottom: 1px solid #e9e9ea;
}
#left_column .box-right:last-child {
	border-bottom: none;
}

#right_column .box-right {
   margin-bottom: 19px;
	padding-bottom: 17px;
	border-bottom: 1px solid #e9e9ea;
	margin-right: 20px;
}

#right_column .box-right:last-child {
    border-bottom: none;
}



#live_center .box-right {
	margin-bottom: 21px;
	border-bottom: 1px solid #fff;
	padding-bottom: 17px;
	margin-right: 5px;
	margin-left: 2px;
}

#live_center .box-right:last-child {
	border-bottom:none;
	margin-bottom:0;
}

.box-right-mt {
	margin-top: 10px;
}

.news_list .item {
	overflow: hidden;
	clear: both;
	margin: 0px 0px 10px 0px;
	padding: 13px 0 10px 0;
}

.news_list .item a.title {
	color: #737373;
}

.news_list .item .teaser {
	margin-top: 6px;
	padding-left: 0px;
}

.news_list .item .data {
	width: 100%;
}

.news_list .item .data-waski {
	width: 535px;
}



.news_list .item .publdate {
	color: #7dabbf;
	margin: 6px 0;
}

.livecategory #right_column {
	width: 650px;
}



.livemain #right_column {
	width: 650px;
}

#live_center {
	width: 350px;
	background: #e9e9ea;
	padding: 10px;
	float: right;
}

#live_left {
	width: 278px;
	float: left;
	padding-top: 10px;

}

#live_left .box-right-pozostale-akt {
/*     padding-right: 10px; */
}

.hp_header a {
	color: #404040
}


h2.czytaj-takze {

	font-family: 'Ubuntu Condensed', Arial, sans-serif;
	font-weight: 100;
	font-size: 22px;
	margin: 0 10px 10px 0;
	padding: 0;
	line-height: 22px;

}

.box-czytaj-rowniez {

	background: #f5f5f5;
	border-radius: 5px;
	-webkit-border-radius: 5px;

	padding: 10px;
	overflow: hidden;

	position: relative;

}



.box-czytaj-rowniez .bc-1 {
	float: left;
	width: 44%;
}

.box-czytaj-rowniez .bc-2 {
	float: left;
	width: 55%;

}

.box-czytaj-rowniez .date_add {
	color: #7dabbf;
	line-height: 18px;
	white-space:nowrap;
}

.box-czytaj-rowniez p.arrow1bg {
	margin: 0px;
	padding-left: 16px;
	display: block;
	line-height: 18px;
	vertical-align: top;
	margin-left: 14px;
}

.box-czytaj-rowniez p.arrow1bg a {
	color: #737373;
	margin-right: 30px;
}

.box-czytaj-rowniez .firstart {
	overflow: hidden;
}

.box-czytaj-rowniez .firstart > img {
	float: left;
	margin-right: 10px;
}



.box-czytaj-rowniez .firstart > div.lft {
	float: left;
	width: 272px;
}

.box-czytaj-rowniez .firstart > div.lft .title {
	font-family: 'Ubuntu', Arial, sans-serif;
	font-weight: 700;
	color: #737373;
	font-size: 15px;
	display: block;
	margin-bottom: 2px;
}

.box-czytaj-rowniez .firstart  .teaser {

	color: #737373;
	clear: both;
	display: block;
	margin-top: 3px;
	line-height: 16px;
	font-size: 12px;
}

#highlights_category .highlight-main .desc {
	width: 300px;
}



.box-czytaj-rowniez .firstart  .teaser .arr1 {

	margin-left: 5px;

}

 .box-czytaj-rowniez-c {
 	position: relative;
 	margin-bottom: 20px;
 }
.box-czytaj-rowniez-c .button_read_more:hover {
	text-decoration: none;
}
.box-czytaj-rowniez-c .button_read_more {
	position: absolute;
	bottom: -10px;
	right: 11px;
	height: 23px;
	line-height: 22px;
	text-align: center;
	display: block;
	background: url(../images/bg_button_dark.jpg) 0 0 repeat-x;
	padding: 0px 13px;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 0px #191919;
	filter: dropshadow(color = #191919, offx = 1, offy = 1);
	-webkit-border-radius: 5px;
	border-radius: 5px;
}





#terminy_calendar {
    padding-left: 10px;
    padding-right: 15px;
}

.col-header1,
#terminy_calendar .title {

}



#terminy_calendar .controls {
    height: 24px;
    background: #323a49;
    line-height: 24px;
    position: relative;
}


#terminy_calendar .controls .lft {
    position: absolute;
    left: 0;
    height: 24px;
    width: 39px;
    background: #656b77 url('../images/arrow3r.gif') no-repeat 50% 50%;
}

#terminy_calendar .controls .rgt {
    position: absolute;
    right: 0;
    height: 24px;
    width: 39px;
    background: #656b77 url('../images/arrow3.gif') no-repeat 50% 50%;
}

#terminy_calendar .controls .lft.inactive {

}

#terminy_calendar .controls .month {
    font-weight: normal;
    color: #fff;
}
#terminy_calendar table.calendar {

    border: none;
    padding: 0;

}

#terminy_calendar table.calendar th,
#terminy_calendar table.calendar td {
    border: none;

    height: 26px;
}

#terminy_calendar table.calendar th {
   background: #f2f2f2;
    color: #727272;


}

#terminy_calendar table.calendar tr {

}

#terminy_calendar table.calendar tr td {
    background: #f2f2f2;
    color: #727272;

}

#terminy_calendar table.calendar tr td.dow-6,
#terminy_calendar table.calendar tr td.dow-7 {
    background: #f2f2f2;
}

#terminy_calendar table.calendar tr td.termin {
    background: #ff8f3e;
    color: #fff;
    cursor: pointer;
}

#terminy_calendar table.calendar tr td.termin:hover {

}

#terminy_calendar.loading .loading-indicator {

}

#terminy_calendar .loading-indicator {

}

#terminy_calendar .loading-indicator .gif {

}


.hp_header_dotted {
	background: none;
}



