@import 'font/font.css';

body {
    width: 100%;
    background: #ebebeb;
    position: relative;
    margin: 0;
    padding: 0;
    min-width: 1181px;
    font-family: 'source_sans_proregular';
}

.clear {
    clear: both;
}

::-webkit-input-placeholder { color:#7d7d7d; }
::-moz-placeholder { color:#7d7d7d; }
:-ms-input-placeholder { color:#7d7d7d; }
input:-moz-placeholder { color:#7d7d7d; }

a, a:visited, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#container {
    width: 1181px;
    background: #fff;
    position: relative;
    margin: 0 auto 50px;
    padding: 0;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
}

#container #top {
    height: 108px;
    position: relative;
    z-index: 3;
}

#container #top #logo {
    height: 108px;
    width: 270px;
    float: left;
    overflow: hidden;
}

#container #top #logo * {
    display: block;
    margin: 0;
    padding: 0;
}

#container #top #after-logo {
    height: 22px;
    width: 48px;
    position: absolute;
    left: 250px;
    top: 46px;
    line-height: 22px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    background: #ed202a;
}

#container #top #menu-top {
    height: 74px;
    max-width: 642px;
    float: right;
    margin: 34px 0 0;
    padding: 0;
    list-style: none;
}

#container #top #menu-top > li {
    float: left;
    height: 59px;
    padding: 0 6px 4px 22px;
    margin: 0;
}

#container #top #menu-top > li.drop {
    padding: 0;
    margin: 0 3px 0 0;
    background: url('../images/blue_arrow.png') no-repeat right 29px;
}

#container #top #menu-top > li.drop:hover {
    border: #dcdcdc 1px solid;
    border-bottom: 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
}

#container #top #menu-top > li a {
    line-height: 59px;
    height: 59px;
    display: block;
    font-size: 17px;
    color: #2e2e2d;
}

#container #top #menu-top > li.drop a {
    padding: 0 22px 4px 22px;
    position: relative;
    z-index: 2;
}

#container #top #menu-top > li.drop .submenu {
    background: #f2f2f2;
    width: 1181px;
    position: absolute;
    left: 0px;
    top: 97px;
    display: none;
    border-top: #dcdcdc 1px solid;
    border-bottom: #dcdcdc 1px solid;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
}

#container #top #menu-top > li.drop .submenu .cont {
    display: block;
    margin: 0;
    padding: 15px 29px 14px;
    border: #f8f8f8 1px solid;
    list-style: none;
    overflow: hidden;
}

#container #top #menu-top > li.drop .submenu .cont li {
    float: left;
    margin: 0 1px 0 0;
    padding: 0;
}

#container #top #menu-top > li.drop .submenu .cont li a {
    border: 0;
    margin: 0;
    padding: 0 10px;
    display: block;
    height: 36px;
    line-height: 41px;
    border-radius: 0;
    color: #fff;
    font-size: 21px;
    background: none;
}

#container #top #menu-top > li.drop .submenu .header {
    margin: 17px 0 5px 23px;
    padding: 0 0 0 22px;
    font-size: 19px;
    line-height: 25px;
    height: 25px;
    overflow: hidden;
    color: #1d1d1b;
    background: url('../images/more.png') no-repeat 1px 6px;
}

#container #top #menu-top > li.drop .submenu .cont-float {
    display: block;
    margin: 20px 0 38px;
    padding: 0 25px 0 44px;
    border-right: #dcdcdc 1px solid;
    list-style: none;
    overflow: hidden;
    float: left;
}

#container #top #menu-top > li.drop .submenu .cont-float + .cont-float {
    padding: 0 25px 0 42px;
}

#container #top #menu-top > li.drop .submenu .cont-float li {
    display: block;
    margin: -6px 0 -7px;
    padding: 0;
}

#container #top #menu-top > li.drop .submenu .cont-float li a {
    border: 0;
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    height: auto;
    line-height: 27px;
    font-size: 16px;
    color: #1d1d1b;
    background: none;
}
#container #top #menu-top > li.drop .submenu .cont-float li + li a {
    margin: 7px 0 0;
}

#container #top #menu-top > li.drop .submenu .cont-float li a:hover {
    color: #009fe3;
}

.color_1 {
    background: #11367a;
}

.color_2 {
    background: #512877;
}

.color_3 {
    background: #f72b10;
}

.color_4 {
    background: #1b7766;
}

.color_5 {
    background: #00aeef;
}

.color_6 {
    background: #e8850c;
}

.color_7 {
    background: #aa1d75;
}

.color_8 {
    background: #e34000;
}

#container #top #menu-top > li:hover a, #container #top #menu-top > li.drop a {
    color: #00aeef;
    text-decoration: none;
}

#container #top #menu-top > li.drop:hover a {
    line-height: 56px;
    height: 59px;
    border: #f8f8f8 1px solid;
    border-bottom: 0;
    padding: 0 20px 4px 20px;
    background: #f2f2f2;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#container #top #menu-top > li.drop:hover .submenu {
    display: block;
}

#container #top #search {
    display: block;
    height: 18px;
    line-height: 22px;
    width: 182px;
    float: right;
    overflow: hidden;
    margin: 44px 20px 0 27px;
    padding: 0;
    background: #fff;
    outline: none;
    border: 1px solid #dcdcdc;
    padding: 7px 29px 7px 9px;
    font-size: 13px;
    font-family: 'source_sans_proregular';
    background: url('../images/lupa.png') no-repeat top right;
    color: #7d7d7d;
}

#container #slider {
    width: 1181px;
    height: 322px;
    background: #ebebeb;
    position: relative;
    overflow: hidden;
}

#container #slider .item {
    width: 1181px;
    height: 322px;
    z-index: 1 !important;
}

#container #slider .item img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 0 !important;
}

#container #slider .item .cont {
    position: relative;
    margin: 0 0 0 60px;
    width: 600px;
    z-index: 1 !important;
}

#container #slider .item .cont .title {
    font-size: 41px;
    line-height: 60px;
    color: #0e0e0c;
    margin: 38px 0 10px -3px;
}

#container #slider .item .cont .desc {
    font-size: 14px;
    color: #7d7d7d;
    line-height: 23px;
    margin: 0 0 20px;
}

#container #slider .item .cont .more {
    border: 1px solid #bdbdbc;
    display: block;
    height: 46px;
    line-height: 48px;
    width: 179px;
    padding: 0 0 0 19px;
    background: url('../images/more.png') no-repeat 166px 18px;
    font-size: 17px;
    color: #11110f;
    font-family: 'source_sans_proregular';
}

#container #slider .item .cont .more:hover {
    color: #00aeef;
    text-decoration: none;
}

#container #slider #nav {
    height: 10px;
    min-width: 10px;
    z-index: 2 !important;
    position: absolute;
    bottom: 38px;
    left: 60px;
}

#container #slider #logo_elmat {
    height: 52px;
    width: 162px;
    overflow: hidden;
    z-index: 2 !important;
    position: absolute;
    top: 30px;
    right: 0;
    display: block;
}

#container #slider #nav span {
    display: block;
    width: 8px;
    height: 8px;
    float: left;
    margin: 0 5px 0 0;
    border: 1px solid #b9b9b8;
    cursor: pointer;
}

#container #slider #nav span.cycle-pager-active {
    border: 1px solid #555555;
}

#container #base {
    overflow: hidden;
    margin: -1px 0 0;
    width: 100%;
    clear: left;
    float: left;
    background: #11367a;
}

#container #base.no-color {
    background: #fff;
}

#container #base.main {
    background: #fff;
}

#container #base .column {
    float: left;
    width: 881px;
    position: relative;
    right: 0%;
    background: #fff;
}

#container #base .column .resizer {
    width: 1181px;
}

#container #base .absolute-menu {
    list-style: none;
    padding: 3px 0;
    margin: 0;
    position: absolute;
    top: 13px;
    right: 14px;
}

#container #base .absolute-menu li {
    margin: 0;
    padding: 0;
    float: left;
    height: 14px;
}

#container #base .absolute-menu li a {
    color: #11367a;
    font-size: 13px;
    line-height: 22px;
    height: 20px;
    margin: 0;
    padding: 0 7px;
    display: block;
    position: relative;
    top: -3px;
}

#container #base .absolute-menu li:hover a {
    background: #11367a;
    color: #fff;
    text-decoration: none;
}

#container #base .absolute-menu li + li {
    border-left: 1px solid #dcdcdc;
}

#container #base .title {
    font-size: 19px;
    color: #11110f;
    line-height: 24px;
    padding: 0 0 0 22px;
    margin: 19px 0 0 20px;
}

#container #base #main-left {
    height: 1257px;
    width: 641px;
    float: left;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-left: 0;
}

#container #base #main-left .col_1 {
    height: 150px;
    width: 371px;
    float: left;
    margin: 13px 10px 0 19px;
    overflow: hidden;
}

#container #base #main-left .col_1 .image {
    float: left;
    margin: 0 19px 5px 0;
}

#container #base #main-left .col_1 .image img {
    display: block;
}

#container #base #main-left .col_1 .title {
    font-size: 15px;
    color: #11367a;
    line-height: 18px;
    display: block;
    margin: 2px 0 6px 0;
}

#container #base #main-left .col_1 .date {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    font-size: 13px;
    color: #7d7d7d;
}

#container #base #main-left .col_1 .label {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    color: #fff;
    font-size: 13px;
    margin: 0 10px 0 0;
    padding: 0 3px;
    text-transform: uppercase;
}

#container #base #main-left .col_1 .line {
    overflow: hidden; 
    margin: 0 0 15px;
}

#container #base #main-left .col_1 .text {
    font-size: 13px;
    color: #11110f;
    line-height: 23px;
}

#container #base .product-news .absolute-menu {
    width: 363px;
    list-style: none;
    padding: 3px 0;
    margin: 0;
    position: absolute;
    top: 8px;
    right: 0;
}

#container #base .product-news .absolute-menu + .absolute-menu {
    top: 28px;
}

#container #base #main-left .product-news .col_1 {
    margin: 23px 10px 0 19px;
}

#container #base #main-left .product-news .col_1 .title {
    font-size: 19px;
    color: #11367a;
    line-height: 24px;
    margin: 3px 0 1px 0;
}

#container #base #main-left .product-news .col_1 .text {
    margin: -10px 0 0;
}

#container #base #main-left .product-news .minor {
    width: 622px;
    height: 73px;
    overflow: hidden;
    margin: 25px 0 0 19px;
}

#container #base #main-left .product-news .minor .item {
    width: 311px;
    height: 73px;
    overflow: hidden;
    float: left;
}

#container #base #main-left .product-news .minor .item .image {
    width: 121px;
    height: 73px;
    overflow: hidden;
    float: left;
}

#container #base #main-left .product-news .minor .item .image img {
    display: block;
}

#container #base #main-left .product-news .minor .item .rest {
    float: left;
    width: 172px;
    height: 73px;
    margin: 0 0 0 18px;
}

#container #base #main-left .product-news .minor .item .rest .title {
    font-size: 15px;
    color: #11367a;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

#container #base #main-left .product-news .minor .item .rest .title span {
    display: inline-block;
    float: left;
    padding: 1px 3px 0;
    height: 17px;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    margin: 0 5px 0 0;
}

#container #base #main-left .product-news .minor .item .rest .date {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 18px;
}

#container #base #main-left .col_2 {
    overflow: hidden;
    width: 200px;
    float: left;
    list-style-image: url('../images/li.jpg');
    font-size: 13px;
    color: #11367a;
    line-height: 15px;
    margin: 13px 0 0;
    padding: 0;
}

#container #base #main-left .col_2 li {
    display: block;
    padding: 0 0 8px 14px;
    margin: 0;
    background: url('../images/li.jpg') no-repeat 0 4px;
}

#container #base #main-left .col_2 li span {
    display: inline-block;
    padding: 2px 3px 0;
    color: #fff;
    font-size: 11px;
}

#container #base #main-left .news {
    height: 238px;
    width: 641px;
    background: #fff;
    border-bottom: 1px solid #dcdcdc;
    overflow: hidden;
    position: relative;
}

#container #base #main-left .news > .title {
    background: url('../images/news.png') no-repeat 0px 5px;
}

#container #base #main-left .product-news {
    height: 334px;
    width: 641px;
    background: #fbfbfb;
    overflow: hidden;
    position: relative;
}

#container #base #main-left .product-news > .title {
    background: url('../images/news.png') no-repeat 0px 5px;
}

#container #base #main-left .solutions {
    height: 278px;
    width: 640px;
    background-color: #2e2e2d;
    border: solid 1px #3f4142;
    border-bottom: 0;
    overflow: hidden;
    position: relative;
}

#container #base #main-left .solutions .slider {
    width: 600px;
    height: 200px;
    overflow: hidden;
    margin: 13px 0 0 18px;
}

#container #base #main-left .solutions .slider .item {
    width: 600px;
    height: 200px;
    overflow: hidden;
    z-index: 0 !important;
}

#container #base #main-left .solutions .slider .item > div {
    width: 280px;
    height: 200px;
    float: left;
}

#container #base #main-left .solutions .slider .item > div .image {
    display: block;
    height: 143px;
}

#container #base #main-left .solutions .slider .item > div .title {
    display: block;
    color: #fff;
    line-height: 19px;
    font-size: 19px;
    text-align: center;
    margin: 14px 0 0;
    padding: 0;
}

#container #base #main-left .solutions .slider .item > div + div {
    float: right;
}

#container #base #main-left .solutions .nav-prev3 {
    position: absolute;
    width: 36px;
    height: 49px;
    background: url('../images/prev2.png') no-repeat 0 0;
    top: 100px;
    left: 0;
    cursor: pointer;
}

#container #base #main-left .solutions .nav-next3 {
    position: absolute;
    width: 146px;
    height: 49px;
    background: url('../images/next2.png') no-repeat 0 0;
    top: 100px;
    right: 0;
    cursor: pointer;
}

#container #base #main-left .solutions > .title {
    background: url('../images/solutions.png') no-repeat 0px 4px;
    color: #fff;
}

#container #base #main-left .services {
    height: 404px;
    width: 641px;
    border: solid 1px #d9d9d9;
    border-left: 0;
    background: #fbfbfb;
    overflow: hidden;
}

#container #base #main-left .services > .title {
    background: url('../images/services.png') no-repeat 0px 5px;
}

#container #base #main-left .services .item {
    height: 292px;
    width: 180px;
    float: left;
    margin: 11px 0 0 19px;
    padding: 0;
}

#container #base #main-left .services .item .image {
    display: block;
    height: 113px;
}

#container #base #main-left .services .item .image img {
    display: block;
}

#container #base #main-left .services .item .title {
    margin: 20px 0 8px 0;
    padding: 0;
    color: #11367a;
    font-size: 19px;
    line-height: 23px;
    display: block;
}

#container #base #main-left .services .item .text {
    font-size: 13px;
    color: #11110f;
    line-height: 23px;
}

#container #base #main-left .services .item + .item {
    margin: 11px 0 0 14px;
    padding: 0 0 0 15px;
    border-left: 1px solid #dcdcdc;
}

#container #base #main-right {
    margin: 1px 0 0;
    height: 1258px;
    width: 539px;
    float: left;
}

#container #base #main-right .main-box {
    height: 361px;
}

#container #base #main-right .main-box .slider {
    height: 304px;
    width: 240px;
    overflow: hidden;
    margin: 13px 0 0 10px;
    position: relative;
}

#container #base #main-right .main-box .slider .item {
    width: 240px;
    height: 304px;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1 !important;
}

#container #base #main-right .main-box .slider .item .image {
    width: 240px;
    height: 143px;
    overflow: hidden;
    display: block;
    position: relative;
}

#container #base #main-right .main-box .slider .item .image img {
    margin: 0;
    padding: 0;
    display: block;
}

#container #base #main-right .main-box .slider .item .name {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #fec501;
    line-height: 25px;
    display: block;
    margin: 11px 0 0;
}

#container #base #main-right .main-box .slider .item .date {
    margin: 0 10px 0 0;
    padding: 0;
    display: block;
    float: left;
    height: 21px;
    line-height: 25px;
    font-size: 13px;
    color: #b9b9b8;
}

#container #base #main-right .main-box .slider .item .category {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    height: 21px;
    line-height: 23px;
    padding: 0 6px;
    font-size: 12px;
    color: #fff;
}

#container #base #main-right .main-box .slider .item .text {
    margin: 3px 0 0;
    padding: 0;
    display: block;
    font-size: 13px;
    color: #fff;
    line-height: 23px;
}

#container #base #main-right .main-box .slider .nav-prev, #container #base #main-right .main-box .slider .nav-prev2 {
    height: 25px;
    width: 18px;
    background: url('../images/prev.png') no-repeat 0 0;
    display: block;
    position: absolute;
    right: 19px;
    top: 118px;
    z-index: 2;
    cursor: pointer;
}

#container #base #main-right .main-box .slider .nav-next, #container #base #main-right .main-box .slider .nav-next2 {
    height: 25px;
    width: 18px;
    background: url('../images/next.png') no-repeat 0 0;
    display: block;
    position: absolute;
    right: 0px;
    top: 118px;
    z-index: 2;
    cursor: pointer;
}

#container #base #right .news-products {
    height: 425px;
    border: 1px solid #3f4142;
    border-left: 0;
    background: #2e2e2d;
}

#container #base #right .news-products > .title {
    height: 26px;
    line-height: 26px;
    margin: 18px 0 12px 21px;
    background: url('../images/star_red.png') no-repeat 0px 4px;
    color: #fff;
}

#container #base #right .news-products .slider {
    height: 304px;
    width: 260px;
    overflow: hidden;
    padding: 0 20px;
    position: relative;
}

#container #base #right .news-products .slider .item {
    width: 260px;
    height: 304px;
    overflow: hidden;
    display: block;
    position: relative;
    margin: 0px 20px 0;
    z-index: 1 !important;
}

#container #base #right .news-products .slider .item .image {
    width: 260px;
    height: 143px;
    overflow: hidden;
    display: block;
    position: relative;
}

#container #base #right .news-products .slider .item .image img {
    margin: 0;
    padding: 0;
    display: block;
}

#container #base #right .news-products .slider .item .name {
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #fff;
    line-height: 25px;
    display: block;
    margin: 11px 0 0;
}

#container #base #right .news-products .slider .item .date {
    margin: 0 10px 0 0;
    padding: 0;
    display: block;
    height: 21px;
    line-height: 25px;
    font-size: 13px;
    color: #b2b2b1;
}

#container #base #right .news-products .slider .item .category {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    height: 21px;
    line-height: 23px;
    padding: 0 6px;
    font-size: 12px;
    color: #fff;
}

#container #base #right .news-products .slider .item .text {
    margin: 3px 0 0;
    padding: 0;
    display: block;
    font-size: 13px;
    color: #fff;
    line-height: 23px;
}

#container #base #right .news-products .slider .nav-prev, #container #base #right .news-products .slider .nav-prev2 {
    height: 49px;
    width: 36px;
    background: url('../images/prev2.png') no-repeat 0 0;
    display: block;
    position: absolute;
    left: 0px;
    top: 95px;
    z-index: 2;
    cursor: pointer;
}

#container #base #right .news-products .slider .nav-next, #container #base #right .news-products .slider .nav-next2 {
    height: 49px;
    width: 36px;
    background: url('../images/next3.png') no-repeat 0 0;
    display: block;
    position: absolute;
    right: 0px;
    top: 95px;
    z-index: 2;
    cursor: pointer;
}

#container #base #main-right .main-box .news-box {
    height: 361px;
    width: 260px;
    float: left;
    background: #2e2e2d;
    padding: 0 0 0 8px;
}

#container #base #main-right .main-box .news-box > .title {
    margin: 20px 0 0 10px;
    padding: 0 0 0 24px;
    background: url('../images/news2.png') no-repeat 0px 5px;
    color: #fff;
}

#container #base #main-right .main-box .realization-box {
    height: 361px;
    width: 271px;
    float: left;
    background: #009fe3;
}

#container #base #main-right .main-box .realization-box .slider .item .name {
    color: #fff;
}

#container #base #main-right .main-box .realization-box .slider .item .date {
    color: #fff;
}

#container #base #main-right .main-box .realization-box > .title {
    margin: 20px 0 0 11px;
    padding: 0 0 0 24px;
    background: url('../images/realizations.png') no-repeat 0px 4px;
    color: #fff;
}

#container #base #main-right .sales {
    height: 265px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background: #fbfbfb;
}

#container #base #main-right .sales > div {
    height: 265px;
    width: 260px;
    float: left;
    margin: 0 0 0 8px;
}

#container #base #main-right .sales > div + div {
    height: 265px;
    width: 271px;
    float: left;
    margin: 0;
    background: url('../images/border1.jpg') no-repeat 0 63px;
}

#container #base #main-right .sales > div .item {
    width: 240px;
    height: 207px;
    overflow: hidden;
    margin: 12px 0 0 10px;
}

#container #base #main-right .sales > div .item .image {
    width: 240px;
    height: 143px;
    overflow: hidden;
    display: block;
    position: relative;
}

#container #base #main-right .sales > div .item .image img {
    margin: 0;
    padding: 0;
    display: block;
}

#container #base #main-right .sales > div .item .image .special-offer {
    height: 21px;
    width: 108px;
    background: url('../images/special-offer.png') no-repeat 0 0;
    display: block;
    position: absolute;
    right: 0px;
    top: 14px;
}

#container #base #main-right .sales > div .item .image .half-price {
    height: 21px;
    width: 41px;
    background: url('../images/half-price.png') no-repeat 0 0;
    display: block;
    position: absolute;
    right: 0px;
    top: 14px;
}

#container #base #main-right .sales > div .item .link {
    display: block;
    font-size: 17px;
    color: #11367a;
    text-align: center;
    line-height: 24px;
    margin: 12px 0 0;
}

#container #base #main-right .sales div > .title {
    margin: 22px 0 0 7px;
    background: url('../images/sales.png') no-repeat 1px 3px;
}

#container #base #main-right .sales div + div > .title {
    margin: 22px 23px 0 0;
    padding: 0 21px 0 0;
    background: url('../images/more.png') no-repeat right 5px;
    text-align: right;
}

#container #base #main-right .what-new {
    height: 630px;
}

#container #base #main-right .what-new > .title {
    margin: 28px 0 0 12px;
    background: url('../images/what-new.png') no-repeat 0px 2px;
}

#container #base #main-right .what-new .item {
    width: 400px;
    overflow: hidden;
    margin: 27px auto 50px;
}

#container #base #main-right .what-new .item .image {
    width: 287px;
    margin: 0 auto 13px;
    overflow: hidden;
    display: block;
    position: relative;
}

#container #base #main-right .what-new .item + .item .image {
    width: 226px;
    margin: 0 auto;
}

#container #base #main-right .what-new .item + .item .image .mask {
    height: 210px;
}

#container #base #main-right .what-new .item .image img {
    display: inline-block;
    text-align: center;
}

#container #base #main-right .what-new .item .image .mask {
    background: url('../images/what-hover.png') no-repeat center 5px;
    width: 100%;
    height: 145px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}

#container #base #main-right .what-new .item .image:hover .mask {
    display: block;
}

#container #base #main-right .what-new .item .title {
    font-size: 30px;
    color: #0e0e0c;
    line-height: 29px;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
}

#container #base #main-right .what-new .item .title:hover {
    text-decoration: none;
    color: #00aeef;
}

#container #base #main-right .what-new .item + .item .title {
    font-size: 27px;
}

#container #base #main-right .what-new .item .title span {
    font-family: 'source_sans_probold';
}

#container #base #main-right .what-new .item + .item .title span {
    display: block;
}

#container #base #breadcrumbs {
    overflow: hidden;
    height: 88px;
    background: #f3f2f0;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0 22px;
}

#container #base #breadcrumbs li {
    float: left;
    margin:  34px 17px 0 0;
    padding: 0;
    height: 25px;
    line-height: 30px;
    font-size: 21px;
}

#container #base #breadcrumbs li + li {
    float: left;
    padding: 0 0 0 30px;
    background: url('../images/breadcrumb_separtor.png') no-repeat 0 4px;
}

#container #base #breadcrumbs li a {
    color: #008fde;
}

#container #base #breadcrumbs li a:hover, #container #base #breadcrumbs li p {
    text-decoration: none;
    color: #181816;
    margin: 0;
    padding: 0;
}

#container #base #contact {
    overflow: hidden;
    height: 50px;
    background: url('../images/bg_contact.jpg') no-repeat 0 0;
    display: block;
    font-size: 41px;
    color: #0e0e0c;
    line-height: 50px;
    padding: 38px 0 37px 60px;
    font-family: 'source_sans_prolight';
}

#container #base #login {
    overflow: hidden;
    height: 50px;
    background: url('../images/bg_login.jpg') no-repeat 0 0;
    display: block;
    font-size: 41px;
    color: #0e0e0c;
    line-height: 50px;
    padding: 38px 0 35px 55px;
    font-family: 'source_sans_prolight';
}

#container #base #news-menu {
    overflow: hidden;
    height: 106px;
    background: #f8f8f8;
    font-family: 'source_sans_prolight';
    border-top: 10px solid #fdcc40;
}

#container #base #news-menu #news-left {
    float: left;
}

#container #base #news-menu #news-left span {
    display: block;
    font-size: 27px;
    color: #0e0e0c;
    line-height: 30px;
    margin: 27px 0 0 37px;
}

#container #base #news-menu #news-left span + span {
    display: block;
    font-size: 24px;
    color: #fec501;
    margin: -4px 0 0 36px;
}

#container #base #news-menu #news-right {
    float: right;
}

#container #base #news-menu #news-right ul {
    list-style: none;
    margin: 28px 21px 0 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

#container #base #news-menu #news-right ul + ul {
    margin: 9px 21px 0 0;
}

#container #base #news-menu #news-right ul li {
    float: left;
    margin: 0 24px 0 0;
    padding: 0;
    overflow: hidden;
}

#container #base #news-menu #news-right ul li a {
    display: block;
    overflow: hidden;
    font-size: 15px;
    text-transform: uppercase;
    color: #535353;
    line-height: 18px;
    font-family: 'source_sans_prosemibold';
}

#container #base #news-menu #news-right ul li a:hover, #container #base #news-menu #news-right ul li a.active {
    text-decoration: none;
    color: #181816;
    color: #000;
}

#container #base #tech-articles {
    overflow: hidden;
    height: 50px;
    background: url('../images/bg_product_articles.jpg') no-repeat 0 0;
    display: block;
    font-size: 41px;
    color: #0e0e0c;
    line-height: 50px;
    padding: 38px 0 35px 55px;
    font-family: 'source_sans_prolight';
}

#container #base #register {
    overflow: hidden;
    height: 50px;
    background: #b0aca1;
    display: block;
    font-size: 41px;
    color: #0e0e0c;
    line-height: 50px;
    padding: 38px 0 35px 55px;
    font-family: 'source_sans_prolight';
}

#container #base #register span {
    color: #fff;
}

#container #base #contact span {
    color: #fff;
}

#container #base #left {
    width: 881px;
    min-height: 1px;
    overflow: hidden;
    float: left;
}

#container #base #left .login-header {
    font-size: 19px;
    line-height: 25px;
    height: 25px;
    color: #11110f;
    font-family: 'source_sans_prolight';
    margin: 25px 0 18px 58px;
}

#container #base #left .login-form {
    width: 362px;
    display: block;
    margin: 0 auto;
}

#container #base #left .login-form div{
    overflow: hidden;
    margin: 0 0 12px;
}

#container #base #left .login-form label {
    float: left;
    width: 141px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    padding: 6px 0;
    font-size: 15px;
    color: #11110f;
}

#container #base #left .login-form input[type=text] {
    float: left;
    width: 203px;
    height: 18px;
    line-height: 18px;
    padding: 7px 8px;
    overflow: hidden;
    border: #dcdcdc 1px solid;
    font-size: 13px;
    color: #7d7d7d;
}

#container #base #left .login-form input[type=text]:focus {
    border: #008fde 1px solid;
    color: #008fde;
}

#container #base #left .login-form input[type=submit] {
    display: block;
    margin: 8px 0 0 141px;
    width: 219px;
    height: 48px;
    line-height: 18px;
    padding: 15px 0 14px 19px;
    float: left;
    border: 1px solid #555555;
    background: transparent url('../images/bg_login.png') no-repeat 192px 17px;
    text-align: left;
    font-size: 17px;
    color: #11110f;
    cursor: pointer;
}

#container #base #left .login-form input[type=submit]:hover {
    color: #008fde;
}

#container #base #left .login-form a {
    display: block;
    margin: 0 0 0 144px;
    width: 219px;
    font-size: 13px;
    color: #009ee3;
    line-height: 15px;
}

#container #base #left .login-form a:hover {
    text-decoration: none;
    color: #11110f;
}

#container #base #left .register-form {
    display: block;
    margin: 0;
    overflow: hidden;
}

#container #base #left .register-form > div {
    display: block;
    margin: 0;
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
}

#container #base #left .register-form .reg-col {
    float: left;
    overflow: hidden;
    margin: 0 20px 0 59px;
    width: 342px;
    padding: 0 0 8px;
}

#container #base #left .register-form .reg-col div {
    overflow: hidden;
    margin: 0 0 12px;
}

#container #base #left .register-form .reg-col label {
    float: left;
    width: 120px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    padding: 6px 0;
    font-size: 15px;
    color: #11110f;
}

#container #base #left .register-form .reg-col input[type=text], #container #base #left .register-form .reg-col input[type=password] {
    float: left;
    width: 203px;
    height: 18px;
    line-height: 18px;
    padding: 7px 8px;
    overflow: hidden;
    border: #dcdcdc 1px solid;
    font-size: 13px;
    color: #7d7d7d;
}

#container #base #left .register-form .reg-col input.req {
    background: url('../images/req.png') top right no-repeat;
}

#container #base #left .register-form .reg-col input[type=text]:focus, #container #base #left .register-form .reg-col input[type=password]:focus {
    border: #008fde 1px solid;
    color: #008fde;
}

#container #base #left .req-info {
    display: block;
    margin: 21px 0 0 380px;
    height: 19px;
    line-height: 18px;
    padding: 15px 20px 14px;
    float: left;
    border: 1px solid #dcdcdc;
    background: #fbfbfb url('../images/req.png') top right no-repeat;
    text-align: left;
    font-size: 13px;
    color: #11110f;
    cursor: pointer;
}

#container #base #left .register-form input[type=submit] {
    display: block;
    margin: 21px 0 0 90px;
    width: 219px;
    height: 48px;
    line-height: 18px;
    padding: 15px 0 14px 19px;
    float: left;
    border: 1px solid #555555;
    background: transparent url('../images/reg-submit.png') no-repeat 194px 21px;
    text-align: left;
    font-size: 17px;
    color: #11110f;
    cursor: pointer;
}

#container #base #left .register-form input[type=submit]:hover {
    color: #008fde;
}

#container #base #left .product-title {
    overflow: hidden;
    height: 51px;
    border: 1px solid #009be3;
    border-right: 0;
    background: #fbfbfb;
    padding: 15px 30px 0;
    position: relative;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
}

#container #base #left .product-title .head {
    color: #0e0e0c;
    font-size: 25px;
    line-height: 28px;
}

#container #base #left .product-title .head2 {
    margin: 7px 0 0;
    color: #0e0e0c;
    font-size: 25px;
    line-height: 28px;
}

#container #base #left .product-title .desc {
    color: #009fe3;
    font-size: 13px;
    line-height: 16px;
    margin: -2px 2px 0;
}

#container #base #left .product-title .desc.gray {
    color: #7d7d7d;
}

#container #base #left .site-title {
    overflow: hidden;
    height: 59px;
    border: 1px solid #d0d0d0;
    border-right: 0;
    background: #fbfbfb;
    padding: 17px 30px 0;
    position: relative;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 6px 8px rgba(0,0,0,.1), inset 0 0 2px #fff;
}

#container #base #left .site-description {
    padding: 20px 20px 20px 30px;
    line-height: 23px;
    font-size: 13px;
    color: #11110f;
    overflow: hidden;
    margin: 0;
}

#container #base #left .site-description .highlight  {
    color: #11367a;
    font-size: 15px;
    line-height: 25px;
}

#container #base #left .site-description ul {
    list-style-image: url('../images/li.jpg');
    font-size: 13px;
    line-height: 15px;
    margin: 6px 0 2px;
    padding: 0;
}

#container #base #left .site-description ul li {
    display: block;
    padding: 0 0 8px 20px;
    margin: 0;
    background: url('../images/li.jpg') no-repeat 2px 4px;
}

#container #base #left .site-description ul li span {
    display: inline-block;
    padding: 2px 3px 0;
    color: #fff;
    font-size: 11px;
}

#container #base #left .site-title .head {
    color: #0e0e0c;
    font-size: 25px;
    line-height: 28px;
}

#container #base #left .site-title .head2 {
    margin: 7px 0 0;
    color: #0e0e0c;
    font-size: 25px;
    line-height: 28px;
}

#container #base #left .site-title .desc {
    color: #009fe3;
    font-size: 13px;
    line-height: 16px;
    margin: 2px 2px 0;
}

#container #base #left .site-title .desc.gray {
    color: #7d7d7d;
}

#container #base #left .product-title .product-menu {
    position: absolute;
    overflow: hidden;
    top: 20px;
    right: 9px;
    height: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

#container #base #left .product-title .product-menu li {
    float: left;
    height: 32px;
    overflow: hidden;
    margin: 0 12px 0 0;
}

#container #base #left .product-title .product-menu li a {
    display: block;
    height: 32px;
    line-height: 33px;
    overflow: hidden;
    padding: 0 10px;
    color: #1a1a18;
    font-size: 17px;
    margin: 0;
    float: left;
}

#container #base #left .product-title .product-menu li a.download {
    padding: 0 10px 0 19px;
    background: url('../images/download_bg.png') no-repeat 0 10px;
}

#container #base #left .product-title .product-menu li a:hover {
    background: #009be3;
    color: #fff;
    text-decoration: none;
}

#container #base #left .product-title .product-menu li a.download:hover {
    color: #009be3;
    background: url('../images/download_bg.png') no-repeat 0 10px;
}

#container #base #left .product-description {
    padding: 20px 20px 20px 30px;
    line-height: 23px;
    font-size: 15px;
    color: #11110f;
    overflow: hidden;
    margin: 0;
}

#container #base #left .product-chareristic {
    padding: 28px 80px 41px 60px;
    border-top: 1px solid #dcdcdc;
    /*    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2), inset 0 0 2px #fff;
        -moz-box-shadow: 0 0 5px rgba(0,0,0,.2), inset 0 0 2px #fff;
        box-shadow: 0 0 5px rgba(0,0,0,.2), inset 0 0 2px #fff;*/
    overflow: hidden;
}

#container #base #left .product-chareristic .header_1 {
    margin: 0 0 1px;
    background: #43b369;
    padding: 8px 18px;
    line-height: 24px;
    font-size: 17px;
    color: #fff;
    overflow: hidden;
}

#container #base #left .product-chareristic .header_2 {
    margin: 0;
    background: #4a4a49;
    padding: 8px 18px;
    line-height: 22px;
    font-size: 15px;
    color: #fff;
    overflow: hidden;
}

#container #base #left .product-chareristic table {
    width: 739px;
    table-layout: fixed;
    margin: 0;
    padding: 0;
    background: red;
    border-spacing: 0;
    border-collapse: collapse;
    border-top: 1px solid #f6f6f6;
}

#container #base #left .product-chareristic table tr:nth-child(even) {
    background: #f5f5f2;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
}

#container #base #left .product-chareristic table tr:nth-child(odd), #container #base #left .product-chareristic table tr:hover {
    background: #fff;
    cursor: pointer;
}

#container #base #left .product-chareristic table td:first-child {
    width: 192px;
    padding: 9px 0 9px 17px;
    text-align: left;
    color: #979797;
}

#container #base #left .product-chareristic table tr:nth-child(odd) td:first-child, #container #base #left .product-chareristic table tr:hover td:first-child {
    background: #fafaf8;
}

#container #base #left .product-chareristic table td {
    width: 265px;
    padding: 9px 0;
    margin: 0;
    text-align: center;
    line-height: 17px;
    font-size: 15px;
    color: #2e2e2d;
    vertical-align: middle;
}

#container #base #left .product-chareristic table td .accept {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 16px;
    height: 16px;
    background: url('../images/accept.png') no-repeat 0 0;
}

#container #base #left .product-download {
    padding: 21px 22px 36px 22px;
    border-top: 1px solid #dcdcdc;
    overflow: hidden;
}

#container #base #left .product-download .header {
    background: url('../images/download_bg.png') no-repeat 0 4px;
    line-height: 23px;
    height: 23px;
    padding: 0 0 0 23px;
    font-size: 18px;
    color: #1a1a18;
}

#container #base #left .product-download .cont {
    overflow: hidden;
    margin: 24px 0 0 3px;
}

#container #base #left .product-download .cont .item {
    float: left;
    overflow: hidden;
    width: 240px;
    height: 36px;
    border: 1px solid #dcdcdc;
    margin: 0 0 10px 20px;
    padding: 0 0 0 12px;
    font-size: 15px;
    color: #11110f;
    line-height: 38px;
}

#container #base #left .product-download .item.pdf {
    background: url('../images/bg_pdf.jpg') no-repeat 214px 11px;
}

#container #base #left .product-download .item.doc {
    background: url('../images/bg_doc.jpg') no-repeat 214px 11px;
}

#container #base #left .product-download .item.xls {
    background: url('../images/bg_xls.jpg') no-repeat 214px 11px;
}

#container #base #left .product-download .item:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
}

#container #base #left .product-photos {
    padding: 18px 22px 41px 25px;
    border-top: 1px solid #dcdcdc;
    overflow: hidden;
    position: relative;
}

#container #base #left .product-photos .header {
    background: url('../images/camera.png') no-repeat 0 5px;
    line-height: 23px;
    height: 23px;
    padding: 0 0 0 23px;
    font-size: 18px;
    color: #1a1a18;
}

#container #base #left .product-photos #product-slider {
    overflow: hidden;
    width: 1200px;
    height: 143px;
    margin: 12px 0 0 -5px;
    padding: 0;
    list-style: none;
}

#container #base #left .product-photos #product-slider li {
    overflow: hidden;
    width: 267px;
    height: 143px;
    margin: 0 20px 0 0;
    float: left;
}

#container #base #left .product-photos #prev3 {
    position: absolute;
    left: 0px;
    height: 49px;
    top: 97px;
    width: 36px;
    background: url('../images/prev2.png') no-repeat 0 0;
    overflow: hidden;
    cursor: pointer;
}

#container #base #left .product-photos #next3 {
    position: absolute;
    right: 0px;
    height: 49px;
    top: 97px;
    width: 146px;
    background: url('../images/next2.png') no-repeat 0 0;
    overflow: hidden;
    cursor: pointer;
}

#container #base #left .product-articles {
    padding: 21px 22px 0 21px;
    border-top: 1px solid #dcdcdc;
    overflow: hidden;
    position: relative;
    width: 1200px;
    background: #fbfbfb;
}

#container #base #left .product-articles .header {
    line-height: 23px;
    height: 23px;
    padding: 0 0 0 3px;
    margin: 0 0 13px;
    font-size: 18px;
    color: #1a1a18;
}

#container #base #left .product-articles .item {
    width: 180px;
    height: 370px;
    padding: 0 19px 0 0;
    border-right: 1px solid #dcdcdc;
    margin: 0 20px 21px 0;
    float: left;
}

#container #base #left .product-articles .item .image {
    display: block;
    width: 180px;
    height: 255px;
    position: relative;
    padding-bottom: 5px;
    background: url('../images/bg_tech_img.png') no-repeat bottom left
}

#container #base #left .product-articles .item .image .label {
    display: block;
    position: absolute;
    right: 0;
    bottom: 19px;
    z-index: 1;
    height: 21px;
    width: 79px;
    background: url('../images/fibrain_data.png') no-repeat 0 0;
}

#container #base #left .product-articles .item .image img {
    display: block;
    position: relative;
    z-index: 0;
}

#container #base #left .product-articles .item .title {
    display: block;
    line-height: 23px;
    padding: 0;
    margin: 17px 0 13px;
    font-size: 19px;
    color: #2e2e2d;
    text-align: center;
}

#container #base #left .product-articles .item .item-download {
    float: left;
    overflow: hidden;
    width: 133px;
    height: 36px;
    border: 1px solid #dcdcdc;
    margin: 0 0 10px 20px;
    padding: 0 0 0 12px;
    font-size: 15px;
    color: #11110f;
    line-height: 38px;
    background: url('../images/bg_pdf.jpg') no-repeat 109px 11px;
    cursor: pointer;
}

#container #base #left .product-articles .item .item-download:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
}

#container #base #left.product-web .row {
    overflow: hidden;
    padding: 19px 0 21px;
    border-top: #dcdcdc 1px solid;
}

#container #base #left.product-web .row .item {
    overflow: hidden;
    border-right: #dcdcdc 1px solid;
    padding: 0 18px 0 0;
    margin: 0 0 0 20px;
    width: 180px;
    float: left;
}

#container #base #left.product-web .row .item + .item + .item + .item {
    padding: 0;
    border: 0;
}

#container #base #left.product-web .row .item .image {
    overflow: hidden;
    display: block;
    height: 166px;
}

#container #base #left.product-web .row .item .image img {
    display: block;
}

#container #base #left.product-web .row .item .title {
    display: block;
    font-size: 19px;
    line-height: 23px;
    color: #2e2e2d;
    text-align: center;
    margin: 17px 0 5px;
    padding: 0;
}

#container #base #left.product-web .row .item .title:hover {
    text-decoration: none;
    color: #008fde;
    cursor: pointer;
}

#container #base #left.tech-articles .row {
    overflow: hidden;
    padding: 31px 0 30px;
    border-bottom: #dcdcdc 1px solid;
    background: #fbfbfb;
}

#container #base #left.tech-articles .row .item {
    width: 180px;
    height: 370px;
    padding: 0 19px 0 0;
    border-right: 1px solid #dcdcdc;
    margin: 0 0 0 20px;
    float: left;
}

#container #base #left.tech-articles .row .item {
    width: 180px;
    height: 370px;
    padding: 0 18px 0 0;
    border-right: 1px solid #dcdcdc;
    margin: 0 0 0 20px;
    float: left;
}
#container #base #left.tech-articles .row .item  + .item + .item + .item {
    padding: 0;
    border: 0;
}

#container #base #left.tech-articles .row .item .image {
    display: block;
    width: 180px;
    height: 255px;
    position: relative;
    padding-bottom: 5px;
    background: url('../images/bg_tech_img.png') no-repeat bottom left
}

#container #base #left.tech-articles .row .item .image .label {
    display: block;
    position: absolute;
    right: 0;
    bottom: 19px;
    z-index: 1;
    height: 21px;
    width: 79px;
    background: url('../images/fibrain_data.png') no-repeat 0 0;
}

#container #base #left.tech-articles .row .item .image img {
    display: block;
    position: relative;
    z-index: 0;
}

#container #base #left.tech-articles .row .item .title {
    display: block;
    line-height: 23px;
    height: 46px;
    overflow: hidden;
    padding: 0;
    margin: 17px 0 10px;
    font-size: 19px;
    color: #2e2e2d;
    text-align: center;
}

#container #base #left.tech-articles .row .item .item-download {
    float: left;
    overflow: hidden;
    width: 133px;
    height: 36px;
    border: 1px solid #dcdcdc;
    margin: 0 0 10px 16px;
    padding: 0 0 0 12px;
    font-size: 15px;
    color: #11110f;
    line-height: 38px;
    background: url('../images/bg_download.png') no-repeat 122px 12px;
    cursor: pointer;
}

#container #base #left.tech-articles .row .item .item-download:hover {
    background-color: #000;
    border: 1px solid #000;
    color: #fff;
    text-decoration: none;
}

#container #base #left.news {

}

#container #base #left.news .events {
    height: 353px;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
}

#container #base #left.news .events .events-box {
    overflow: hidden;
    float: left;
    border-right: 1px solid #dcdcdc;
}

#container #base #left.news .events .events-box .title {
    font-size: 19px;
    color: #11110f;
    line-height: 24px;
    padding: 0 0 0 22px;
    margin: 19px 0 9px 20px;
    background: url('../images/globe.png') no-repeat 3px 5px;
}

#container #base #left.news .events .events-box .slider {
    height: 301px;
    width: 240px;
    overflow: hidden;
    margin: 0 19px 0 20px;
    position: relative;
}

#container #base #left.news .events .events-box .slider .item {
    width: 240px;
    height: 301px;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1 !important;
}

#container #base #left.news .events .events-box .slider .item .image {
    width: 240px;
    height: 143px;
    overflow: hidden;
    display: block;
    position: relative;
}

#container #base #left.news .events .events-box .slider .item .image img {
    margin: 0;
    padding: 0;
    display: block;
}

#container #base #left.news .events .events-box .slider .item .name {
    margin: 0;
    padding: 0;
    font-size: 19px;
    color: #11367a;
    line-height: 25px;
    display: block;
    margin: 11px 0 0;
}

#container #base #left.news .events .events-box .slider .item .date {
    margin: 0 10px 0 0;
    padding: 0;
    display: block;
    float: left;
    height: 21px;
    line-height: 25px;
    font-size: 13px;
    color: #b9b9b8;
}

#container #base #left.news .events .events-box .slider .item .category {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    height: 21px;
    line-height: 23px;
    padding: 0 6px;
    font-size: 12px;
    color: #fff;
}

#container #base #left.news .events .events-box .slider .item .text {
    margin: 3px 0 0;
    padding: 0;
    display: block;
    font-size: 13px;
    color: #4a4a49;
    line-height: 23px;
}

#container #base #left.news .events .events-box .slider .nav-prev {
    height: 25px;
    width: 18px;
    background: url('../images/prev.png') no-repeat 0 0;
    display: block;
    position: absolute;
    right: 19px;
    top: 118px;
    z-index: 2;
    cursor: pointer;
}

#container #base #left.news .events .events-box .slider .nav-next {
    height: 25px;
    width: 18px;
    background: url('../images/next.png') no-repeat 0 0;
    display: block;
    position: absolute;
    right: 0px;
    top: 118px;
    z-index: 2;
    cursor: pointer;
}

#container #base #left.news .events .other-events {
    float: left;
    overflow: hidden;
    width: 600px;
}
#container #base #left.news .events .other-events .col_1 {
    height: 143px;
    overflow: hidden;
    margin: 52px 0 0 19px;
}

#container #base #left.news .events .other-events .col_1 .image {
    float: left;
    margin: 0 19px 5px 0;
}

#container #base #left.news .events .other-events .col_1 .image img {
    display: block;
}

#container #base #left.news .events .other-events .col_1 > div {
    float: left;
    overflow: hidden;
    width: 440px;
}

#container #base #left.news .events .other-events .col_1 > div .title {
    font-size: 19px;
    color: #11367a;
    line-height: 24px;
    margin: 4px 0 4px 0;
    display: block;
    padding: 0;
}

#container #base #left.news .events .other-events .col_1 > div .date {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    font-size: 13px;
    color: #7d7d7d;
}

#container #base #left.news .events .other-events .col_1 > div .label {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    color: #fff;
    font-size: 13px;
    margin: 0 10px 0 0;
    padding: 0 3px;
    text-transform: uppercase;
}

#container #base #left.news .events .other-events .col_1 > div .line {
    overflow: hidden; 
    margin: 0 0 15px;
}

#container #base #left.news .events .other-events .col_1 > div .text {
    margin: -6px 0 0;
    font-size: 13px;
    color: #11110f;
    line-height: 23px;
}

#container #base #left.news .events .other-events .minor {
    height: 73px;
    overflow: hidden;
    margin: 40px 0 0 19px;
}

#container #base #left.news .events .other-events .minor .item {
    width: 280px;
    height: 73px;
    overflow: hidden;
    float: left;
    margin: 0 20px 0 0;
}

#container #base #left.news .events .other-events .minor .item + .item {
    margin: 0;
}

#container #base #left.news .events .other-events .minor .item .image {
    width: 121px;
    height: 73px;
    overflow: hidden;
    float: left;
}

#container #base #left.news .events .other-events .minor .item .image img {
    display: block;
}

#container #base #left.news .events .other-events .item .rest {
    float: left;
    width: 141px;
    height: 73px;
    margin: 0 0 0 18px;
}

#container #base #left.news .events .other-events .minor .item .rest .title {
    font-size: 15px;
    color: #11367a;
    line-height: 18px;
    max-height: 54px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

#container #base #left.news .events .other-events .minor .item .rest .title span {
    display: inline-block;
    float: left;
    padding: 1px 3px 0;
    height: 17px;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    margin: 0 5px 0 0;
}

#container #base #left.news .events .other-events .minor .item .rest .date {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 18px;
}

#container #base #left.news .news-articles {
    height: 191px;
    border-bottom: 1px solid #dcdcdc;
}

#container #base #left.news .news-articles .news-left {
    height: 191px;
    width: 398px;
    overflow: hidden;
    border-right: 1px solid #dcdcdc;
    background: #fdcc40;
    float: left;
    position: relative;
}

#container #base #left.news .news-articles .news-left .item {
    overflow: hidden;
    width: 350px;
    height: 143px;
    z-index: 0 !important;
    margin: 20px 0 0 16px;
}

#container #base #left.news .news-articles .news-left .item .image {
    width: 121px;
    height: 143px;
    float: left;
    overflow: hidden;
}

#container #base #left.news .news-articles .news-left .item .image img {
    display: block;
}

#container #base #left.news .news-articles .news-left .item .rest {
    width: 210px;
    height: 143px;
    float: left;
    overflow: hidden;
    margin: 0 0 0 19px;
    padding: 4px 0 0 0;
}

#container #base #left.news .news-articles .news-left .item .rest .title {
    line-height: 23px;
    padding: 0;
    margin: 0;
    font-size: 19px;
    color: #000;
}

#container #base #left.news .news-articles .news-left .item .rest .title:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fff;
}

#container #base #left.news .news-articles .news-left .item .rest .title span {
    display: inline-block;
    height: 22px;
    line-height: 23px;
    font-size: 11px;
    text-transform: uppercase;
    color: #fff;
    background: #e34000;
    padding: 0 4px;
    position: relative;
    top: -4px;
    margin: 0 4px 0 0;
}

#container #base #left.news .news-articles .news-left .item .rest .date {
    font-size: 13px;
    text-transform: uppercase;
    color: #7d7d7d;
    line-height: 18px;
    margin: 3px 0 5px;
}

#container #base #left.news .news-articles .news-left .item .rest .desc {
    line-height: 23px;
    font-size: 13px;
    color: #11110f
}

#container #base #left.news .news-articles .news-left .nav-prev4 {
    height: 49px;
    width: 36px;
    background: url('../images/prev2.png') no-repeat 0 0;
    display: block;
    position: absolute;
    left: 0;
    top: 64px;
    z-index: 2;
    cursor: pointer;
}

#container #base #left.news .news-articles .news-left .nav-next4 {
    height: 49px;
    width: 36px;
    background: url('../images/next3.png') no-repeat 0 0;
    display: block;
    position: absolute;
    right: 0px;
    top: 64px;
    z-index: 2;
    cursor: pointer;
}

#container #base #left.news .news-articles .news-right {
    height: 191px;
    width: 447px;
    overflow: hidden;
    border-right: 1px solid #dcdcdc;
    float: left;
    margin: 0 0 0 34px;
}

#container #base #left.news .news-articles .news-right .item {
    overflow: hidden;
    margin: 15px 0 0;
}

#container #base #left.news .news-articles .news-right .item a {
    overflow: hidden;
    display: block;
    line-height: 18px;
    font-size: 15px;
    color: #11367a;
    margin: 0 0 3px;
}

#container #base #left.news .news-articles .news-right .item a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

#container #base #left.news .news-articles .news-right .item div {
    overflow: hidden;
    line-height: 18px;
    font-size: 13px;
    text-transform: uppercase;
    color: #7d7d7d;
}

#container #base #left.news .other-news {
    overflow: hidden;
    margin: 0 0 50px;
}

#container #base #left.news .other-news .col_1 {
    overflow: hidden;
    float: left;
    margin: 20px 8px 0 20px;
}

#container #base #left.news .other-news .col_1 .minor .item {
    width: 280px;
    height: 73px;
    overflow: hidden;
    float: left;
    margin: 0 20px 0 0;
}

#container #base #left.news .other-news .col_1 .item + .item {
    margin: 0;
}

#container #base #left.news .other-news .col_1 .item .image {
    width: 121px;
    height: 73px;
    overflow: hidden;
    float: left;
}

#container #base #left.news .other-news .col_1 .item .image img {
    display: block;
}

#container #base #left.news .other-news .col_1 .item .rest {
    float: left;
    width: 141px;
    height: 73px;
    margin: 0 0 0 18px;
}

#container #base #left.news .other-news .col_1 .item .rest .title {
    font-size: 15px;
    color: #11367a;
    line-height: 18px;
    max-height: 54px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

#container #base #left.news .other-news .col_1 .item .rest .title span {
    display: inline-block;
    float: left;
    padding: 1px 3px 0;
    height: 17px;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    margin: 0 5px 0 0;
}

#container #base #left.news .other-news .col_1 .item .rest .date {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 18px;
}

#container #base #left.news .other-news .col_2 {
    overflow: hidden;
    width: 260px;
    float: left;
    list-style-image: url('../images/li.jpg');
    font-size: 13px;
    color: #11367a;
    line-height: 15px;
    margin: 13px 0 0 26px;
    padding: 0;
}

#container #base #left.news .other-news .col_2 li {
    display: block;
    padding: 0 0 8px 14px;
    margin: 0;
    background: url('../images/li.jpg') no-repeat 0 4px;
}

#container #base #left.news .other-news .col_2 li span {
    display: inline-block;
    padding: 2px 3px 0;
    color: #fff;
    font-size: 11px;
}

#container #base #left.news .news-highlights {
    overflow: hidden;
    height: 435px;
    background: #11367a;
    position: relative;
}

#container #base #left.news .news-highlights .item {
    overflow: hidden;
    height: 435px;
    width: 881px;
    position: relative;
    z-index: 0 !important;
}

#container #base #left.news .news-highlights .item .high-left {
    width: 613px;
    overflow: hidden;
    float: left;
}

#container #base #left.news .news-highlights .item .high-left .major {
    width: 550px;
    height: 160px;
    overflow: hidden;
    margin: 12px 0 24px 19px;
}

#container #base #left.news .news-highlights .item .high-left .major .image {
    float: left;
    margin: 0 19px 5px 0;
}

#container #base #left.news .news-highlights .item .high-left .major .image img {
    display: block;
}

#container #base #left.news .news-highlights .item .high-left .major .title {
    font-size: 19px;
    color: #fff;
    line-height: 23px;
    display: block;
    margin: 0px 0 2px 0;
}

#container #base #left.news .news-highlights .item .high-left .major .date {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    font-size: 13px;
    text-transform: uppercase;
    color: #7d7d7d;
}

#container #base #left.news .news-highlights .item .high-left .major .label {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    color: #fff;
    font-size: 13px;
    margin: 0 10px 0 0;
    padding: 0 3px;
    text-transform: uppercase;
}

#container #base #left.news .news-highlights .item .high-left .major .line {
    overflow: hidden; 
    margin: 0 0 11px;
}

#container #base #left.news .news-highlights .item .high-left .major .text {
    font-size: 13px;
    color: #fff;
    line-height: 23px;
}

#container #base #left.news .news-highlights .item .high-left .minor {
    width: 593px;
    height: 176px;
    overflow: hidden;
    margin: 0 0 24px 19px;
}

#container #base #left.news .news-highlights .item .high-left .minor .item {
    width: 282px;
    height: 73px;
    overflow: hidden;
    float: left;
    margin: 0 29px 30px 0;
}

#container #base #left.news .news-highlights .item .high-left .minor .item + .item {
    margin: 0 0 30px 0;
}

#container #base #left.news .news-highlights .item .high-left .minor .item + .item + .item {
    margin: 0 29px 30px 0;
}

#container #base #left.news .news-highlights .item .high-left .minor .item + .item + .item + .item {
    margin: 0 0 30px 0;
}

#container #base #left.news .news-highlights .item .high-left .minor .item .image {
    width: 121px;
    height: 73px;
    overflow: hidden;
    float: left;
}

#container #base #left.news .news-highlights .item .high-left .minor .item .image img {
    display: block;
}

#container #base #left.news .news-highlights .item .high-left .minor .item .rest {
    float: left;
    width: 143px;
    height: 73px;
    margin: 0 0 0 18px;
}

#container #base #left.news .news-highlights .item .high-left .minor .item .rest .title {
    font-size: 15px;
    color: #fff;
    line-height: 18px;
    max-height: 54px;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    background: transparent;
}

#container #base #left.news .news-highlights .item .high-left .minor .item .rest .date {
    font-size: 13px;
    text-transform: uppercase;
    color: #7d7d7d;
    overflow: hidden;
    line-height: 18px;

}

#container #base #left.news .news-highlights .item .high-left .minor .item .rest .title span {
    display: inline-block;
    float: left;
    padding: 1px 3px 0;
    height: 17px;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    margin: 0 5px 0 0;
}

#container #base #left.news .news-highlights .item .high-right {
    width: 250px;
    overflow: hidden;
    float: left;
    list-style-image: url('../images/li.jpg');
    font-size: 13px;
    color: #11367a;
    line-height: 15px;
    padding: 0;
    margin: 13px 0 0 0;
}

#container #base #left.news .news-highlights .item .high-right li {
    display: block;
    padding: 0 0 8px 14px;
    margin: 0;
    background: url('../images/li2.jpg') no-repeat 0 4px;
}

#container #base #left.news .news-highlights .item .high-right li a {
    color: #fff;
}

#container #base #left.news .news-highlights .item .high-right li span {
    display: inline-block;
    padding: 2px 3px 0;
    color: #fff;
    font-size: 11px;
}

#container #base #left.news .news-highlights .item .absolute-menu {
    list-style: none;
    padding: 3px 0;
    margin: 0;
    position: absolute;
    top: 12px;
    right: 0px;
}

#container #base #left.news .news-highlights .item .absolute-menu li {
    margin: 0;
    padding: 0;
    float: left;
    height: 22px;
}

#container #base #left.news .news-highlights .item .absolute-menu li a {
    color: #fff;
    font-size: 13px;
    line-height: 22px;
    height: 20px;
    margin: 0;
    padding: 5px 7px 3px;
    display: block;
    position: relative;
    top: -3px;
    overflow: hidden;
    display: block;
}

#container #base #left.news .news-highlights .item .absolute-menu li:hover a {
    text-decoration: none;
}

#container #base #left.news .news-highlights .item .absolute-menu li + li {
    margin: 0 0 0 1px;
    border: 0;
}

#container #base #left.news .news-highlights .nav-prev5 {
    position: absolute;
    background: url('../images/prev2.png') no-repeat 0 0;
    width: 36px;
    height: 49px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    left: 0;
    top: 198px;
}

#container #base #left.news .news-highlights .nav-next5 {
    position: absolute;
    background: url('../images/next3.png') no-repeat 0 0;
    width: 36px;
    height: 49px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    right: 0;
    top: 198px;
}
#container #base #left.news .news-fibrain {
    overflow: hidden;
    height: 427px;
    position: relative;
}

#container #base #left.news .news-fibrain .item {
    overflow: hidden;
    height: 435px;
    width: 880px;
    border-right: 1px solid #3f4142;
    position: relative;
    z-index: 0 !important;
}

#container #base #left.news .news-fibrain .item .high-left {
    width: 613px;
    overflow: hidden;
    float: left;
}

#container #base #left.news .news-fibrain .item .high-left .major {
    width: 550px;
    height: 160px;
    overflow: hidden;
    margin: 12px 0 15px 19px;
}

#container #base #left.news .news-fibrain .item .high-left .major .image {
    float: left;
    margin: 0 19px 5px 0;
}

#container #base #left.news .news-fibrain .item .high-left .major .image img {
    display: block;
}

#container #base #left.news .news-fibrain .item .high-left .major .title {
    font-size: 19px;
    color: #11110f;
    line-height: 23px;
    display: block;
    margin: 0px 0 2px 0;
}

#container #base #left.news .news-fibrain .item .high-left .major .date {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    font-size: 13px;
    text-transform: uppercase;
    color: #7d7d7d;
}

#container #base #left.news .news-fibrain .item .high-left .major .label {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    color: #11110f;
    font-size: 13px;
    margin: 0 10px 0 0;
    padding: 0 3px;
    text-transform: uppercase;
}

#container #base #left.news .news-fibrain .item .high-left .major .line {
    overflow: hidden; 
    margin: 0 0 11px;
}

#container #base #left.news .news-fibrain .item .high-left .major .text {
    font-size: 13px;
    color: #11110f;
    line-height: 23px;
}

#container #base #left.news .news-fibrain .item .high-left .minor {
    width: 593px;
    height: 176px;
    overflow: hidden;
    margin: 0 0 24px 19px;
}

#container #base #left.news .news-fibrain .item .high-left .minor .item {
    width: 282px;
    height: 73px;
    overflow: hidden;
    float: left;
    border: none;
    margin: 0 28px 30px 0;
}

#container #base #left.news .news-fibrain .item .high-left .minor .item + .item {
    margin: 0 0 30px 0;
}

#container #base #left.news .news-fibrain .item .high-left .minor .item + .item + .item {
    margin: 0 29px 30px 0;
}

#container #base #left.news .news-fibrain .item .high-left .minor .item + .item + .item + .item {
    margin: 0 0 30px 0;
}

#container #base #left.news .news-fibrain .item .high-left .minor .item .image {
    width: 121px;
    height: 73px;
    overflow: hidden;
    float: left;
}

#container #base #left.news .news-fibrain .item .high-left .minor .item .image img {
    display: block;
}

#container #base #left.news .news-fibrain .item .high-left .minor .item .rest {
    float: left;
    width: 143px;
    height: 73px;
    margin: 0 0 0 18px;
}

#container #base #left.news .news-fibrain .item .high-left .minor .item .rest .title {
    font-size: 15px;
    color: #11110f;
    line-height: 18px;
    max-height: 54px;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
    background: transparent;
}

#container #base #left.news .news-fibrain .item .high-left .minor .item .rest .date {
    font-size: 13px;
    text-transform: uppercase;
    color: #7d7d7d;
    overflow: hidden;
    line-height: 18px;

}

#container #base #left.news .news-fibrain .item .high-left .minor .item .rest .title span {
    display: inline-block;
    float: left;
    padding: 1px 3px 0;
    height: 17px;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    margin: 0 5px 0 0;
}

#container #base #left.news .news-fibrain .item .high-right {
    width: 250px;
    overflow: hidden;
    float: left;
    list-style-image: url('../images/li.jpg');
    font-size: 13px;
    color: #11367a;
    line-height: 15px;
    padding: 0;
    margin: 24px 0 0 0;
}

#container #base #left.news .news-fibrain .item .high-right li {
    display: block;
    padding: 0 0 8px 14px;
    margin: 0;
    background: url('../images/li2.jpg') no-repeat 0 4px;
}

#container #base #left.news .news-fibrain .item .high-right li a {
    color: #11110f;
}

#container #base #left.news .news-fibrain .item .high-right li span {
    display: inline-block;
    padding: 2px 3px 0;
    color: #fff;
    font-size: 11px;
}
#container #base #left.news .news-fibrain .item .absolute-menu {
    list-style: none;
    padding: 3px 0;
    margin: 0;
    position: absolute;
    top: 18px;
    right: 11px;
}

#container #base #left.news .news-fibrain .item .absolute-menu li {
    margin: 0;
    padding: 0;
    float: left;
    height: 14px;
}

#container #base #left.news .news-fibrain .item .absolute-menu li a {
    color: #11110f;
    font-size: 13px;
    line-height: 22px;
    height: 20px;
    margin: 0;
    padding: 0 7px;
    display: block;
    position: relative;
    top: -3px;
}

#container #base #left.news .news-fibrain .item .absolute-menu li:hover a, #container #base #left.news .news-fibrain .item .absolute-menu li a.selected {
    background: #ed202a;
    color: #fff;
    text-decoration: none;
}

#container #base #left.news .news-fibrain .item .absolute-menu li + li {
    border-left: 1px solid #dcdcdc;
}
#container #base #left.news .news-events, #container #base #left.news .news-events2 {
    overflow: hidden;
    height: 229px;
    background: #fff;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

#container #base #left.news .news-trainings {
    overflow: hidden;
    height: 229px;
    background: #fbfbfb;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

#container #base #left.news .news-promotions {
    overflow: hidden;
    background: #fbfbfb;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 0 31px 0;
}

#container #base #left.news .news-promotions .item {
    width: 180px;
    height: 292px;
    padding: 0 20px 0 0;
    border-right: 1px solid #dcdcdc;
    margin: 0 0 0 20px;
    float: left;
}

#container #base #left.news .news-promotions .item  + .item + .item + .item {
    padding: 0;
    border: 0;
}

#container #base #left.news .news-promotions .item .image {
    display: block;
    width: 180px;
    height: 113px;
    position: relative;
    padding-bottom: 5px;
    background: url('../images/bg_tech_img.png') no-repeat bottom left;
    overflow: hidden;
}

#container #base #left.news .news-promotions .item .image .label {
    display: block;
    position: absolute;
    left: 0;
    bottom: 13px;
    z-index: 1;
    height: 21px;
    padding: 0 6px;
    background: url('../images/green-dot.png');
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    font-family: 'source_sans_prosemibold';
}

#container #base #left.news .news-promotions .item .image img {
    display: block;
    position: relative;
    z-index: 0;
}

#container #base #left.news .news-promotions .item .title {
    display: block;
    line-height: 23px;
    overflow: hidden;
    padding: 0;
    margin: 19px 0 0 -3px;
    font-size: 19px;
    color: #2e2e2d;
    background: transparent;
}

#container #base #left.news .news-promotions .item .desc {
    display: block;
    line-height: 23px;
    overflow: hidden;
    font-size: 13px;
    color: #11110f;
    max-height: 115px;
    margin: 7px 0 0;
}

#container #base #left.news .news-suplies {
    overflow: hidden;
    background: #fbfbfb;
    border-top: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    padding: 0 0 31px 0;
}

#container #base #left.news .news-suplies .item {
    width: 180px;
    height: 292px;
    padding: 0 20px 0 0;
    border-right: 1px solid #dcdcdc;
    margin: 0 0 0 20px;
    float: left;
}

#container #base #left.news .news-suplies .item  + .item + .item + .item {
    padding: 0;
    border: 0;
}

#container #base #left.news .news-suplies .item .image {
    display: block;
    width: 180px;
    height: 113px;
    position: relative;
    padding-bottom: 5px;
    background: url('../images/bg_tech_img.png') no-repeat bottom left;
    overflow: hidden;
}

#container #base #left.news .news-suplies .item .image .label {
    display: block;
    position: absolute;
    left: 0;
    bottom: 13px;
    z-index: 1;
    height: 21px;
    padding: 0 6px;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    font-family: 'source_sans_prosemibold';
}

#container #base #left.news .news-suplies .item .image img {
    display: block;
    position: relative;
    z-index: 0;
}

#container #base #left.news .news-suplies .item .title {
    display: block;
    line-height: 23px;
    overflow: hidden;
    padding: 0;
    margin: 15px 0 0 -3px;
    font-size: 19px;
    color: #2e2e2d;
    background: transparent;
}

#container #base #left.news .news-suplies .item .desc {
    display: block;
    line-height: 23px;
    overflow: hidden;
    font-size: 13px;
    color: #11110f;
    max-height: 115px;
    margin: 7px 0 0;
}

#container #base #left.news .news-highlights .title {
    color: #fff;
    background: url('../images/highlights.png') no-repeat 0px 6px;
}

#container #base #left.news .news-fibrain .title {
    background: url('../images/news_red.png') no-repeat 0px 6px;
}

#container #base #left.news .news-events .title {
    background: url('../images/globe.png') no-repeat 2px 5px;
}

#container #base #left.news .news-events2 .title {
    background: url('../images/events.png') no-repeat 1px 2px;
}

#container #base #left.news .news-trainings .title {
    padding: 0 0 0 25px;
    margin: 19px 0 0 17px;
    background: url('../images/trainings.png') no-repeat 0px 2px;
}

#container #base #left.news .news-promotions .title {
    padding: 0 0 0 23px;
    margin: 20px 0 12px 17px;
    background: url('../images/promotions.png') no-repeat 2px 4px;
}

#container #base #left.news .news-suplies .title {
    padding: 0 0 0 23px;
    margin: 22px 0 24px 20px;
    background: url('../images/stg_red.png') no-repeat 2px 4px;
}

#container #base #left.news .col_1 {
    height: 150px;
    width: 371px;
    float: left;
    margin: 13px 10px 0 19px;
    overflow: hidden;
}

#container #base #left.news .col_1 .image {
    float: left;
    margin: 0 19px 5px 0;
}

#container #base #left.news .col_1 .image img {
    display: block;
}

#container #base #left.news .col_1 .title {
    font-size: 19px;
    color: #11367a;
    line-height: 23px;
    display: block;
    margin: 4px 0 2px 0;
}

#container #base #left.news .col_1 .date {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    font-size: 13px;
    text-transform: uppercase;
    color: #7d7d7d;
}

#container #base #left.news .col_1 .label {
    float: left;
    display: inline-block;
    height: 23px;
    line-height: 25px;
    color: #fff;
    font-size: 13px;
    margin: 0 10px 0 0;
    padding: 0 3px;
    text-transform: uppercase;
}

#container #base #left.news .col_1 .line {
    overflow: hidden; 
    margin: 0 0 5px;
}

#container #base #left.news .col_1 .text {
    font-size: 13px;
    color: #11110f;
    line-height: 23px;
}

#container #base #left.news .col_2 {
    overflow: hidden;
    width: 200px;
    float: left;
    list-style-image: url('../images/li.jpg');
    font-size: 13px;
    color: #11367a;
    line-height: 15px;
    margin: 6px 21px 0 0;
    padding: 0;
}

#container #base #left.news .col_2 + .col_2 {
    margin: 6px 0 0;
}

#container #base #left.news .col_2 li {
    display: block;
    padding: 0 0 8px 14px;
    margin: 0;
    background: url('../images/li.jpg') no-repeat 0 4px;
}

#container #base #left.news .col_2 li span {
    display: inline-block;
    padding: 2px 3px 0;
    color: #fff;
    font-size: 11px;
}

#container #base #left #pager {
    margin: 21px 0 51px;
    height: 31px;
    text-align: center;
}

#container #base #left #pager a, #container #base #left #pager div {
    margin: 0;
    padding: 0;
    width: 31px;
    height: 29px;
    display: inline-block;
    position: relative;
    z-index: 0;
    border: 1px solid #dcdcdc;
    margin: 0 -1px 0 0;
    line-height: 29px;
    text-align: center;
    font-size: 17px;
    color: #2e2e2d;
    cursor: pointer;
}

#container #base #left #pager a.active {
    z-index: 1;
    border: 1px solid #009fe3;
    background: #e9f8ff;
    color: #009fe3;
}

#container #base #left #pager a:hover, #container #base #left #pager div:hover {
    text-decoration: none;
    background-color: #2e2e2d;
    color: #fff;
}

#container #base #left #pager div span {
    display: none;
    overflow: hidden;
    position: absolute;
    height: 30px;
    width: 163px;
    overflow: hidden;
    top: 30px;
    left: -1px;
}

#container #base #left #pager div:hover span {
    display: block;
}

#container #base #left #pager div span a {
    float: left;
    border-top: none;
}

#container #base #left #pager a.pager-prev, #container #base #left #pager a.pager-next {
    width: 118px;
}

#container #base #left #pager a.pager-prev {
    padding: 0 9px 0 0;
    text-align: right;
    background-image: url('../images/pager-prev.png'); 
    background-repeat:  no-repeat;
    background-position: 10px 7px;
}

#container #base #left #pager a.pager-next {
    padding: 0 0 0 9px;
    text-align: left;
    background-image: url('../images/pager-next.png'); 
    background-repeat:  no-repeat;
    background-position: 112px 7px;
}

#container #base #right {
    width: 300px;
    float: left;
    overflow: hidden;
}

#container #base #right .register-box {
    width: 300px;
    height: 274px;
    background: url('../images/register-box.jpg') no-repeat 0 0; 
    float: left;
    overflow: hidden;
}

#container #base #right .register-box span {
    display: block;
    text-align: center;
    font-family: 'source_sans_prolight';
    font-size: 30px;
    color: #fec501;
    line-height: 34px;
    margin: 74px 0 0;
}

#container #base #right .register-box span + span {
    font-family: 'source_sans_prosemibold';
    color: #fff;
    margin: 0 0 28px;
}

#container #base #right .banner-box {
    width: 300px;
    height: 494px;
    background: url('../images/banner-box.jpg') no-repeat 0 0; 
    float: left;
    overflow: hidden;
    position: relative;
}

#container #base #right .banner {
    width: 300px;
    height: 206px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url('../images/dot.png'); 
    float: left;
    overflow: hidden;
}

#container #base #right .banner span {
    display: block;
    text-align: center;
    font-size: 30px;
    color: #fff;
    font-family: 'source_sans_prolight';
    line-height: 34px;
    margin: 67px 0 0;
}

#container #base #right .banner span + span {
    margin: 0;
    text-transform: uppercase;
    font-family: 'source_sans_probold';
}

#container #base #right .register-box a.register-button {
    background: url('../images/register.png') no-repeat 166px 19px;
    width: 180px;
    display: block;
    margin: 0 auto;
    height: 20px;
    padding: 15px 0 11px 19px;
    border: 1px solid #bdbdbc;
    line-height: 20px;
    font-size: 17px;
    color: #fff;
}

#container #base #right .register-box a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #fec501;
}

#container #base #right ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#container #base #right > ul {
    margin: 10px 0;
}

#container #base #right ul li {
    display: block;
    margin: 0;
    padding: 0;
}

#container #base #right ul li:hover {
    background: #008fde;
}

#container #base #right ul li a {
    display: block;
    margin:  0 20px 0 24px;
    border-bottom: 1px solid #446093;
    font-size: 15px;
    color: #fff;
    line-height: 20px;
    padding: 5px 0;
    position: relative;
}

#container #base #right ul ul li a {
    border-bottom: 1px solid #1d4080;
    padding-left: 20px;
    color: #95abd5;
}

#container #base #right ul li a > span {
    position: absolute;
    height: 21px;
    overflow: hidden;
    right: 0;
    top: 4px;
    display: block;
}

#container #base #right ul li a > span .black {
    float: left;
    padding: 0 9px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 0 1px;
    line-height: 21px;
    background: #000;
}

#container #base #right ul li a > span .red {
    float: left;
    padding: 0 8px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 0 1px;
    line-height: 21px;
    background: #e2212e;
}

#container #base #right > ul > li.active > a {
    font-size: 17px;
}

#container #base #right ul li:hover a {
    color: #fff;
    font-family: 'source_sans_prosemibold';
    text-decoration: none;
    border: 0;
    margin-bottom: 1px;
}

#container #base #right .more {
    overflow: hidden;
    display: block;
    line-height: 21px;
    padding: 12px 0;
    margin: 0 20px 0 23px;
    border-top: 1px solid #dcdcdc;
    font-size: 17px;
    color: #11110f;
    background: url('../images/more.png') no-repeat 128px 15px;
}

#container #base #right .more:hover {
    text-decoration: none;
    color: #0094e0;
    cursor: pointer;
}

#container #base #right .calendar {
    overflow: hidden;
}

#container #base #right .calendar .title {
    overflow: hidden;
    margin: 0;
    line-height: 24px;
    padding: 15px 0 15px 45px;
    background: #ebebeb url('../images/events.png') no-repeat 19px 18px;
    border-top: 1px solid #dcdcdc;
}

#container #base #right .links {
    overflow: hidden;
    padding: 21px 0 0 0;
}

#container #base #right .links .item {
    overflow: hidden;
    margin: 0 20px 0 23px;
    line-height: 18px;
}

#container #base #right .links .item div {
    font-size: 13px;
    text-transform: uppercase;
    color: #7d7d7d;
    margin: 2px 0 18px;
}

#container #base #right .links .item a {
    display: block;
    font-size: 15px;
    color: #11367a;
}

#container #base #right .links .item a span {
    display: inline-block;
    float: left;
    padding: 1px 3px 0;
    height: 17px;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    margin: 0 5px 0 0;
}

#container #base #right .relizations {
    overflow: hidden;
    border-bottom: 1px solid #dcdcdc;
}

#container #base #right .relizations .title {
    overflow: hidden;
    margin: 0;
    line-height: 24px;
    padding: 22px 0 15px 38px;
    background: url('../images/realization.png') no-repeat 19px 26px;
    border-top: 1px solid #dcdcdc;
}

#container #base #right .relizations .main-item {
    overflow: hidden;
    width: 264px;
    margin: 0 auto 18px;
}

#container #base #right .relizations .main-item .image {
    overflow: hidden;
    display: block;
    position: relative;
}

#container #base #right .relizations .main-item .image img {
    overflow: hidden;
    display: block;
}

#container #base #right .relizations .main-item .image .label {
    display: block;
    position: absolute;
    right: 0;
    top: 14px;
    z-index: 1;
    height: 21px;
    padding: 0 6px;
    background: #d94005;
    text-transform: uppercase;
    color: #fff;
    font-size: 12px;
    line-height: 21px;
    font-family: 'source_sans_prosemibold';
}

#container #base #right .relizations .main-item .title {
    overflow: hidden;
    display: block;
    background: 0;
    padding: 0;
    text-align: center;
    line-height: 23px;
    font-size: 17px;
    color: #11367a;
    margin: 12px 0 0;
    border: 0;
    cursor: pointer;
}

#container #base #right .relizations .item {
    overflow: hidden;
    margin: 0 20px 0 23px;
    line-height: 18px;
}

#container #base #right .relizations .item div {
    font-size: 13px;
    text-transform: uppercase;
    color: #7d7d7d;
    margin: 2px 0 18px;
}

#container #base #right .relizations .item a {
    display: block;
    font-size: 15px;
    color: #11367a;
}

#container #base #right .relizations .item a span {
    display: inline-block;
    float: left;
    padding: 1px 3px 0;
    height: 17px;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    margin: 0 5px 0 0;
}

#container #base #left .product-row {
    width: 877px;
    overflow: hidden;
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    padding: 30px 0 21px 2px;
}

#container #base #left .product-row.even {
    border: #dcdcdc 1px solid;
    padding: 29px 0 20px 2px;
}

#container #base #left .product-row .item {
    overflow: hidden;
    width: 256px;
    float: left;
    margin: 0 17px 0 0;
    padding: 0 0 0 17px;
}
#container #base #left .product-row .item + .item {
    border-left: 1px solid #dcdcdc;
}
#container #base #left .product-row .item .image {

}
#container #base #left .product-row .item .title {
    font-family: 'source_sans_prolight';
    font-size: 19px;
    color: #11367a;
    line-height: 21px;
    display: block;
    margin: 13px 0 10px;
    padding: 0;
}
#container #base #left .product-row .item .title:hover {
    text-decoration: none;
    color: #000;
    cursor: pointer;
}
#container #base #left .product-row .item .desc {
    font-size: 13px;
    line-height: 23px;
    color: #11110f;
    margin: 0 0 10px;
}
#container #base #left .product-row .item .desc b {
    font-family: 'source_sans_prosemibold';
}

#container #footer {
    overflow: hidden;
    background-color: #2e2e2d;
    -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    border: solid 1px #3f4142;
}

#container #footer .row_1 {
    height: 67px;
    border: solid 1px #3a3a39;
    background: url('../images/logo2.png') no-repeat 59px 26px;
}

#container #footer .row_1 .social {
    width: 153px;
    height: 67px;
    float: left;
    margin: 0 0 0 199px;
}

#container #footer .row_1 .social span {
    width: 91px;
    height: 18px;
    line-height: 18px;
    float: left;
    font-size: 12px;
    color: #979796;
    margin: 26px 0 0;
}

#container #footer .row_1 .social a {
    float: left;
    width: 18px;
    height: 18px;
    margin: 26px 12px 0 0;
    background: url('../images/fb.png') no-repeat 0 0;
}

#container #footer .row_1 .social a + a {
    float: left;
    width: 32px;
    height: 13px;
    margin: 30px 0 0;
    background: url('../images/yt.png') no-repeat 0 0;
}

#container #footer .row_1 .newsletter {
    width: 316px;
    height: 50px;
    float: left;
    margin: 17px 0 0 132px;
}

#container #footer .row_1 .newsletter label {
    float: left;
    width: 94px;
    height: 34px;
    line-height: 38px;
    font-size: 18px;
    color: #d2d2d2;
}

#container #footer .row_1 .newsletter input {
    float: left;
    width: 204px;
    height: 20px;
    background: #d5d5d5;
    border: 0;
    padding: 7px 9px;
    color: #7d7d7d;
    outline: none;
}

#container #footer .row_1 .copyright {
    width: 200px;
    height: 48px;
    float: left;
    font-size: 12px;
    color: #979796;
    line-height: 19px;
    margin: 19px 0 0 175px;
}

#container #footer .row_2 {
    float: left;
    overflow: hidden;
}

#container #footer .row_2 .menu-bottom {
    margin: 20px 0 39px;
    width: 619px;
    float: left;
}

#container #footer .row_2 .menu-bottom ul {
    padding: 0;
    list-style: none;
    float: left;
}

#container #footer .row_2 .menu-bottom ul li {
    display: block;
}

#container #footer .row_2 .menu-bottom ul li a {
    display: block;
    font-size: 13px;
    color: #d5d5d5;
    line-height: 25px;
}

#container #footer .row_2 .menu-bottom .col_1 {
    margin: 0 0 0 58px;
    width: 140px;
}

#container #footer .row_2 .menu-bottom .col_2 {
    width: 200px;
    margin: 0;
}

#container #footer .row_2 .menu-bottom .col_3 {
    width: 221px;
    margin: 0;
}

#container #footer .row_2 .contact {
    width: 560px;
    margin: 20px 0 39px;
    float: left;
    color: #7d7d7c;
    font-size: 12px;
    line-height: 25px;
}

#container #footer .row_2 .contact p {
    margin: 0;
    padding: 0;
}

#container #footer .row_2 .contact .col_1 {
    float: left;
    width: 320px;
    padding: 0;
    margin: 0;
}

#container #footer .row_2 .contact .col_2 {
    float: left;
    width: 240px;
    padding: 0;
    margin: 0;
}

#container #footer .row_2 .contact .col_2 a {
    float: left;
    padding: 0 12px 0 0;
    background: url('../images/border.jpg') no-repeat right 6px;
    color: #d4d5d5;
}

#container #footer .row_2 .contact .col_2 a + a {
    border: 0;
    padding: 0 0 0 10px;
    background: none;
}

#container #base #left.news-list > .title {
    border: 1px solid #dcdcdc;
    margin: 0;
    background: url('../images/globe.png') no-repeat 22px 24px;
    font-size: 19px;
    line-height: 33px;
    color: #11110f;
    margin: 0;
    padding: 15px 42px 3px;
}

#container #base #left.news-list .slider {
    background: #fdcc40;
    border-left: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
    position: relative;
}

#container #base #left.news-list .slider .item, #container #base #left.news-list .major {
    border: 1px solid #dcdcdc;
    overflow: hidden;
}

#container #base #left.news-list .slider .item .image, #container #base #left.news-list .major .image {
    display: block;
    float: left;
    margin: 20px 19px 15px 20px;
}

#container #base #left.news-list .slider .item .rest, #container #base #left.news-list .major .rest {
    display: block;
    float: left;
    margin: 20px 20px 15px 0;
    width: 690px;
}

#container #base #left.news-list .slider .item .rest .title, #container #base #left.news-list .major .rest .title {
    display: block;
    padding: 0;
    margin: 4px 0 0 0;
    font-size: 19px;
    color: #11367a;
}

#container #base #left.news-list .slider .item .rest .title {
    color: #000;
}

#container #base #left.news-list .slider .item .rest .title span, #container #base #left.news-list .major .rest .title span {
    display: inline-block;
    float: left;
    line-height: 23px;
    padding: 0 3px;
    height: 21px;
    overflow: hidden;
    color: #fff;
    font-size: 12px;
    margin: 0 5px 0 0;
}

#container #base #left.news-list .slider .item .rest .date, #container #base #left.news-list .major .rest .date {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 23px;
    margin: 4px 0 3px;
}

#container #base #left.news-list .slider .item .rest .text, #container #base #left.news-list .major .rest .text {
    color: #11110f;
    font-size: 13px;
    line-height: 23px;
    overflow: hidden;
}
#container #base #left.news-list .slider .item {
    border: 0;
    z-index: 1 !important;
}

#container #base #left.news-list .slider .nav-prev {
    height: 49px;
    width: 36px;
    background: url('../images/prev2.png') no-repeat 0 0;
    display: block;
    position: absolute;
    left: 0px;
    top: 64px;
    z-index: 2;
    cursor: pointer;
}

#container #base #left.news-list .slider .nav-next {
    height: 49px;
    width: 36px;
    background: url('../images/next3.png') no-repeat 0 0;
    display: block;
    position: absolute;
    right: 0px;
    top: 64px;
    z-index: 2;
    cursor: pointer;
}

#container #base #left.news-list .minor {
    border: 1px solid #dcdcdc;
    border-top: 0;
    overflow: hidden;
}

#container #base #left.news-list .minor .image {
    display: block;
    float: left;
    margin: 20px 19px 15px 20px;
}

#container #base #left.news-list .minor .image * {
    display: block;
    margin: 0;
    padding: 0;
}

#container #base #left.news-list .minor .rest {
    display: block;
    float: left;
    margin: 20px 20px 15px 0;
    width: 690px;
}

#container #base #left.news-list .minor .rest .title {
    display: block;
    padding: 0;
    margin: -1px 0 0 0;
    font-size: 15px;
    color: #11367a;
}

#container #base #left.news-list .minor .rest .title span {
    display: inline-block;
    float: left;
    line-height: 19px;
    padding: 0 3px;
    height: 17px;
    overflow: hidden;
    color: #fff;
    font-size: 11px;
    margin: 0 5px 0 0;
}

#container #base #left.news-list .minor .rest .date {
    color: #7d7d7d;
    font-size: 13px;
    line-height: 23px;
}

#container #base #left.news-list .minor .rest .text {
    color: #11110f;
    font-size: 13px;
    line-height: 23px;
    height: 23px;
    overflow: hidden;
    margin: 5px 0;
}

#container #base #left.news-list .minor:nth-child(even) {
    background: #f8f8f8;
}