{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
{% set user = object.user %}
 <a class="" href="{{ path('admin_cms_elmat_user_edit', {id: object.user.id}) }}">{{ user }}</a>
 <div style="font-size:90%;line-height:1.3em">
 {{ user.firma }}<br />
 {{ user.ulica }}<br />
 {{ user.kodPocztowy }} {{ user.miasto }}<br />
 NIP: {{ user.nip }} <br />
 Tel. {{ user.telefon }}<br />
 {% if user.fax %}
 Fax: {{ user.fax }}
 {% endif %}
 E-mail: {{ user.email }}
 </div>
{% endblock %}