{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var edytor_css = '{{ asset('bundles/cmselmat/css/editor.css') }}';
        var edytor_css2 = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
        var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
    </script>

    <script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        var admin_uniqid = '{{ admin.uniqid }}';

        $(function () {
            $('#' + admin_uniqid + '_sendOnlyToSubscribersWithAccount').change(function () {
                if ($(this).is(':checked')) {
                    $('#offer-types').show();
                } else {
                    $('#offer-types').hide();
                }
            }).change();
        });
    </script>

{%  endblock %}

{% block form_fieldset %}
    <fieldset>
        {% if object.id > 0 %}
            <legend>Edycja</legend>
        
            <div class="sonata-ba-collapsed-fields">
                {{ form_row(form['title'])}}
                {{ form_row(form['message'])}}
                {{ form_row(form['plainTextMessage'])}}
                
                <div class="control-group">
                    <label class=" control-label">Data rozpoczęcia wysyłania:</label>
                    <div class="controls sonata-ba-field sonata-ba-field-standard-natural">
                        {{ object.getStartSendDateText() }}
                    </div>
                </div>
                    
                <div class="control-group">
                    <label class=" control-label">Tylko z kontem:</label>
                    <div class="controls sonata-ba-field sonata-ba-field-standard-natural">
                        {{ object.sendOnlyToSubscribersWithAccount == 1 ? 'Tak' : 'Nie' }}
                    </div>
                </div>
                    
                <div class="control-group">
                    <label class=" control-label">Lista ręczna:</label>
                    <div class="controls sonata-ba-field sonata-ba-field-standard-natural">
                        {{ object.getFormattedRecipientEmails() }}
                    </div>
                </div>
                
                <div class="control-group">
                    <label class=" control-label">Dodatkowe filtry, tylko dla klientów z kontem:</label>
                    <div class="controls sonata-ba-field sonata-ba-field-standard-natural">
                        {{ object.getOfferTypeNames() }}
                    </div>
                </div>
                
                <div class="control-group">
                    <label class=" control-label">Ilość subskrybentów:</label>
                    <div class="controls sonata-ba-field sonata-ba-field-standard-natural">
                        {{ object.getRecipientsCount() }}
                    </div>
                </div>
                    
                <div class="control-group">
                    <label class=" control-label">Status wysyłki:</label>
                    <div class="controls sonata-ba-field sonata-ba-field-standard-natural">
                        {{ object.getStatus() | nl2br }}
                    </div>
                </div>
            </div>
        {% else %}
            <legend>Dodawanie</legend>
        
            <div class="sonata-ba-collapsed-fields">
                {{ form_row(form['title'])}}
                {{ form_row(form['startSendDate'])}}
                {{ form_row(form['message'])}}
                {{ form_row(form['plainTextMessage'])}}
                {{ form_row(form['recipientEmails'])}}
                {{ form_row(form['sendOnlyToSubscribersWithAccount'])}}
            </div>
            
            <div class="control-group" id="offer-types">
                {{ form_row(form['offerTypeIds'])}}
            </div>
        {% endif %}
    </fieldset>
{% endblock %}
