{% extends 'SonataAdminBundle:CRUD:show.html.twig' %}

{% block show %}
    <div class="sonata-ba-view">
        <h1>{{ object }}</h1>
        <h2>Status:</h2>
        <h3>{{ object.getStatus() | nl2br }}</h3>
        
        <table class="table">
            <tr>
                <th>L.p.</th>
                <th>Data wysłania</th>
                <th>Email</th>
                <th>Status</th>
            </tr>
            
            {% for recipient in object.recipients %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>
                        {% if recipient.sentDate %}
                            {{ recipient.sentDate | date('Y-m-d H:i:s') }}
                        {% else %}
                            brak
                        {% endif %}
                    </td>
                    <td>{{ recipient.newsletterSubscriber.email }}</td>
                    <td>{{ recipient.getStatusDescription() }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
