<form class="newsletter" method="post" action="{{ path('cms_elmat_newsletter_sidebar_newsletter_subscribe') }}" novalidate>
    <div class="header">ELMAT Newsletter</div>
    <div class="info">
        Chcesz otrzymywać najnowsze informacje?<br /><span>Zapisz się do newslettera!</span>
    </div>
    
    {{ form_widget(form.email, {attr: {placeholder: 'Podaj adres e-mail'}}) }}
    <input type="submit" value="" title="Zapisz się"/>
    {{ form_errors(form.email) }}
    {{ form_rest(form) }}
    
    {% if isSubscriptionCreated %}
        <div class="form-info">
            {{ cms_config.get('ust_newsletter_nowa_subskrypcja_komunikat') }}
        </div>
    {% endif %}
</form>
