<div class="sideBar right newsletterWithFacebook" data-anim-width="240">
    <div class="label"></div>
    <div class="content">
        {% include 'CmsElmatBundle:Newsletter:sidebarNewsletterForm.html.twig' with { 
            'form': form, 
            'isSubscriptionCreated': isSubscriptionCreated } only %}
        
        <div class="facebook">
            {{ cms_config.get('facebook_sidebar_plugin', '') | raw }}
        </div>
    </div>
</div>
