{% block google_recaptcha_widget %}
    {% spaceless %}
        <script src="https://www.google.com/recaptcha/api.js?hl=en" async defer></script>
        <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
    {% endspaceless %}
{% endblock google_recaptcha_widget %}
