{% extends 'CmsElmatBundle::base_layout.html.twig' %}

{% block body_class %}error{% endblock %}

{% block page %}

<div class="center" style="padding: 40px 0px 100px 0px; text-align: center;width: 881px;">

    <img src="{{ asset('bundles/cmselmat/images/404.jpg') }}" style="margin-bottom: 20px;" />
    <br /><br />
    <a href="/" title="Przejdź do strony głównej">
        <img src="{{ asset('bundles/cmselmat/images/powrot_do_glownej.jpg') }}" />
    </a>

</div>

{% endblock %}