

{% set menuItem = knp_menu_get('CmsElmatBundle:Builder:managedMenu', [], {'location': location, 'depth': depth}) %}
{#<div id="menu_main">
{{ knp_menu_render(menuItem) }}
</div>#}
{# {{ knp_menu_render(menuItem,  { 'template': 'CmsElmatBundle:Menu:knp_main_gorne1.html.twig' })}} #}

{% render controller('CmsElmatBundle:Default:menu_offer_groups') %}
{{ knp_menu_render(menuItem,  { 'template': 'CmsElmatBundle:Menu:knp_main_gorne1.html.twig' })}} 


{# { 'template': 'CmsElmatBundle:Menu:knp_main_gorne1.html.twig' })  #}
