<ul id="menu-left">
{% set cur_lvl = 0 %}
{% for menuitem in menu %}

{% if menuitem.lvl > cur_lvl %}
<ul><li>
{% endif %}
{% if menuitem.lvl < cur_lvl %}
    {% for i in 0..(cur_lvl-menuitem.lvl-1) %}
    </li></ul>
    {% endfor %}
</li>
<li>
{% endif %}
{% if menuitem.lvl == cur_lvl %}
<li>
{% endif %}

    <a href="{% if menuitem.route!='' %}{{ path( menuitem.route, menuitem.RouteParametersArray) }}{% endif %}" title="{{ menuitem.name }}">{{ menuitem.name }}</a>


{% set cur_lvl = menuitem.lvl %}

{% endfor %}
</ul>


