{% if artykuly_techniczne|length > 0 %}
<div class="box-right">
    <h2 class="hp_header hp_header_dotted"><span>{{ 'label.artykuly_techniczne'|trans }}</span></h2>
    <div class="box-content box-artykulytechniczne box-carousel" data-curr="0">

    {% for art in artykuly_techniczne %}
        <a class="box-item {% if loop.first %}current{% elseif loop.index == 2 %}next{% elseif loop.last %}prev{% endif %}"

        href="{{ url('cms_elmat_article_show', {type: art.type, id: art.id, slug: art.slug }) }}">
            <span class="np-img">
                {% if art.getWebPath() %}
                <img src="{{ asset(art.getWebPath() | imagine_filter('najnowsze_produkty')) }}" />
                {% endif %}
            </span>
            <span class="np-txt">
                {{ art.getTitle() }}
            </span>
        </a>
    {% endfor %}


        {% if artykuly_techniczne|length > 1 %}
        <div class="bc-controlls">
            <a class="bc-left" href="javascript:void(0);"></a></span>
            <a class="bc-right" href="javascript:void(0);"></a></span>
        </div>
        {% endif %}

    </div>
</div>
{% endif %}