 {% if box_najnowsze_produkty|length > 0 %}
    <div class="news-products">
        <div class="title">New products</div>
        
        <div class="slider cycle-slideshow" 
                                     data-cycle-fx=fade
                                     data-cycle-timeout=2000
                                     data-cycle-slides="> div.item"
                                     data-cycle-prev=".nav-prev"
                                     data-cycle-next=".nav-next">

        {% for art in box_najnowsze_produkty %}
            
            <div class="item">
                {% if art.getWebPath() %}
                <a class="image" href="{{ url('cms_elmat_product_show', { id: art.id, slug: art.slug }) }}">
                    <img src="{{ asset(art.getWebPath() | imagine_filter('najnowsze_produkty')) }}" />
                </a>
                {% endif %}
                
                <a class="name" href="{{ url('cms_elmat_product_show', { id: art.id, slug: art.slug }) }}">
                    {{ art.getTitle() }}
                </a>
                <div class="date">{{ art.publishDate|localizeddate('long', 'none', 'en_EN') }}</div>
                {% if art.category and art.category.offerGroup %}
                <div class="category color_{{ art.category.offerGroup.id }}">{{ art.category.offerGroup }}</div>
                {% endif %}
                 <div class="clear"></div>
                <div class="text">
                    {{ art.description|truncate(150, true)|raw }}
                </div>
            </div>
            
        {% endfor %}

        {% if box_najnowsze_produkty|length > 1 %}
        <div class="nav-prev"></div>
        <div class="nav-next"></div>
        {% endif %}

        </div>
    </div>
   {% endif %}