{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block page_class %}page-products page-text page-single padding-bottom{% endblock %}

{% block title %}Contact - {{ parent() }}{% endblock %}
{% block description %}Contact. {{ parent() }}{% endblock %}
{% block keywords %}Contact,{{ parent() }}{% endblock %}


{% block page_header %}
	Contact
{% endblock %}

{% block page_content %}
    
    <div class="site-description">

    
    <div class="login-header">Contact form</div>
    
    
     <p>{{ cms_config.get('txt_formularz_kontaktowy_wstep') | raw }}</p>


    {% if message == 'sent' %}

    <div style="padding:20px 0">
		{{ cms_config.get('txt_formularz_podziekowanie', 'Your message has been sent. Thank you for using the form.') }}
    </div>

	{% else %}

    
    <form class="login-form wide" id="form_contact" action="{{ path("cms_elmat_default_contact") }}" method="post" {{ form_enctype(form) }}  >





{#                     {% if error %}#}
{#                     <div class="control-group">#}
{#                         <label for="username">&nbsp;</label>#}

{#                         <div class="controls">#}
{#                             <div class="error alert alert-error">{{ error|trans }}</div>#}
{#                         </div>#}
{#                     </div>#}

{#                     {% endif %}#}

            <div class="control-group">
                {{ form_errors(form.firma) }}
                    {{ form_label(form.firma) }}
                    {{ form_widget(form.firma) }}
            </div>

            <div class="control-group">
                 {{ form_errors(form.imie_nazwisko) }}
                {{ form_label(form.imie_nazwisko) }}
                {{ form_widget(form.imie_nazwisko) }}
            </div>

            <div class="control-group">
                {{ form_errors(form.email) }}
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}
            </div>

            <div class="control-group">
                 {{ form_errors(form.telefon) }}
                    {{ form_label(form.telefon) }}
                    {{ form_widget(form.telefon) }}
               
            </div>

            <div class="control-group">
                 {{ form_errors(form.tresc) }}
                
                    {{ form_label(form.tresc) }}
                    {{ form_widget(form.tresc) }}
            </div>

            <div class="control-group">
                {{ form_errors(form.google_recaptcha) }}
                {{ form_label(form.google_recaptcha) }}
                {{ form_widget(form.google_recaptcha) }}
            </div>

            <div class="control-group">
             
                   <input type="submit" class="button button1" value="Send" />
               
            </div>

{#            <div>
            <br /><br />#}
            {#<span style="color:red">*</span> - uzupełnienie tego pola jest wymagane
            {#</div>#}


        {% do form['g-recaptcha-response'].setRendered %}
        {{  form_rest(form) }}


   {% if form_errors(form) %}
	<div style="padding: 13px 0;color: red;width: 220px" class="">
	 	{{ form_errors(form) }}
	</div>
   {% endif %}




    </form>

    {% endif %}
     
    </div>

{% endblock %}