<ul class="domains-menu">
    {% for og in offerGroups %}
        <li class="item-{{ loop.index }}">
            <a {% if og.isEnabled() %}href="{{ path(og.getRoute()) }}"{% endif %} title="{{ og.title }}">
                {% if og.getWebPath() %}
                    <img src="{{ asset(og.getWebPath() | imagine_filter('main_slider_offer_group') ) }}" />
                {% endif %}
                <span>{{ og.title }}</span>
            </a>
        </li>
    {% endfor %}
</ul>
