{% if id > 0 
   and type != '' %}

{% if og == '' %}
    {% set og = 'elmat' %}
{% endif %}

<span id="edit_obj_url" style="display:none"></span>
<script type="text/javascript" src="{{ url('cms_elmat_default_edit_link_script', {id: id, type: type, og: og}) }}"></script>
        
{# {{ url('cms_elmat_default_edit_link_script', {id: id, type: type, og: og}) }} #}
{% endif %}