<div class="box realizations standardSlider">
    <a class="header" href="{{ path('cms_elmat_live_category', {slug: 'realizacje'}) }}">
        Projects
    </a>
    
    <div class="slider cycle-slideshow" 
         data-cycle-fx="fade"
         data-cycle-timeout="6000"
         data-cycle-slides="> div.item"
         data-cycle-pager=".box.realizations .nav"
         data-cycle-pager-template="<span></span>">
        
        {% for obj in highlights_news_realizacje %}
            <div class="item">
                {% set item_href = url('cms_elmat_live_shownews', {id: obj.id, slug: obj.slug}) %}
                {% set item_img = asset(obj.getWebPath() | imagine_filter('najnowsze_produkty')) %}
                
                <a class="image" href="{{ item_href }}">
                    <img src="{{ item_img }}"/>
                </a>
                
                <a class="name" href="{{ item_href }}">
                    {{ obj.getTitle() | truncate(50) }}
                </a>
            </div>
        {% endfor %}
    </div>
    
    {% if highlights_news_realizacje | length > 1 %}
        <div class="nav"></div>
    {% endif %}
</div>
