<div class="homepage-box services">
    <a class="header" href="{{ path('cms_elmat_article_category_uslugi') }}">
        {{ 'label.uslugi' | trans }}
    </a>
    
    <div class="items">
    {% for item in uslugi %}
        {% if loop.index <= 3 %}
            <div class="item">
                <a href="{{ path('cms_elmat_article_show', {type: item.type, slug: item.slug, id: item.id}) }}" class="title">
                    {{ item.title }}
                </a>
                
                <div class="text">
                    {{ item.description | truncate(340, true, '...') }}
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
