<div class="box resources">
    <a class="header" href="{{ path('cms_elmat_zasoby_show', {id: 8, slug: 'katalogi-produktowe'}) }}">
        Resources
    </a>
    
    <div class="slider cycle-slideshow" 
         data-cycle-fx="carousel"
         data-cycle-timeout="6000"
         data-cycle-slides="> .items-group"
         data-cycle-pager=".box.resources .nav"
         data-cycle-pager-template="<span></span>">
        
        {% for resource in resources %}
            {% if loop.first %}
                <div class="items-group">
            {% elseif loop.index0 % 2 == 0 %}
                </div><div class="items-group">
            {% endif %}

            <div class="item" title="{{ resource.title }}">
                <a class="image" href="{{ path('cms_elmat_plik_pobierz', {id: resource.plik.id}) }}">
                    <img src="{{ asset(resource.getWebPath() | imagine_filter('homepage_resources')) }}"/>
                    <span class="label"></span>
                </a>
            </div>
                    
            {% if loop.last %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    
    {% if resources | length > 1 %}
        <div class="nav"></div>
    {% endif %}
</div>
