<div class="news">
    <div class="news-title">
        <a href="{{ path('cms_elmat_live_main') }}">{{ 'label.aktualnosci' | trans }}</a>

        <ul>
            {% for cat in categories_arr %}
                <li class="{% if loop.index == 1 %}selected{% endif %}">
                    <span>{{ cat.title }}</span>
                </li>
            {% endfor %}
        </ul>
    </div>

    {% for cat in categories_arr %}
        {% set news_cat = [] %}

        {% for item in news %}
            {% if item.category.id == cat.id %}
                {% set news_cat  = news_cat|merge([item]) %}
            {% endif %}
        {% endfor %}

        <div class="category {% if loop.index == 1%}selected{% endif %}">
            <div class="main-item">
                {% for item in news_cat[0:1] %}
                    {% if item.getWebPath %}
                        <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" title="{{ item.title }}" class="image">
                            <img src="{{ asset( item.getWebPathCrop() | imagine_filter('news_homepage') ) }}" alt="{{ item.title }}" />
                        </a>
                    {% endif %}

                    <div class="data">
                        <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" title="{{ item.title }}" class="name">
                            {{ item.title | truncate(35, true) }}
                        </a>

                        <div class="category-with-date">
                            {% if item.category and app.request.get('_domain_symbol_slug') == '' %}
                                <div class="category-name">
                                    {{ item.category.title }}
                                </div>
                            {% endif %}

                            <div class="date">
                                {{ item.publishDate | localizeddate('long', 'none', 'en_EN') }}
                            </div>

                            <div class="clear"></div>
                        </div>

                        <div class="text">
                           {{ item.description | truncate(120, true) | raw }}
                        </div>

                        <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" class="more">
                            More
                        </a>
                    </div>
                {% endfor %}
            </div>

            <ul class="rest-items">
                {% for item in news_cat[1:] %}
                    <li>
                        <a href="{{ path(route_news_show, {slug: item.slug, id: item.id}) }}" title="{{ item.title }}">
                            <span class="name">{{ item.title | truncate(60, true) }}</span>
                            <span class="date">{{ item.publishDate | localizeddate('long', 'none', 'en_EN') }}</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
