{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block page_header %}
    {% if fraza %}
        Search results
    {% else %}
        Search
    {% endif %}
{% endblock %}
    
{% block page_class %}page-products page-text page-search{% endblock %}

{% block page_content %}

    {% if fraza %}
        <div class="s-tit">Below you can find search results for phrase <b>&quot;{{ fraza }}&quot;</b>. Positions found:
            <b>{{ results.getTotalItemCount }}</b>.
        </div>
    {% else %}
        <div class="s-tit">Enter below the word to search. The minimum length is 3 characters</div>
    {% endif %}

    <div id="top_search2">

        <form method="post" action="{{ path('cms_elmat_default_szukaj', {fraza: ''}) }}" id="sz_form">
            <input type="text" name="fraza" value="{{ fraza|default('') }}" id="top_search_keyword2" placeholder="Szukaj..." onchange="$('#sz_form').submit();" />
            {# <input type="submit" name="search_submit" id="search_submit2" value=""/>#}
            <input type="hidden" name="typ" value="{{ typ }}" id="sz_typ" />

            <select name="typ" style="" onchange="$('#sz_typ').val($(this).val()); $('#sz_form').submit();">
                <option {% if typ == '' %}selected{% endif %} value="">Everywhere</option>
                <option {% if typ == 'news' %}selected{% endif %} value="news">News</option>
                <option {% if typ == 'prod' %}selected{% endif %} value="prod">Products</option>
                <option {% if typ == 'pages' %}selected{% endif %} value="pages">Pages</option>
            </select>
            
             <span class="c-res" style="">
            {% if results|length %}
                {{ (page * limit) - (limit - 1) }}-{{ (page * limit) }} of {{ results.getTotalItemCount }} results in:
            {% else %}
                Search in:
            {% endif %}
            </span>

            <input type="submit" style="display:none" value="Szukaj" />
        </form>
    </div>

    {% for res in results %}
        <div class="s-res {% if loop.index is odd %}odd{% else %}even{% endif %}">
            <div class="s-res-t"><a href="{{ res.url }}">{{ res.title|raw }}</a></div>
            <div class="s-res-c">{{ res.content|raw }}</div>
            <div class="s-res-l"><a href="{{ res.url }}">{{ res.url }}</a></div>
        </div>
    {% endfor %}

    {% if results|length %}
        {{ knp_pagination_render(results) }}
    {% endif %}
{% endblock %}
    
    
    