
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}

    {% if object.firma %}
    {{ object.firma }}<br />
    {{ object.ulica }}<br />
    {{ object.kodPocztowy }} {{ object.miasto }}<br />
    woj. {{ object.wojewodztwo }}
    tel. {{ object.telefon }}

    {% endif %}

    {% if object.firstname %}
    {{ object.firstname }} {{ object.lastname }}
    {% endif %}

{% endblock %}


