<!DOCTYPE html>
<html>
    <head>
    {% block head %}
    	{% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="Description" content="{% block description %}{% endblock %}" />
        <meta name="Keywords" content="{% block keywords %}{% endblock %}" />
	{% endblock %}
        
        {% block stylesheets %}
        <link href='http://fonts.googleapis.com/css?family=Roboto:900,400,300,700,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/select2.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/colorbox.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/style.css?ver=2') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/datepicker.css') }}" type="text/css" media="all" />
        <link rel="shortcut icon" href="{{ asset('/favicon.ico') }} " />
        {% endblock %}
        
        {% block javascripts %}
        <script src="{{ asset('bundles/cmselmat/js/jquery-1.10.2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.cycle2.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.cycle2.carousel.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.colorbox-min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/jquery.colorbox.pl.js') }}" type="text/javascript"></script>
        <script src="{{ asset('bundles/cmselmat/js/select2.min.js') }}" type="text/javascript"></script>
        <!-- Facebook Pixel Code -->
        <script>
        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
        n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
        document,'script','https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '486412334862695'); // Insert your pixel ID here.
        fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=486412334862695&ev=PageView&noscript=1"
        /></noscript>
        <!-- DO NOT MODIFY -->
        <!-- End Facebook Pixel Code -->
        <script type="text/javascript">
            var cms_config = {
               {# 'ust_zmieniarka_strona_glowna_interwal': '{{ cms_config.get('ust_zmieniarka_strona_glowna_interwal', 8000) }}'#}
            };
            var url_training_calendar = '{{ path('cms_elmat_training_calendar') }}';
            var url_training_terminy = '{{ path('cms_elmat_training_terminy') }}';
        </script>

        <script src="{{ asset('bundles/cmselmat/js/scripts.js') }}" type="text/javascript"></script>
        {#<script src="{{ asset('bundles/cmselmat/js/jquery.uniform.min.js') }}"></script>#}
        {% endblock %}
    {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}">

{%  set domain_symbol2 = app.request.get('_domain_symbol2') %}
{%  if domain_symbol2 %}
{%  set _domain_symbol2 = '_' ~ domain_symbol2 %}
{%  else  %}
{%  set _domain_symbol2 = domain_symbol2 %}
{% endif %}

    {% block body %}

        {% block top %}
        <div id="container">
            <div id="top">

                {% block top_logo %}
                <a href="{{ path('cms_elmat_default_homepage') }}" title="" id="logo">
                    <img src="{{ asset('bundles/cmselmat/images/logo.png') }}" alt=""/>
                </a>
                {% endblock %}

                <div id="top_search">
                    <form method="post" action="{{ path('cms_elmat_default_szukaj', {fraza: ''}) }}">
                        <input type="text" name="fraza" value="{{ fraza|default('') }}" id="search" placeholder="Search"/>
                        {# <input type="submit" name="search_submit" id="search_submit" value=""/> #}
                    </form>
                </div>
                
                {#
                <a href="" title="" id="sitemap_link"><img src="{{ asset('bundles/cmselmat/images/sitemap.png') }}" alt=""/></a>
                #}

                {#
                <div id="change_lang">
                    <a href="{{ path('CmsElmatBundle_changelang', { '_locale': 'pl' }) }}" title=""><img src="{{ asset('bundles/cmselmat/images/lang_pl_act.png') }}" alt=""/></a>
                    <a href="{{ path('CmsElmatBundle_changelang', { '_locale': 'en' }) }}" title=""><img src="{{ asset('bundles/cmselmat/images/lang_en.png') }}" alt=""/></a>
                </div>
		#}

                {#{% block menu_gorne %}#}
                {#<ul id="menu-top">
                {% render controller("CmsElmatBundle:Menu:managed", {location: 'menu_gorne1', depth: 1}) %}
                </ul>#}
                {#{% endblock %}#}

                {% block menu_gorne %}
                    {% set menu_gorne_location = 'menu_gorne1' %}

                    {% if domain_symbol2 %}
                    {% set menu_gorne_location = 'menu_gorne_' ~ domain_symbol2 %}
                    {% endif %}

                    <ul id="menu-top">
                    {% render controller("CmsElmatBundle:Menu:managed", {location: menu_gorne_location, depth: 3}) %}
                    </ul>
                {% endblock %}

                <div id="languages">
                    <a href="http://fibrain.pl" class="pl"></a>
                    <a href="http://fibrain.com" class="en"></a>
                </div>

                <div class="clear"></div>
            </div>

             {% block top_banner %}{% endblock %}

             {% block body_content %}
                <div id="base" class="{% block base_class %}{% endblock %}">
                    {% block base_content %}
                    <div class="column">
                        <div class="resizer">
                            {% block breadcrumb %}
                                {{ wo_render_breadcrumbs() }}
                            {% endblock %}
                            
                            <div class="clear"></div>

                            {#  <div class="page {% block page_class %}{% endblock %}">#}
                            {% block page %}{% endblock %}
                            {# </div>#}
                            {% block base_bottom %}{% endblock %}
                        </div>
                    </div>
                    {% endblock %}
                </div>

            {% endblock %}

            {% block footer %}

            <div id="footer">
                <div class="row_1">
                    <div class="social">
                        <span>Find us</span>
                           {% set link_youtube = cms_config.get('txt_stopka_link_youtube', 'http://www.youtube.com') %}
                           {% set link_facebook = cms_config.get('txt_stopka_link_facebook', 'http://www.facebook.com') %}

                          <a class="facebook" href="{{ link_facebook }}" title="Facebook"> </a>
                          <a class="youtube" href="{{ link_youtube }}" title="Youtube"> </a>

                    </div>
                    {#<div class="newsletter">
                        <label for="newsletter">Newsletter</label>
                        {% render controller("CmsElmatBundle:Newsletter:subscribe", {req: app.request}) %}

                    </div>#}
                    <div class="copyright">
                       {{ cms_config.get('txt_stopka_copyrights')|raw }}
                    </div>
                </div>
                <div class="row_2">
                    <div class="menu-bottom">
                        <div class="col_1">
                        {% set menuItem = knp_menu_get('CmsElmatBundle:Builder:managedMenu', [], {'location': 'bottom_menu1'}) %}
                        {{ knp_menu_render(menuItem) }}
                        </div>
                        <div class="col_2">
                            {% set menuItem = knp_menu_get('CmsElmatBundle:Builder:managedMenu', [], {'location': 'bottom_menu2'}) %}
                            {{ knp_menu_render(menuItem) }}
                        </div>
                        <div class="col_3">
                            {% set menuItem = knp_menu_get('CmsElmatBundle:Builder:managedMenu', [], {'location': 'bottom_menu3'}) %}
                            {{ knp_menu_render(menuItem) }}
                        </div>

                    </div>

                    <div class="contact">
                        <div class="col_1">
                           {{ cms_config.get('footer_adress', '')|nl2br|raw }}
                        </div>
                        <div class="col_2">
                            <p>Contact</p>
                            <p>Tel: +48 17 86 60 800</p>
                            <p>Fax: +48 17 86 60 810</p>
                            <p>
                                <a href="#">www.fibrain.com</a>
                                <a href="mailto:info@fibrain.com">info@fibrain.com</a>
                            </p>
                            <div class="clear"></div>
                            <p>
                                <span class="light">Realization:&nbsp;&nbsp;</span>
                                <a class="lemonade" href="http://www.lemonadestudio.pl" title="Lemonade Studio - aplikacje webowe, portale, strony www" ></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            {% endblock %}


        </div>

        {% endblock %}

    {% endblock %}

    {% for flashMessage in app.session.flashbag.get('popup') %}
        <script type="text/javascript">

            $(function() {
                $.colorbox({html: '<div style="padding: 40px;min-width: 300px;">{{ flashMessage }}</div>'});
            });

        </script>
    {% endfor %}
    
    <script>{{ cms_config.get('js_footer', '') | raw }}</script>
        
    </body>
</html>