{% if app.request.cookies.get('cookies-agree') != 1 %}

<style type="text/css">
    .cookies-agree {
        background: #206bab;
        padding: 17px 36px 21px 36px;
        position: fixed;
        bottom: 0;
        font-family: Arial, sans-serif;
        color: #fff;
        z-index: 99999;
        opacity: 0.88;

    }
    .cookies-agree a:hover,
    .cookies-agree a {
        color: #fff;
        text-decoration: underline;
        font-weight: bold;
    }
    .cookies-agree p.title {
        font-size: 12px;
        font-weight: bold;
        padding: 0;
        margin-bottom: 0px;
    }
    .cookies-agree p.info {

        font-size: 11px;
        font-weight: normal;
        padding: 0;
    }
    .cookies-agree p.info {

    }
    .cookies-agree .close {
        font-size: 29px;
        font-weight: bold;
        float: right;
        cursor: pointer;
        position: absolute;
        right: 16px;
        top: 10px;
        padding: 4px;
        text-decoration: none;
        display: inline-block;
        height: 20px;
        width: 20px;
        line-height: 20px;
    }

</style>

<script type="text/javascript">
function cookies_agree() {
	__cookies_div = document.getElementById('cookies-ue-agree-block');
	__cookies_div.style.display="none";

	var c_name = 'cookies-agree';
	var c_value = '1';
	var c_exdays=999;
	var c_exdate=new Date();
	c_exdate.setDate(c_exdate.getDate() + c_exdays);
	var cc_value=escape(c_value) + ((c_exdays==null) ? "" : "; expires="+c_exdate.toUTCString());
	document.cookie=c_name + "=" + cc_value + "{% if app.request.get('_domain_cookies') %};domain={{ app.request.get('_domain_cookies') }}{% endif %};path=/";
}
</script>

<div id="cookies-ue-agree-block" class="cookies-ue cookies-block cookies-agree">
    <span class="close" onclick="cookies_agree()">&times;</span>
    <p class="title">{{ cms_config.get('ust_cookies_tytul') }}</p>
    <p class="info">{{ cms_config.get('ust_cookies_komunikat') }}
    <a href="javascript:;" onclick="cookies_agree()"> {{ cms_config.get('ust_cookies_zgoda_link') }}</a>
    {#{{ dump( app.request ) }}#}
    </p>

</div>

{% endif %}