{% extends 'CmsElmatBundle::base_layout.html.twig' %}

{% set domain_symbol2 = app.request.get('_domain_symbol2') %}
{% if domain_symbol2 %}
    {% set _domain_symbol2 = '_' ~ domain_symbol2 %}
{% else %}
    {% set _domain_symbol2 = domain_symbol2 %}
{% endif %}

{% block description %}{{ cms_config.get('seo_description' ~ _domain_symbol2) }}{% endblock %}
{% block keywords %}{{ cms_config.get('seo_keywords' ~ _domain_symbol2) }}{% endblock %}
{% block title %}{{ cms_config.get('seo_title' ~ _domain_symbol2) }}{% endblock %}

{% block body_class %}main {% if app.request.get('_domain_symbol') != 'elmat' %}submain{% endif %}{% endblock %}

{% block top_logo %}
    {% if app.request.get('_domain_symbol') == 'elmat' %}
        {{ parent() }}
    {% else %}
        <a href="{{ path('cms_elmat_default_homepage_'  ~ domain_symbol2 ) }}" title="" id="logo">
            {% if domain_symbol2 == 'structural_cabling' %}
                <img src="{{ asset('bundles/cmselmat/images/logo_fibrain_data.png') }}" alt="" />
            {% else %}
                <img src="{{ asset('bundles/cmselmat/images/logo_fibrain.png') }}" alt="" />
            {% endif %}
        </a>
    {% endif %}
{% endblock %}

{% block top_banner %}{% endblock %}

{% block page %}
    {% block left_column %}
        <div id="left" class="{% block left_class %}{% endblock %}">
            {% block content %}
                {% block page_title %}
                    <div class="site-title">
                        <div class="head">{% block page_header %}{% endblock %}</div>
                        <div class="desc gray">{% block page_date %}{% endblock %}</div>
                    </div>
                {% endblock %}

                {% block page_content %}{% endblock %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block right_column %}
        <div id="right">
            {% block left_column_inner %}
                {% render controller('CmsElmatBundle:Menu:leftmenu', { options: { request: app.request } } ) %}
            {% endblock %}

            {% block left_column_inner2 %}{% endblock %}
        </div>
    {% endblock %}

    <div class="clear"></div>
{% endblock %}
