{% extends 'CmsElmatBundle::base_layout.html.twig' %}

{% block description %}{{ cms_config.get('seo_description_live') }}{% endblock %}
{% block keywords %}{{ cms_config.get('seo_keywords_live') }}{% endblock %}
{% block title %}{{ cms_config.get('seo_title_live') }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#<link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/style-live.css') }}" type="text/css" media="all" />#}
{% endblock %}
    
{% block base_class %}no-color{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block page %}

    <div id="news-menu">
        <div id="news-left">
            <span>Elmat Life & News</span>
            <span>News, highlights, media</span>
        </div>
        <div id="news-right">
            <ul>
                {% for cat in categories %}
                {% if cat.slug == 'aktualnosci-systemowe' %}
                    <li class=" {% if offer_group is defined and offer_group is not null %}current{% endif %}">
                        <a href="{{ path('cms_elmat_live_offergroup', {slug: 'aktualnosci-systemowe'}) }}" title="{{ 'label.aktualnosci_systemowe'|trans }}">{{ 'label.aktualnosci_systemowe'|trans }}</a>
                    </li>
                {% else %}

                    <li class=" {% if ( offer_group is not defined or offer_group is null ) and category is defined and category is not null and category.slug == cat.slug %}current{% endif %}">
                        <a href="{{ path('cms_elmat_live_category', {slug: cat.slug}) }}" title="{{ cat.title }}">{{ cat.title }}</a>
                    </li>
                {% endif %}

                {% if loop.index == 6 %}
            </ul>
            <ul>
                {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
    <div class="clear"></div>

    {% block left_column %}
        <div id="left" class="{% block left_class %}news{% endblock %}">
            {% block content %}
                {% block page_title %}
                    <div class="site-title">
                        <div class="head">{% block page_header %}{% endblock %}</div>
                        <div class="desc gray">{% block page_date %}{% endblock %}</div>
                    </div>
                {% endblock %}

                {% block page_content %}{% endblock %}
            {% endblock %}
        </div>
    {% endblock %}

    {% block right_column %}
        <div id="right" class="">
            {% block right_column_top %}{% endblock %}

            {% block right_column_szkolenia %}{% endblock %}

            {% block right_column_realizacje %}{% endblock %}

            {% block right_column_produkty %}
                {{ render(controller('CmsElmatBundle:Default:boxNajnowszeProdukty', {is_live_elmat: true} ), {}) }}
            {% endblock %}
        </div>
    {% endblock %}

    <div class="clear"></div>
{% endblock %}
