{% if not is_ajax %}
<div id="terminy_calendar" >

    {% if options.header %}
    <div class="title">{{ 'label.kalendarz_szkolen'|trans }}</div>
    {% endif %}

{% endif %}

    <div class="controls" data-prev="{{ prev_date }}" data-next="{{ next_date }}">
        <a href="javascript:void(0);" class="changedate lft {% if not prev_date %}inactive{% endif %}"></a>
        <span class="month">{{ ('miesiac_' ~ month)|trans }}</span>
        <span class="year">{{ year }}</span>
        <a href="javascript:void(0);" class="changedate rgt"></a>
    </div>
    <table class="calendar" cellpadding="0" cellspacing="0">
        {#<thead>
            <tr>
                <th>Pn</th>
                <th>Wt</th>
                <th>Śr</th>
                <th>Cz</th>
                <th>Pt</th>
                <th>Sb</th>
                <th>Nd</th>
            </tr>
        </thead>#}
        <tbody>

            <tr>
            {% for i in (1..first_dow) %}
                {% if i < first_dow %}
                <td class="dow-{{ i }}"></td>
                {% endif %}
            {% endfor %}

            {% set last_dow = 7 %}
            {% for d,day in days %}

                <td 
                    {% set term_color = '' %}
                    {% if day.terminy|length >= 1 %}
                        {% for term in day.terminy %}
                        {% if term_color == '' and term.getTraining().getCategory() and term.getTraining().getCategory().getColor() != '' %}
                            {% set term_color = term.getTraining().getCategory().getColor() %}
                        {% endif %}
                        {% endfor %}
                    
                        {% if term_color != '' %}
                        style="background:{{term_color}}"
                        {% endif %}
                    
                    {% endif %}
                    class="dow-{{ day.dow }} {% if day.terminy|length > 0 %}termin{% endif %} {% if day.terminy|length > 1 %}terminy{% endif %}  {% if ("now"|date("Ymj") ) == (year ~ month ~ day.day)  %}today{% endif %} "
                    {% if day.terminy|length == 1 %}
                    title="{{ day.terminy[0].getTraining().getTitle() }}"
                    data-data="{{ d }}"
                    data-szkolenie="{{ day.terminy[0].getTraining().getId() }}"
                    {#
                        data-url="{{ path('cms_elmat_training_show', {slug: day.terminy[0].getTraining().getSlug() }) }}"
                    #}
                    {% endif %}
                    {% if day.terminy|length > 1 %}
                    data-data="{{ d }}"
                    title="{{ day.terminy[0].getTraining().getTitle() }}, {{ day.terminy[1].getTraining().getTitle() }} {% if day.terminy|length > 2  %}, ...{% endif %}"
                    {% endif %}

                    >
                    
                    
                    {{ day.day }}
                </td>
                {% set last_dow = day.dow %}
                {% if day.dow % 7 == 0 %}
            </tr>
            <tr>
                {% endif %}



            {% endfor %}


             {% for i in ((last_dow+1)..8) %}
                {% if i < 8 %}
                <td class="dow-{{ i }}"></td>
                {% endif %}
            {% endfor %}

            </tr>
        </tbody>

    </table>

    <div class="loading-indicator"><div class="gif"></div></div>
{% if not is_ajax %}
</div>

{% if terminy_najblizsze|length > 0 %}
<div class="links">
    <div class="title" >Najbliższe szkolenia:</div>
    {% for termin in terminy_najblizsze %}
    <div class="item">
        <a href="{{ path('cms_elmat_training_show', {slug: termin.training.slug }) }}">{{ termin.training|truncate(80) }}</a>
        <div>{{ termin.startDate|date('Y-m-d') }}</div>
    </div>
    {% endfor %}
    
    <a class="more" href="{{  path('cms_elmat_training_terminy') }}">Zobacz wszystkie</a>

</div>
{% endif %}

{% endif %}