{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}{{ trainingcategory.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ trainingcategory.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ trainingcategory.keywords|default(parent()) }}{% endblock %}

{% block page_header %}
    {{ trainingcategory.title }}
{% endblock %}

{% block left_column_inner2 %}

{% endblock %}

{% block page_class %}page-products{% endblock %}

    
{% block page_title %}

    <div class="product-title">
        <div class="head2">
            {{ trainingcategory.title }}
        </div>
    </div>

{% endblock %}

{% block page_content %}
    <div class="site-description">

        {{ trainingcategory.content|raw }}

        <div class="training_list">
            {% for cat in trainingcategory.children %}
                <div class="item">
                    {% if cat.getWebPath('image') %}
                        <a href="{{ path('cms_elmat_training_category_show', {slug: cat.slug }) }}" title="{{ cat.title }}" class="photo"><img src="{{ asset( cat.getWebPath() | imagine_filter('szkolenia_category') ) }}" alt="{{ cat.title }}" /></a>

                    {% endif %}
                    <div class="data">
                        <a href="{{ path('cms_elmat_training_category_show', {slug: cat.slug }) }}" title="{{ cat.title }}" class="title">{{ cat.title }}</a>

                        {% if cat.trainings %}
                            <div class="teaser">
                                <ul>
                                    {% for item in cat.trainings %}
                                        <li>
                                            <a href="{{ path('cms_elmat_training_show', {slug: item.slug}) }}" title="{{ item.title }}">{{ item.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}

            {% if true and trainingcategory.trainings %}
                <div class="item">
                    {% if trainingcategory.getWebPath('image') %}

                        <a href="{{ path('cms_elmat_training_category_show', {slug: trainingcategory.slug}) }}" title="{{ trainingcategory.title }}" class="photo"><img src="{{ asset( trainingcategory.getWebPath('image') | imagine_filter('szkolenia_category') ) }}" alt="{{ trainingcategory.title }}" /></a>

                    {% endif %}
                    <div class="data">
                        <div class="teaser">
                            <ul>
                                {% for item in trainingcategory.trainings %}
                                    <li>
                                        <a href="{{ path('cms_elmat_training_show', {slug: item.slug}) }}">{{ item.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
