{% extends 'CmsElmatBundle:Page:show.html.twig' %}

{% block breadcrumb %}
   <div id="top-szkolenia">Trainings</div>
<div class="clear"></div>

{% endblock %}

{% block page_header %}{% endblock %}
{% block page_title %}{% endblock %}

{% block left_column_inner2 %}

   {#<div class="calendar">
        <div class="title">{{ 'label.kalendarz_szkolen'|trans }}</div>
        {{ render(controller('CmsElmatBundle:Training:calendar', {options: {header: false }})) }}
     </div>#}

{% endblock %}
