{% extends 'CmsElmatBundle:Training:show.html.twig' %}

{% set krok = krok|default(0) %}

    
{% block page_title %}

<div class="product-title">
   
    <div class="head2">
        
        {% if krok == 0 %}
        Logowanie
        {% else %}
            Rejestracja
        {% endif %}
    </div>
    <ul class="steps">
        <li><a class="{% if krok==0 %}selected{% endif %}">1. dane firmy</a></li>
        <li><a class="{% if krok==1 %}selected{% endif %}">1. uczestnicy</a></li>
        <li><a class="{% if krok==2 %}selected{% endif %}">2. podsumowanie</a></li>
    </ul>
    
</div>
{% endblock %}


    
    
    {% block javascripts %}
	{{ parent() }}

    {% if krok > 0 %}
    <script type="text/javascript">
		function addObject(sep) {

			var prototype = $('#form-rows-table').attr('data-prototype');
			var new_row_num = $('#form-rows-table > div.item').size();

		    // Replace '$$name$$' in the prototype's HTML to
		    // instead be a number based on the current collection's length.
		    var newForm = prototype.replace(/__name__/g, new_row_num);

		
		   	$('#form-rows-table ').append(newForm);


			return false;

		}
    </script>
    {% endif %}

{% endblock %}

{% block page_content %}
    
    
    
    {% if not user %}
    
        <div class="bordered">
            <div class="login-header login2">Zaloguj się do systemu</div>
            
             <div class="tabbed" style="width:442px;margin:0 auto">
               
                <div class="tabc current logowanie_box">

                    <p>{{ cms_config.get('txt_strefa_klienta_logowanie') | raw }}</p>

                </div>
            </div>
            
            {#<div class="user-list-header">
                {{ cms_config.get('txt_szkolenia_rejestracja_krok_logowanie') | raw }} 
            </div>#}
            {% include 'CmsElmatBundle:UserZone:_form_login.html.twig' %}
        </div>
    
        <div class="login-header login2">Nowy klient? <b>Zarejestruj się</b></div>
        <form class="register-form login2" method="get" action="{{ path('cms_elmat_userzone_register') }}">

            <div class="tabbed" style="width:442px;margin:0 auto">
              
                <div class="tabc current logowanie_box">

                    <p>{{ cms_config.get('txt_strefa_klienta_rejestracja') | raw }}</p>

                </div>
            </div>
            
            <input type="submit" value="Rejestracja">
        </form>

    
      
    
    {% else %}
        
        
        <div style="{% if krok == 2 %}display:none;{% endif %}">
        
        <div class="user-list-header">
             <p>{{ cms_config.get('txt_szkolenia_rejestracja_krok1') | raw }}</p>

             <div>
                Termin: {{ termin.startDate|date('d.m.Y') }} {% if termin.startDate != termin.endDate %} - {{ termin.endDate|date('d.m.Y') }} {% endif %}
             </div>
             <div>
                 Szkolenie: {{ training.title }}
             </div>
            <div class="clear"></div>
            <h3>Lista uczestników</h3>
            <a class="add_user" href="#"  onclick="addObject(); return false;" >Dodaj uczestnika</a>
            <div class="clear"></div>
        </div>
    
   
        <form id="training_form_register"
              action="{{ path("cms_elmat_training_register", {termin_id: termin.id, slug: training.slug }) }}"
              method="post" {{ form_enctype(form) }}  
              novalidate >

               
                {% set form_prototype = (
		'<div class="item">
			<div class="box">
                <label>Imię i nazwisko uczestnika 
                    <a href="javascript:void(0)" onclick="$(this).parent().parent().parent().remove()" value="usun" >&times;</a>
                </label>
				
				' ~ form_widget(form.training_participants.get('prototype')['nazwa'])  ~'
			</div>
			<div class="box">
                <label >Adres e-mail</label>
                '~  form_widget(form.training_participants.get('prototype')['email'], {attr: {class:''}}) 	  ~'
			</div>
            <div class="box">
                <label >Telefon kontaktowy</label>
			    '~  form_widget(form.training_participants.get('prototype')['telefon'], {attr: {class:'', placeholder: ''}}) 	  ~'
			</div>
        </div>
			
		')  %}
                
                
            <div id="form-rows-table" data-prototype="{{ form_prototype }}" class="user-list">
                {% for part in form.training_participants %}
                <div class="item">
                    <div class="box">
                        <label >Imię i nazwisko uczestnika 
                            {% if loop.index0 > 0 %}<a href="javascript:void(0)" onclick="$(this).parent().parent().parent().remove()" value="usun" >&times;</a>
                            {% endif %}
                        </label>
                        {{ form_widget(part.nazwa) }}
                        {{ form_errors(part.nazwa) }}
                        
                    </div>
                    <div class="box">
                        <label >Adres e-mail</label>
                        {{ form_widget(part.email) }}
                        {{ form_errors(part.email) }}
                    </div>
                    <div class="box">
                        <label >Telefon kontaktowy</label>
                        {{ form_widget(part.telefon) }}
                        {{ form_errors(part.telefon) }}
                    </div>
                </div>
                {% endfor %}
               
            </div>
            <div class="clear"></div>    
                
            <a href="#"  onclick="addObject(); return false;" class="add_user next">Dodaj uczestnika</a>
                
                {% if krok == 1 %}
                   {{ form_rest(form) }}

                   {% if form_errors(form) %}
    				<div style="padding: 13px 0;color: red;width: 220px" class="">
    		    	 	{{ form_errors(form) }}
    		    	</div>
    			   {% endif %}
               {% endif %}
                
           
            <div class="clear"></div>    
            <div class="buttons">
                <a class="prev" href="{{ path('cms_elmat_training_terminy') }}">Cofnij</a>
                <a class="next" onclick="$('#training_form_register').submit()">Dalej</a>
                {#<button type="submit" class="next" name="_submit" value="Dalej" >Dalej</button>#}
            </div>
        
            
        </div>
       

        {% if krok == 2 %}
        
        
        <div class="user-list-header">
             <p>{{ cms_config.get('txt_szkolenia_rejestracja_krok2') | raw }}</p>

             <div>

                Termin: {{ termin.startDate|date('d.m.Y') }} {% if termin.startDate != termin.endDate %} - {{ termin.endDate|date('d.m.Y') }} {% endif %}

             </div>
             <div>
                 Szkolenie: {{ training.title }}
             </div>
            <div class="clear"></div>
            <h3>Dane firmy</h3>
            <div class="clear"></div>
           
        </div>
      
        <div class="user-list-header">
            <div class="data">
                <div class="item">
                    <div>Login:</div>
                    <div>{{ user.username }}</div>
                </div>
                <div class="item">
                    <div>Adres e-mail:</div>
                    <div>{{ user.email }}</div>
                </div>
                <div class="item">
                    <div>Nazwa firmy:</div>
                    <div>{{ user.firma }}</div>
                </div>
                <div class="item">
                    <div>Ulica:</div>
                    <div>{{ user.ulica }}</div>
                </div>
                <div class="item">
                    <div>Kod pocztowy:</div>
                    <div>{{ user.kodPocztowy }}</div>
                </div>
                <div class="item">
                    <div>Miasto:</div>
                    <div>{{ user.miasto }}</div>
                </div>
                <div class="item">
                    <div>NIP:</div>
                    <div>{{ user.nip }}</div>
                </div>
                <div class="item">
                    <div>Telefon:</div>
                    <div>{{ user.telefon }}</div>
                </div>
                <div class="item">
                    <div>Fax:</div>
                    <div>{{ user.fax }}</div>
                </div>
            </div>
            <div class="clear"></div>
            <h3>Uczestnicy szkolenia</h3>
            <div class="clear"></div>
        </div>
        
        <div class="user-list-header">
            <div class="user">
                {% for part in registration.getTrainingParticipants() %}
                <div class="item">
                    <div class="row">
                        <div class="cell">Imię i nazwisko</div>
                        <div class="cell">E-mail</div>
                        <div class="cell">Telefon</div>
                        <div class="clear"></div>
                    </div>
                    <div class="row">
                        <div class="cell">{{ part.nazwa }}</div>
                        <div class="cell">{{ part.email }}</div>
                        <div class="cell">{{ part.telefon }}</div>
                        <div class="clear"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="clear"></div>
            <h3>Podsumowanie</h3>
            <div class="clear"></div>
        </div>
        
           <div class="user-list-header last">
                <div class="data">
                    <div class="item">
                        <div>Rodzaj szkolenia:</div>
                        <div>{{ training.category }}</div>
                    </div>
                    <div class="item">
                        <div>Temat szkolenia:</div>
                        <div>{{ training.title }}</div>
                    </div>
                    <div class="item">
                        <div>Data szkolenia:</div>
                        <div>{{ termin.startDate|date('d.m.Y') }} {% if termin.startDate != termin.endDate %} - {{ termin.endDate|date('d.m.Y') }} {% endif %}</div>
                    </div>
                    <div class="item">
                        <div>Cena jednostkowa za szkolenie:</div>
                        <div>{{ termin.price * 1 }} PLN</div>
                    </div>
                    <div class="clear"></div>
                    <div class="anomaly">
                        <div class="item">
                            {{ form_widget(form.uwagi, {attr: {style: '', placeholder: 'Uwagi...'} }) }}
                            
                        </div>
                        <div class="item">
                            <div>Liczba uczestników:</div>
                            <div>{{ registration.getTrainingParticipants() | length }}</div>
                        </div>
                        <div class="item">
                            <div>Cena sumaryczna za szkolenie:</div>
                            <div>{{ (registration.getTrainingParticipants() | length) * termin.price  }} PLN</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>  
             
            
            {% if krok == 2 %}
                   {{ form_rest(form) }}

                   {% if form_errors(form) %}
    				<div style="padding: 13px 0;color: red;width: 220px" class="">
    		    	 	{{ form_errors(form) }}
    		    	</div>
    			   {% endif %}
               {% endif %}
        
                <div class="clear"></div>
        
                <div class="buttons">
                    <a href="javascript:;" onclick="$('#training_registration_krok').val(1);$('#training_form_register').submit()" class="prev">Cofnij</a>
                    <a class="next" onclick="$('#training_form_register').submit()">Dalej</a>
                </div>
{#
             <div class="" style="text-align: right; padding: 20px 10px">
                    <span style="float:left">
                         <a href="javascript:;" onclick="$('#training_registration_krok').val(1);$('#training_form_register').submit()" class="button button1" >Cofnij</a>
                        </span>
                    <input type="submit" class="button button1" name="_submit" value="Zapisz i wydrukuj" />
             </div>#}

      
        {% endif %}


        </form>
  
    
    
    {% endif %}
    
    
    
{% endblock %}
