{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}{{ training.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ training.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ training.keywords|default(parent()) }}{% endblock %}

{% block page_class %}page-products page-text{% endblock %}

{% block left_column_inner2 %}
{% endblock %}

{% block page_header %}
    {{ training.title }}
{% endblock %}

{% block page_content %}
    <div class="site-description">
    {% if training.getWebPath('image') %}
    <img src="{{ asset( training.getWebPath('image') | imagine_filter('szkolenia_szczegoly') ) }}" alt="" class="float-left"/>
    {% endif %}
    
    {{ training.content|raw }}
    </div>
{% endblock %}
