{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,400,300,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/preview.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var edytor_css = '{{ asset('bundles/cmselmat/css/editor.css') }}';
        var edytor_css2 = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
        var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';

        $(document).on('click', '.preview-link', function (event) {
            event.preventDefault();

            var url = $(this).attr('href');

            $.ajax({
                type: "post",
                url: url,
                success: function (data, status, object) {
                    $('#preview-modal').find('.modal-body').html(data);
                    $('#preview-modal').modal();
                },
                error: function (data, status, object) {
                    console.log(data);
                }
            });
        })
    </script>

    <script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:preview_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:history_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:acl_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block form_fieldset %}
    <fieldset>
        <legend>Główne informacje</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['lang']) }}
            {{ form_row(form['offer_group']) }}
            {{ form_row(form['title']) }}
            {{ form_row(form['content']) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>Opcje dodatkowe</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['template']) }}
            {{ form_row(form['galeria']) }}
            <div class="control-group">
                <label></label>
                <div class="controls">
                    {% if  object.getWebPath() %}
                        <a href="{{ asset(object.getWebPath()) }}">
                            <img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />
                        </a>
                    {% else %}
                    {% endif %}
                </div>
            </div>
            {{ form_row(form['_file_image']) }}
            {{ form_row(form['_delete_file_image']) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>Publikacja</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['published']) }}
            {{ form_row(form['publishDate']) }}
        </div>
    </fieldset>

    <fieldset>
        <legend>SEO</legend>
        <div class="sonata-ba-collapsed-fields">
            {{ form_row(form['automaticSeo']) }}
            {{ form_row(form['slug']) }}
            {{ form_row(form['keywords']) }}
            {{ form_row(form['description']) }}
        </div>
    </fieldset>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="preview-modal" class="modal hide fade modal-lg" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Podgląd podstrony</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}
