{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,400,300,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/preview.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var edytor_css = '{{ asset('bundles/cmselmat/css/editor.css') }}';
        var edytor_css2 = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
        var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
    </script>

    <script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        function addObject() {
            var prototype = $('#form-rows-table').attr('data-prototype');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on the current collection's length.
            var newForm = prototype.replace(/__name__/g, $('#form-rows-table tr').size() - 1);

            // Display the form in the page in an li, before the "Add a tag" link li

            $('#form-rows-table tr.header').after(newForm);
            $('.wysiwyg-tiny').ckeditor(fckconfig_tiny);

            return false;
        }

        $(document).on('click', '.preview-link', function (event) {
            event.preventDefault();

            var url = $(this).attr('href');

            $.ajax({
                type: "post",
                url: url,
                success: function (data, status, object) {
                    $('#preview-modal').find('.modal-body').html(data);
                    $('#preview-modal').modal();
                },
                error: function (data, status, object) {
                    console.log(data);
                }
            });
        })
    </script>
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:preview_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:history_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:acl_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block form_fieldset %}
    {% set form_prototype = (
        '<tr>
			<td>
				<input type="button" onclick="$(this).parent().parent().remove()" value="usun" />
			</td>
			<td>'~  form_widget(form.tabs.vars.prototype['description'], {attr: {class:'wysiwyg-tiny'}})      ~'</td>
			<td>
			    kolejność: '~  form_widget(form.tabs.vars.prototype['sort'], {attr: {class:''}})      ~'
			    <br />nazwa: '~  form_widget(form.tabs.vars.prototype['name'])      ~'
			</td>
		</tr>'
    ) %}

    <a href="#" onclick="addObject(); return false;" class="btn">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}" />
        dodaj
    </a>

    <br />
    <br />

    <table id="form-rows-table" class="table table-bordered" data-prototype="{{ form_prototype }}">
        <tr class="header">
            <th>usuń</th>
            <th>Opis</th>
            <th>Ustawienia</th>
        </tr>
        {% for row in form.tabs %}
            <tr>
                <td>
                    {{ form_widget(row._delete) }}
                    {{ form_widget(row.updated) }}
                </td>
                <td class="">{{ form_widget(row.description, {'attr' : {'class':'wysiwyg-tiny'} }) }}</td>
                <td>kolejność: {{ form_widget(row['sort'], {attr: {class:''}}) }}
                    <br />nazwa: {{ form_widget(row.name) }}

                </td>
            </tr>
        {% endfor %}
    </table>

    {% do form['tabs'].setRendered %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="preview-modal" class="modal hide fade modal-lg" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Podgląd podstrony</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}
