
{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/cmselmat/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
	</script>

	<script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>


    <script type="text/javascript">
		

		function openKCFinder(field) {
		    window.KCFinder = {
		        callBack: function(url) {
		            field.value = url;
		            window.KCFinder = null;

		            $.ajax({
		                type: 'POST',
		                url: '{{ path('cms_elmat_default_fileinfo') }}',
		                data: {
			                path: field.value
				            },
				        dataType: 'json',
		                success: function(ret){
		                    var _par = $(field).parent().parent().parent();
                            console.log(_par, ret);
		                   
		                    if(typeof ret == 'object') {
		                    	_par.find('.input-nazwa').val(ret['name']);
			                    _par.find('.input-rozszerzenie').val(ret['ext']);
			                    _par.find('.input-rozmiar').val(ret['size']);
			                    field.value = ret.path;
			                }
		                }
			        });

		        }
		    };
		    window.open( '{{ path('cms_elmat_default_browse') }}' + '?langCode=pl', 'kcfinder_textbox',
		        'status=0, toolbar=0, location=0, menubar=0, directories=0, ' +
		        'resizable=1, scrollbars=0, width=1000, height=500'
		    );
		}

    </script>

    
    
{%  endblock %}

 
    
{% block form_fieldset %}

	<fieldset>

		<legend>Główne informacje</legend>
		<div class="sonata-ba-collapsed-fields">
			{{ form_row(form['title'])}}
			{{ form_row(form['category'])}}
            
			
		</div>

	</fieldset>
    
    <fieldset>
		<legend>Opcje dodatkowe</legend>
		<div class="sonata-ba-collapsed-fields">

			<div class="control-group">
				<label></label>
				<div class="controls">
				{% if  object.getWebPath() %}
					<a href="{{ asset(object.getWebPath())  }}">
						<img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />
					</a>
				{% else %}
				{% endif %}
				</div>
			</div>
			{{ form_row(form['_file_image'])}}
			{{ form_row(form['_delete_file_image'])}}
		</div>
	</fieldset>


	<fieldset>
		<legend>Plik</legend>
		<div class="sonata-ba-collapsed-fields">
           {{ form_row( form['plik'] ) }}
		</div>
	</fieldset>
    
    <fieldset>
		<legend>Pozostałe</legend>
		<div class="sonata-ba-collapsed-fields">
           
		</div>
	</fieldset>

{# 	<fieldset>#}
{# 		<legend>{{ admin.trans('label.highlights') }}</legend>#}
{# 		<div class="sonata-ba-collapsed-fields">#}
{#  			{{ form_row(form['highlight_mainpage'])}}#}
{#  			{{ form_row(form['highlight_category'])}}#}
{# 	</fieldset>#}

{% endblock %}
