<form action="{{ path("cms_elmat_userzone_login_check") }}" method="post" class="login-form">

    <div class="form form1 ">

        {% if error  is defined %}
        <div class="control-group">
            <label for="username">&nbsp;</label>

            <div class="controls">
                <div class="error alert alert-error">{{ error|trans }}</div>
            </div>
        </div>

        {% endif %}

        <div >
            <label for="username">Login:</label>
            <input type="text" id="username" name="_username" value="{{ last_username|default('') }}" class="big sonata-medium"/>
            
        </div>

        <div>
            <label for="password">Hasło:</label>
            <input type="password" id="password" name="_password" class="big sonata-medium" /> 
        </div>
        
        <div>
            <input type="submit" class="login-submit" id="_submit" name="_submit" value="Zaloguj" />
        </div>
        
        <div>
            <a href="{{ path('cms_elmat_userzone_remind') }}">Nie pamiętam hasła</a>
        </div>


    </div>


</form>