{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}Cenniki{{ parent() }}{% endblock %}
{% block description %}Cenniki. {{ parent() }}{% endblock %}
{% block keywords %}Cenniki,{{ parent() }}{% endblock %}

{% block page_header %}
	Cenniki
{% endblock %}

{% block page_class %}page-products page-text{% endblock %}


{# {% block left_column_inner %}#}
{#     {% render controller('CmsElmatBundle:Userzone:leftmenu') %}#}
{# {% endblock %}#}


{% block page_content %}

{% if cenniki|length > 0 %}
<div class="cenniki">
    <div class="cennik-row">
     {% for cennik in cenniki %}

         <div class="cennik {% if cenniki_access %}{% else %}locked{% endif %}">

             <a class="link" href="{{ path('cms_elmat_userzone_cennik_download', {id: cennik.id}) }}">
                 {% if cennik.getWebPath('image') %}
                 <img src="{{ asset(cennik.getWebPath('image') | imagine_filter('szkolenia_category') )  }}" />
                 {% endif %}
                 <span class="title">{{ cennik.title }}</span>
             </a>
             <div class="desc">
                 {{ cennik.content | raw }}
             </div>

             {%  if not cenniki_access %}
             <div class="lock"></div>
             <div class="lock-info">
                 Aby uzyskać dostęp do tego
                 cennika skontaktuj się ze
                 swoim doradcą handlowym.
             </div>
             {% endif %}

         </div>

     {% if loop.index % 3 == 0 and loop.index > 0 and not loop.last %}
     </div>
     <div class="cennik-row">
     {% endif %}


     {% endfor %}
    </div>
</div>
{% endif %}

{% endblock %}