{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}Rejestracja - {{ parent() }}{% endblock %}
{% block description %}Rejestracja. {{ parent() }}{% endblock %}
{% block keywords %}Rejestracja,{{ parent() }}{% endblock %}

{% block page_class %}page-single padding-bottom{% endblock %}

{% block breadcrumb %}
    <div id="register">
        Rejestracja
        <span> 
            {% if krok==1 %}Krok 1 / 3: Dane firmy{% endif %}
            {% if krok==2 %}Krok 2 / 3: Obszary działalności{% endif %}
            {% if krok==3 %}Krok 3 / 3: Podsusmowanie{% endif %}
        </span>
    </div>
{% endblock %}

{% block base_class %}no-color{% endblock %}

{% block page %} 

<div id="left">

        <div class="login-header">Rejestracja</div>
        <form id="form_register" class="register-form" action="{{ path("cms_elmat_userzone_register") }}" method="post" {{ form_enctype(form) }}  >

           {# <p>{{ cms_config.get('txt_strefa_klienta_rejestracja_krok1') | raw }}</p>#}

            <div id="form_register_step1" class="form form1 " {% if krok > 1 %}style="display:none"{% endif %}>
                
                
                    
                <div class="reg-col">


                    <div class="control-group">
                        {{ form_errors(form.username) }}
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, {attr: { class: 'req'} }) }}
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.plainPassword.first) }}
                        {{ form_label(form.plainPassword.first) }}
                        {{ form_widget(form.plainPassword.first, {attr: { class: 'req'} }) }}
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.plainPassword.second) }}
                        {{ form_label(form.plainPassword.second) }}
                        {{ form_widget(form.plainPassword.second, {attr: { class: 'req'} }) }}
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.email) }}
                        {{ form_label(form.email) }}
                         {{ form_widget(form.email, {attr: { class: 'req'} }) }}
                    </div>

                </div>

                <div class="reg-col">

                    <div class="control-group">
                        {{ form_errors(form.firma) }}
                        {{ form_label(form.firma) }}
                        {{ form_widget(form.firma, {attr: { class: 'req'} }) }}
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.ulica) }}
                        {{ form_label(form.ulica) }}
                        {{ form_widget(form.ulica, {attr: { class: 'req'} }) }}
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.kod_pocztowy) }}
                        {{ form_label(form.kod_pocztowy) }}
                        {{ form_widget(form.kod_pocztowy, {attr: { class: 'req'} }) }}
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.miasto) }}
                        {{ form_label(form.miasto) }}
                        {{ form_widget(form.miasto, {attr: { class: 'req'} }) }}
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.wojewodztwo) }}
                        {{ form_label(form.wojewodztwo) }}
                        {{ form_widget(form.wojewodztwo, {attr: { class: 'req'} }) }}
                    </div>

                     <div class="control-group">
                        {{ form_errors(form.nip) }}
                        {{ form_label(form.nip) }}
                        {{ form_widget(form.nip, {attr: { class: 'req'} }) }}
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.telefon) }}
                        {{ form_label(form.telefon) }}
                        {{ form_widget(form.telefon, {attr: { class: 'req'} }) }}
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.fax) }}
                        {{ form_label(form.fax) }}
                        {{ form_widget(form.fax) }}
                    </div>




                {% if krok == 1 %}
                   {{ form_rest(form) }}

                   {% if form_errors(form) %}
                    <div style="padding: 13px 0;color: red;width: 220px" class="">
                        {{ form_errors(form) }}
                    </div>
                   {% endif %}
               {% endif %}

                </div>

            
            </div>
            
             <div style="{% if krok > 1 %}display:none;{% endif %}border:none">

        <span class="req-info">Pole wymagane!</span>
        <input type="submit" class="button button1" name="_submit" value="Dalej" />

        {#     {#<div class="" style="text-align: right; padding: 20px 10px">#}

                        {#<a href="javascript:;" onclick="clearFields('#form_register_step1')" style="margin-right:20px;font-weight: bold" >Wyczyść pola</a>#}
                        

   {#          </div>#}
        
             </div>


        {% if krok > 1 %}

        <script type="text/javascript">

        $(function(){
        	$('#klient_firma_inny').on('keyup change', function(){
            	if($(this).val() != '') {
            		$('#klient_firma_inna_checkbox').attr('checked', 'true');
            	} else {
            		$('#klient_firma_inna_checkbox').removeAttr('checked')
            	}

        	});

        	$('#klient_firma_inna_checkbox').on('change ', function() {

            	if($(this).is(':checked')) {
                	_ov = $('#klient_firma_inny').attr('old_value');
            	    if(typeof _ov != 'undefined' && _ov != '') {
            	    	$('#klient_firma_inny').val(_ov);
                	}
                } else {
                    _v = $('#klient_firma_inny').val();

                	$('#klient_firma_inny').attr('old_value', _v);
                	$('#klient_firma_inny').val('');

                }
        	});
        })


        </script>

       
           
            

            <div id="form_register_step2"  class="form form2 " {% if krok > 2 %}style="display:none"{% endif %}>
                
                <div class="site-description">

                <p>{{ cms_config.get('txt_strefa_klienta_rejestracja_krok2') | raw }}</p>


                <div class="form2-group">
                   <h4>Rodzaj prowadzonej działalności:</h4>

                   <div class="cols">
                       
                       <div class="col">
                           
                           <div class="control-group"> 
                                {{ form_widget(form.firma_isp) }}
                                {{ form_label(form.firma_isp) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.firma_tv_kablowa) }}
                                {{ form_label(form.firma_tv_kablowa) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.firma_instalator) }}
                                {{ form_label(form.firma_instalator) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.firma_instalator_sieci_niskopradowe) }}
                                {{ form_label(form.firma_instalator_sieci_niskopradowe) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.firma_samorzad_terytorialny) }}
                                {{ form_label(form.firma_samorzad_terytorialny) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.firma_handlowa) }}
                                {{ form_label(form.firma_handlowa) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.firma_administrator_sieci) }}
                                {{ form_label(form.firma_administrator_sieci) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.firma_projektant) }}
                                {{ form_label(form.firma_projektant) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.firma_integrator) }}
                                {{ form_label(form.firma_integrator) }}
                            </div>
                           
                       </div>
                       {#
                       <div class="col">
                           <div class="control-group">
                               {{ form_widget(form.firma_integrator) }}
                               {{ form_label(form.firma_integrator) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.firma_instalator) }}
                               {{ form_label(form.firma_instalator) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.firma_handlowa) }}
                               {{ form_label(form.firma_handlowa) }}
                           </div>
                       </div>
                       <div class="col">
                           <div class="control-group">
                               {{ form_widget(form.firma_projektant) }}
                               {{ form_label(form.firma_projektant) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.firma_tv_kablowa) }}
                               {{ form_label(form.firma_tv_kablowa) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.firma_isp) }}
                               {{ form_label(form.firma_isp) }}
                           </div>
                       </div>
                        #}
                       <div class="col">
                           <div class="control-group">
                               <input type="checkbox" id="klient_firma_inna_checkbox" value="1" >
                               {{ form_label(form.firma_inny) }}

                           </div>
                           <div class="control-group">

                               {{ form_widget(form.firma_inny) }}

                           </div>
                       </div>
                   </div>

                </div>

                <div class="form2-group">
                   <h4>Interesuje nas oferta:</h4>

                   <div class="cols">
                       
                       <div class="col">
                           
                           <div class="control-group"> 
                                {{ form_widget(form.oferta_swiatlowody) }}
                                {{ form_label(form.oferta_swiatlowody) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_akcesoria_swiatlowodowe) }}
                                {{ form_label(form.oferta_akcesoria_swiatlowodowe) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_mikrokanalizacja) }}
                                {{ form_label(form.oferta_mikrokanalizacja) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_kable_napowietrzne_airtrack) }}
                                {{ form_label(form.oferta_kable_napowietrzne_airtrack) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_technologia_fttx) }}
                                {{ form_label(form.oferta_technologia_fttx) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_technologia_gpon) }}
                                {{ form_label(form.oferta_technologia_gpon) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_urzadzenia_aktywne) }}
                                {{ form_label(form.oferta_urzadzenia_aktywne) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_sieci_miejskie) }}
                                {{ form_label(form.oferta_sieci_miejskie) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_osprzet_instalacyjny) }}
                                {{ form_label(form.oferta_osprzet_instalacyjny) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_osprzet_pomiarowy) }}
                                {{ form_label(form.oferta_osprzet_pomiarowy) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_okablowanie_strukturalne) }}
                                {{ form_label(form.oferta_okablowanie_strukturalne) }}
                            </div>
                            <div class="control-group"> 
                                {{ form_widget(form.oferta_inne) }}
                                {{ form_label(form.oferta_inne) }}
                            </div>
                           
                       </div>
                       {#
                       <div class="col">
                           
                           <div class="control-group">
                               {{ form_widget(form.oferta_elektroenergetyka) }}
                               {{ form_label(form.oferta_elektroenergetyka) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.oferta_wireless) }}
                               {{ form_label(form.oferta_wireless) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.oferta_urzadzenia_aktywne) }}
                               {{ form_label(form.oferta_urzadzenia_aktywne) }}
                           </div>
                       </div>
                       <div class="col">
                           <div class="control-group">
                               {{ form_widget(form.oferta_swiatlowody) }}
                               {{ form_label(form.oferta_swiatlowody) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.oferta_sieci) }}
                               {{ form_label(form.oferta_sieci) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.oferta_szafy) }}
                               {{ form_label(form.oferta_szafy) }}
                           </div>
                       </div>
                       <div class="col">
                           <div class="control-group">
                               {{ form_widget(form.oferta_miejskie_sieci) }}
                               {{ form_label(form.oferta_miejskie_sieci) }}
                           </div>
                       </div>
                    #}
                   </div>

                </div>


                <div class="form2-group">
                   <h4>O ofercie firmy ELMAT dowiedziałem się:</h4>

                   <div class="cols">
                       
                       <div class="col">
                           
                           <div class="control-group"> 
                            {{ form_widget(form.info_staly_klient) }}
                            {{ form_label(form.info_staly_klient) }}
                        </div>
                        <div class="control-group"> 
                            {{ form_widget(form.info_wyszukiwarka) }}
                            {{ form_label(form.info_wyszukiwarka) }}
                        </div>
                        <div class="control-group"> 
                            {{ form_widget(form.info_prasa_codzienna) }}
                            {{ form_label(form.info_prasa_codzienna) }}
                        </div>
                        <div class="control-group"> 
                            {{ form_widget(form.info_reklamy) }}
                            {{ form_label(form.info_reklamy) }}
                        </div>
                        <div class="control-group"> 
                            {{ form_widget(form.info_prasa_specjalistyczna) }}
                            {{ form_label(form.info_prasa_specjalistyczna) }}
                        </div>
                        <div class="control-group"> 
                            {{ form_widget(form.info_znajomi) }}
                            {{ form_label(form.info_znajomi) }}
                        </div>
                        <div class="control-group"> 
                            {{ form_widget(form.info_subskrypcja) }}
                            {{ form_label(form.info_subskrypcja) }}
                        </div>
                        <div class="control-group"> 
                            {{ form_widget(form.info_inne) }}
                            {{ form_label(form.info_inne) }}
                        </div>
                           
                       </div>
                       
                       {#
                       <div class="col">
                           <div class="control-group">
                               {{ form_widget(form.info_staly_klient) }}
                               {{ form_label(form.info_staly_klient) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.info_wyszukiwarka) }}
                               {{ form_label(form.info_wyszukiwarka) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.info_reklamy) }}
                               {{ form_label(form.info_reklamy) }}
                           </div>
                       </div>

                       <div class="col">
                           <div class="control-group">
                               {{ form_widget(form.info_prasa_codzienna) }}
                               {{ form_label(form.info_prasa_codzienna) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.info_prasa_specjalistyczna) }}
                               {{ form_label(form.info_prasa_specjalistyczna) }}
                           </div>
                           <div class="control-group">
                               {{ form_widget(form.info_znajomi) }}
                               {{ form_label(form.info_znajomi) }}
                           </div>
                       </div>

                       <div class="col">
                           <div class="control-group">
                               {{ form_widget(form.info_subskrypcja) }}
                               {{ form_label(form.info_subskrypcja) }}
                           </div>

                       </div>
                       
                       #}

                   </div>

                </div>

                <div class="form2-group last">
                    {% if krok_submit == 2 %}
                    {{ form_errors(form.zgoda_przetwarzanie) }}
                    {% endif %}
                    <p>
                     {{ form_widget(form.zgoda_przetwarzanie) }}
                     {{ cms_config.get('txt_strefa_klienta_rejestracja_zgoda') | raw }}
                    </p>
                </div>

               {% if krok == 2 %}
                   {{ form_rest(form) }}

                   {% if form_errors(form) %}
    				<div style="padding: 13px 0;color: red;width: 220px" class="">
    		    	 	{{ form_errors(form) }}
    		    	</div>
    			   {% endif %}
               {% endif %}

             <div class="" style="text-align: right; padding: 10px 10px">

                  <a href="javascript:;" onclick="clearFields('#form_register_step2')" style="margin-right:20px;font-weight: bold" >Wyczyść pola</a>
                  <input type="submit" class="button button1" name="_submit" value="Dalej" />

             </div>


            </div>

           

        </div>


        {% endif %}


         {% if krok == 3 and user %}
            <div class="site-description">

            <p>{{ cms_config.get('txt_strefa_klienta_rejestracja_krok3') | raw }}</p>

            <div class="form form3">


{#                     {% if error %}#}
{#                     <div class="control-group">#}
{#                         <label for="username">&nbsp;</label>#}

{#                         <div class="controls">#}
{#                             <div class="error alert alert-error">{{ error|trans }}</div>#}
{#                         </div>#}
{#                     </div>#}

{#                     {% endif %}#}

            <div class="sumcontent">
                <div class="sum">
                    <span class="tit">Login:</span>
                    <span class="val">{{ user.username }}</span>
                </div>
                <div class="sum">
                    <span class="tit">Adres e-mail:</span>
                    <span class="val">{{ user.email }}</span>
                </div>
                <div class="sum">
                    <span class="tit">Nazwa firmy:</span>
                    <span class="val">{{ user.firma }}</span>
                </div>
                <div class="sum">
                    <span class="tit">Ulica:</span>
                    <span class="val">{{ user.ulica }}</span>
                </div>
                <div class="sum">
                    <span class="tit">Kod pocztowy:</span>
                    <span class="val">{{ user.kodPocztowy }}</span>
                </div>
                <div class="sum">
                    <span class="tit">Miasto:</span>
                    <span class="val">{{ user.miasto }}</span>
                </div>
                 <div class="sum">
                    <span class="tit">NIP:</span>
                    <span class="val">{{ user.nip }}</span>
                </div>
                 <div class="sum">
                    <span class="tit">Telefon:</span>
                    <span class="val">{{ user.telefon }}</span>
                </div>
                 <div class="sum">
                    <span class="tit">Fax:</span>
                    <span class="val">{{ user.fax }}</span>
                </div>

            </div>




                {% if krok == 3 %}
                   {{ form_rest(form) }}

                   {% if form_errors(form) %}
    				<div style="padding: 13px 0;color: red;width: 220px" class="">
    		    	 	{{ form_errors(form) }}
    		    	</div>
    			   {% endif %}
               {% endif %}


            </div>

             <div class="" style="text-align: right; padding: 20px 10px">
{#                     <span style="float:left">#}
{#                         <a href="javascript:;" onclick="$('#klient_krok').val(2);$('#form_register').submit()" class="button button1" >Cofnij</a>#}
{#                     </span>#}
                    <input type="submit" class="button button1" name="_submit" value="Zarejestruj" />

             </div>

        </div>
        {% endif %}


        </form>

</div>


<div id="right">
    <div class="banner-box">
        <div class="banner">
            <span>Rejestracja</span>
            <span>klienta</span>
        </div>
    </div>
</div>

{{ form_row(form.username) }}

{% endblock %}