{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}Logowanie - Strefa klienta - {{ parent() }}{% endblock %}
{% block description %}Logowanie - Strefa klienta. {{ parent() }}{% endblock %}
{% block keywords %}Logowanie,Strefa klienta,{{ parent() }}{% endblock %}

{% block page_class %}page-single padding-bottom{% endblock %}


{% block page %}


{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<div id="left">

        
<div class="login-header">Przypomnienie hasła </div>


        <p class="site-description">{{ cms_config.get('txt_strefa_klienta_przypomnienie') | raw }}</p>


        <form action="{{ path("cms_elmat_userzone_remind") }}" method="post" {{ form_enctype(form) }} class="login-form" >

            <div class="form form1 ">



                <div class="control-group">
                    {{ form_label(form.email) }}


                    <div class="controls">

                        {{ form_widget(form.email) }}
                    </div>
                     {{ form_errors(form.email) }}
                </div>



                <div class="control-group margin">
                  
                    <div class="controls">
                        <a href="{{ path('cms_elmat_userzone_login') }}">Wróć do logowania</a>
                        <input type="submit" class="button button1" id="_submit" name="_submit" value="Resetuj hasło" />
                    </div>
                </div>


            </div>
            {{ form_errors(form) }}
            {{ form_rest(form) }}
        </form>

    
</div>  


{% endblock %}