{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}Logowanie - Strefa klienta - {{ parent() }}{% endblock %}
{% block description %}Logowanie - Strefa klienta. {{ parent() }}{% endblock %}
{% block keywords %}Logowanie,Strefa klienta,{{ parent() }}{% endblock %}

{% block page_class %}page-single padding-bottom{% endblock %}


{% block page %}

<h1 class="page-header">Strefa klienta</h1>

{% for flashMessage in app.session.flashbag.get('notice') %}
    <div class="flash-notice">
        {{ flashMessage }}
    </div>
{% endfor %}

<div class="half-left">

    <div class="tabbed">
        <div class="tabs">
            <div class="tab width1 upper current">Zmiana hasła </div>
        </div>
        <div class="tabc current logowanie_box">

            <p>{{ cms_config.get('txt_strefa_klienta_przypomnienie_zmiana_hasla') | raw }}</p>


            <form action="{{ path("cms_elmat_userzone_reset_password_change", {id: id, token: token}) }}" method="post" {{ form_enctype(form) }} >

                <div class="form form1 ">

                    
                    <div class="control-group">
                        {{ form_errors(form.newPassword.first) }}
                        {{ form_label(form.newPassword.first) }}
                        <div class="controls">
                            {{ form_widget(form.newPassword.first) }}
                        </div>
                    </div>

                    <div class="control-group">
                        {{ form_errors(form.newPassword.second) }}
                        {{ form_label(form.newPassword.second) }}
                        <div class="controls">
                            {{ form_widget(form.newPassword.second) }}
                        </div>
                    </div>
                    

                    <div class="control-group margin">
                        <label>&nbsp;</label>
                        <div class="controls">
                            <a href="{{ path('cms_elmat_userzone_login') }}">Wróć do logowania</a>
                            <input type="submit" class="button button1" id="_submit" name="_submit" value="Zmień hasło" />
                        </div>
                    </div>

                </div>

                {{ form_errors(form) }}
                {{ form_rest(form) }}
                
            </form>
        </div>
    </div>

</div>


{% endblock %}