{% extends 'CmsElmatBundle::live_layout.html.twig' %}


{% block page_class%}livecategory{% endblock %}
{% block left_class %}news-list{% endblock %}

{% block content %}

<div class="title">{% block category_title %}{% endblock %}</div>


{% if news_highlight is defined and news_highlight|length > 0 %}

	{% include 'CmsElmatBundle:Live:_highlights.html.twig' %}
	
{% endif %}


{% for n in newses %}
<div class="{% if loop.index <= 2 and page == 1 %}major{% else %}minor{% endif %}">

    <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="image">
        {% if n.getWebPath %}
            {% if loop.index <= 2 %}
            <img src="{{ asset( n.getWebPath() | imagine_filter('aktualnosci_lista'  ) ) }}" alt="{{ n.title }}"/>
            {% else %}
            <img src="{{ asset( n.getWebPathCrop() | imagine_filter('aktualnosci_lista3' ) ) }}" alt="{{ n.title }}"/>
            {% endif %}
        
        {% endif %}
    </a>
    

    <div class="rest ">
        <a href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id})  }}" title="{{ n.title }}" class="title">{{ n.title }}</a>
        <div class="date">
            {{ n.publishDate|localizeddate('long', 'none', 'en_EN') }}
        </div>
        <div class="text">
            {% if loop.index <= 2 %}
            {{ n.description|truncate(150, true) }}
            {% else %}
            {{ n.description|truncate(100, true) }}
            {% endif %}
        </div>
    </div>
    
</div>
{% endfor %}

    {{ knp_pagination_render(newses) }}


{% endblock %}