{% extends 'CmsElmatBundle::live_layout.html.twig' %}

{% block page_class%}livemain{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block base_class %}no-color{% endblock %}

{% block right_column_realizacje %}

    {% for cat in categories %}

	    {% if cat.slug in ['realizacje'] %}

    		{% if news_groupped[cat.slug]|length > 0 %}
    		<div class="relizations">
    		<div class="title">Projects</div>
            
    		{% for n in news_groupped[cat.slug] %}

                {% if n.getWebPath  and loop.first %}
            
                    <div class="main-item">
                        {% if n.getWebPath %}
                        <a class="image" href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}">
                            <img src="{{ asset( n.getWebPath() | imagine_filter('live_realizacje') ) }}" />
                            <div class="label">{{ n.title|truncate(55, true) }}</div>
                        </a>
                        {% endif %}
                        <a class="title" href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}">
                            {{ n.title|truncate(55, true) }}
                        </a>
                    </div>

            	{% elseif loop.index <= 4 %}
                    <div class="item">
                        <a  href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}">
                            {{ n.title|truncate(55, true) }}
                        </a>
                        <div>{{ n.publishDate|localizeddate('long', 'none', 'en_EN') }}</div>
                     </div>
            		
            	{% endif %}

    		{% endfor %}
            <a class="more" href="{{ path('cms_elmat_live_category', {slug: 'realizacje'}) }}">See all</a>
    		</div>
    		{% endif %}

		{% endif %}

	{% endfor %}

{% endblock %}

{% block content %}

<script type="text/javascript">
    $(function(){
        var $slideshow = $('.news-highlights.cycle-slideshow');
        
        $slideshow.mouseenter(function(e){
            e.stopPropagation();
            $(this).cycle('pause');
        });
        
        $slideshow.mouseleave(function(e){
            e.stopPropagation();
            $(this).cycle('resume');
        });
        
        $slideshow.on('cycle-after', function(event, optionHash){
            var activeOfferGroupId = $slideshow
                    .find('.cycle-slide-active:not(.cycle-sentinel)')
                    .attr('data-offer-group-id');
            
            $slideshow
                    .find('.menu li')
                    .removeClass('selected');
            
            $slideshow
                    .find('.menu li[data-offer-group-id="' + activeOfferGroupId + '"]')
                    .addClass('selected');
        });
        
        $slideshow.find('.menu li').on('click', function() {
            var offerGroupId = $(this).attr('data-offer-group-id'),
                $itemToActivate = $slideshow.find('.cycle-slide:not(.cycle-sentinel)[data-offer-group-id="' + offerGroupId + '"]'),
                index = $slideshow.find('.cycle-slide:not(.cycle-sentinel)').index($itemToActivate);
                
            $slideshow.cycle('goto', index);
        });
    });
</script>
    {% set newsBgColor = cms_config.get('news_bg_color') %}
    <div class="news-highlights cycle-slideshow" 
         {% if newsBgColor %}style="background: {{ newsBgColor }};"{% endif %}
         data-cycle-fx="fade"
         data-cycle-timeout="5000"
         data-cycle-slides="> div.item"
         data-cycle-prev=".nav-prev5"
         data-cycle-next=".nav-next5">
        
            {% for og in offer_groups %}
            {% if news_groupped_og[og.slug]|length >= 1 %}
            {% set news_og  =  news_groupped_og[og.slug] %}
            <div class="item" data-offer-group-id="{{ og.id }}">
                <div class="title"><a href="{{  path('cms_elmat_live_offergroup', {slug: og.slug}) }}">PRODUCT NEWS</a> </div>
                <div class="high-left">
                    <div class="major">
                        {% set n = news_og[0] %}
                        
                        <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="image">
                            {% if n.getWebPath %}
                            <img src="{{ asset( n.getWebPath() | imagine_filter( 'aktualnosci_lista' ) ) }}" alt="{{ n.title }}"/>
                            {% endif %}
                        </a>
                      
                        <a href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id})  }}" title="{{ n.title }}" class="title">{{ n.title }}</a>
                        <div class="line">
                            <div class="date">
                                {{ n.publishDate|localizeddate('long', 'none', 'en_EN') }}
                            </div>
                        </div>
                        <div class="text">
                            {{ n.description|truncate(150, true) }}
                        </div>
                    </div>
                    
                    <div class="minor">
                        {% for n in news_og[1:4] %}
                         <div class="item">
                            <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="image">
                                {% if n.getWebPath %}
                                <img src="{{ asset( n.getWebPathCrop() | imagine_filter( 'aktualnosci_lista3' ) ) }}" alt="{{ n.title }}"/>
                                {% endif %}
                            </a>
                            
                            <div class="rest">
                                <a href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id})  }}" title="{{ n.title }}" class="title">
                                    {#<span class="color_8">NOWE</span>#}
                                    {{ n.title }}
                                </a>
                                <div class="date">{{ n.publishDate|localizeddate('long', 'none', 'en_EN') }}</div>                 
                            </div>
                        </div>
                        {% endfor %}
                        
                       
                    </div>
                </div>
                <ul class="high-right">
                    {% for n in news_og[5:] %}
                    <li>
                        <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}">
                           {{ n.title |truncate(40, true) }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% endfor %}
        
        
        <div class="nav-prev5"></div>
        <div class="nav-next5"></div>
        
        <ul class="menu">
            {% for og2 in offer_groups %}
                {% if news_groupped_og[og2.slug]|length >= 1 %}
                    <li class="{% if loop.index == 1 %}selected{% endif %}" data-offer-group-id="{{ og2.id }}">
                        <span>{{ og2.title }}</span>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>


	{% for cat in categories %}

	    {% if cat.slug not in ['realizacje', 'promocje'] %}

    		{% if news_groupped[cat.slug]|length > 0 %}
    		<div class="news-events">
                <div class="title"><a href="{{  path('cms_elmat_live_category', {slug: cat.slug}) }}">{{ cat.title }}</a></div>
                {#<a href="{{  path('cms_elmat_live_category', {slug: cat.slug}) }}" >{{ cat.title }}</a>#}
    		
    		{% for n in news_groupped[cat.slug] %}

    			{% if  loop.first %}
                 <div class="col_1">
                     
                     {% if n.getWebPath  %}
                    <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" class="image">
                        <img src="{{ asset( n.getWebPath() | imagine_filter('aktualnosci_lista') ) }}"/>
                    </a>
                     {% endif %}
                    <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" class="title">
                        {{ n.title|truncate(55, true) }}
                    </a>
                    <div class="line">
                        <div class="date">
                            {{ n.publishDate|localizeddate('long', 'none', 'en_EN') }}
                        </div>
                    </div>
                    <div class="text">
                        {{ n.description|truncate(100)|raw }}
                    </div>
     
                </div>
            	{% endif %}
                
                {% if loop.index >= 2 %}
                {% if loop.index == 2 %}
                <ul class="col_2">
                {% endif %}
            		<li>
    					<a href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}">{{ n.title|truncate(40, true) }}</a>
    				</li>
                    
                {% if loop.index == 6 %}
                </ul>
                <ul class="col_2">
                {% endif %}
            	
                {% if loop.last %}
                </ul>
                {% endif %}
                {% endif %}

    		{% endfor %}

    		</div>
    		{% endif %}

		{% endif %}

	{% endfor %}

    {% if news_groupped['promocje'] is defined %}
    <div class="news-promotions">
        <div class="title"><a href="{{  path('cms_elmat_live_category', {slug: 'promocje'}) }}">Sale</a></div>
        {% for n in news_groupped['promocje'] %}
        {% if loop.index <= 4 %}
        <div class="item">
            {% if n.getWebPath  %}
            <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" class="image">
                <img src="{{ asset( n.getWebPath() | imagine_filter('aktualnosci_lista2') ) }}"/>
            </a>
             {% endif %}
            <a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" class="title">
                {{ n.title|truncate(55, true) }}
            </a>
           
            <div class="desc">
               {{ n.description|truncate(150)|raw }}
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
    {% endif %}


{#

<div id="live_center">

	<h2 class="hp_header "><span>Highlights</span></h2>

	<div id="highlights_main">
		{% include 'CmsElmatBundle:Live:_highlights.html.twig' %}
	</div>

	{% for og in offer_groups %}

		{% if news_groupped_og[og.slug]|length > 0 %}
		<div class="box-right box-right-pozostale-akt box-right-mt">
		<h2 class="hp_header "><span><a href="{{  path('cms_elmat_live_offergroup', {slug: og.slug}) }}" >{{ og.title }}</a></span></h2>

		{% for n in news_groupped_og[og.slug] %}

			{% if n.getWebPath and loop.first %}

        		<a href="{{  path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="pozostala-photo">
        		   <img src="{{ asset( n.getWebPath() | imagine_filter('aktualnosci_lista') ) }}" alt="{{ n.title }}"/>
        		   <span>{{ n.title|truncate(55, true) }}</span>
        		</a>
        	{% else %}
        		<div>
					<a class="arrow1bg" href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}">{{ n.title }}</a>
				</div>
        	{% endif %}

		{% endfor %}

		</div>
		{% endif %}

	{% endfor %}

</div>

#}


{% endblock %}