{% extends 'CmsElmatBundle::live_layout.html.twig' %}

{% block page_class %}page-text{% endblock %}

{% block title %}{{ news.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ news.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ news.keywords|default(parent()) }}{% endblock %}

{% block page_header %}
    {{ news.title }}

    {% set obj = news %}
    {% include 'CmsElmatBundle:Default:editLinkScriptTag.html.twig' with { type: 'news', id: obj.id, og: obj.offerGroup ? obj.offerGroup.slug : ''} %}
{% endblock %}

{% block page_date %}
    {{ news.publishDate|localizeddate('long', 'none', 'en_EN') }}
{% endblock %}

{% block page_content %}
    <div class="site-description">
        {% if news.getWebPath %}
            <a class="gallery_photo" href="{{ asset( news.getWebPath() ) }}">
                <img src="{{ asset( news.getWebPathCrop() | imagine_filter('aktualnosci_szczegoly') ) }}" alt="" class="float-right round-5px" />
            </a>
        {% endif %}

        {{ news.content|raw }}
    </div>

    {% include 'CmsElmatBundle:Pliki:_do_pobrania.html.twig' with {pliki: news.pliki} %}

    {% if news.galeria %}
        {% include 'CmsElmatBundle:Galeria:show_podstrona.html.twig' with {'galeria': news.galeria} %}
    {% endif %}
{% endblock %}

{% block right_column_produkty %}{% endblock %}
{% block right_column_artykuly %}{% endblock %}

{% block right_column_top %}
    {% if  newses is defined and newses|length > 0 %}
        <div class="relizations">
            <div class="title">
                {{ 'label.pozostale'|trans }}
                {% if news.getOfferGroup() %}
                    - {{ news.getOfferGroup().title }}
                {% elseif news.category %}
                    - {{ news.category.title }}
                {% endif %}
            </div>

            {% for n in newses %}
                {% if n.getWebPath and loop.first %}
                    <div class="main-item">
                        {% if n.getWebPath %}
                            <a class="image" href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}">
                                <img src="{{ asset( n.getWebPath() | imagine_filter('live_realizacje') ) }}" />
                                {#<div class="label">{{ n.title|truncate(55, true) }}</div>#}
                                {% if news.getOfferGroup() %}
                                    <div class="label">{{ n.getOfferGroup().title }}</div>
                                {% elseif n.category %}
                                    <div class="label">{{ n.category.title }}</div>
                                {% endif %}

                            </a>
                        {% endif %}
                        <a class="title" href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}">
                            {{ n.title|truncate(55, true) }}
                        </a>
                    </div>
                {% elseif loop.index <= 4 %}
                    <div class="item">
                        <a href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}">
                            {{ n.title|truncate(55, true) }}
                        </a>
                        <div>{{ n.publishDate|localizeddate('long', 'none', 'en_EN') }}</div>
                    </div>
                {% endif %}
            {% endfor %}

            {% if news.getOfferGroup() %}
                <a class="more" href="{{ path('cms_elmat_live_offergroup', {slug: news.getOfferGroup().slug }) }}">See all</a>
            {% elseif news.category %}
                <a class="more" href="{{ path('cms_elmat_live_category', {slug: news.category.slug }) }}">See all</a>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}

{% block base_bottom %}
    {% if false and other_newses is defined and other_newses|length > 0 %}
        <div class=" box-czytaj-rowniez-c">
            <div class="box-right-pozostale-akt box-czytaj-rowniez">
                <div class="bc-1">
                    <h2 class="czytaj-takze">{{ 'label.czytaj_takze'|trans }}</h2>
                    {% for n in other_newses %}
                        {% if  loop.first %}
                            <div class="firstart">
                                {% if n.getWebPath %}
                                    <img src="{{ asset( n.getWebPath() | imagine_filter('gallery') ) }}" alt="{{ n.title }}" />
                                {% endif %}
                                <div class="lft">
                                    <a href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="title">
                                        {{ n.title }}
                                    </a>
                                    <span class="date_add"> {{ n.publishDate|localizeddate('long', 'none', 'en_EN') }}</span>
                                    <a href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}" class="teaser">
                                        {{ n.description|truncate(110, false) }}
                                        <span class="arr1"> </span>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="bc-2">
                    {% for n in other_newses %}
                        {% if  loop.first %}

                        {% else %}
                            <p class="arrow1bg">
                                <a href="{{ path('cms_elmat_live_shownews', {slug: n.slug, id: n.id}) }}" title="{{ n.title }}">
                                    {{ n.title|truncate(50, false) }}
                                </a>
                                <span class="date_add"> {{ n.publishDate|localizeddate('long', 'none', 'en_EN') }}</span>
                            </p>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <a class="button_read_more" href="{{ path('cms_elmat_live_main') }}" title="{{ 'label.wszystkie_aktualnosci'|trans }}">{{ 'label.wszystkie_aktualnosci'|trans }}</a>
        </div>
    {% endif %}
{% endblock %}
