{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,400,300,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/preview.css') }}" type="text/css" media="all" />
    <style type="text/css">
        tr.normal .sep {
            display: none;
        }

        tr.separator .norm {
            display: none;
        }
    </style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        function addObject(sep) {
            var prototype = $('#form-rows-table').attr('data-prototype');
            var new_row_num = $('#form-rows-table tr').size() - 2;

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on the current collection's length.
            var newForm = prototype.replace(/__name__/g, new_row_num);

            // Display the form in the page in an li, before the "Add a tag" link li

            if (sep == 1) {
                newForm = newForm.replace(/__class__/g, 'separator');


            } else {
                newForm = newForm.replace(/__class__/g, 'normal');
            }

            $('#form-rows-table tr.header2').after(newForm);

            if (sep == 1) {
                $('#product_rows_rows_' + new_row_num + '_type').val(1);
            }

            $('.wysiwyg-tiny').ckeditor(fckconfig_tiny);

            return false;
        }

        $(document).on('click', '.preview-link', function (event) {
            event.preventDefault();

            var url = $(this).attr('href');

            $.ajax({
                type: "post",
                url: url,
                success: function (data, status, object) {
                    $('#preview-modal').find('.modal-body').html(data);
                    $('#preview-modal').modal();
                },
                error: function (data, status, object) {
                    console.log(data);
                }
            });
        })
    </script>
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:preview_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:history_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:acl_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block form_fieldset %}
    {% set form_prototype = (
        '<tr class="__class__">
			<td>
				<input type="button" onclick="$(this).parent().parent().remove()" value="usun" />
				' ~ form_widget(form.rows.vars.prototype['type'])  ~'
			</td>
			<td>'~  form_widget(form.rows.vars.prototype['sort'], {attr: {class:'span12'}})      ~'<br />
			    '~  form_widget(form.rows.vars.prototype['height'], {attr: {class:'span12', placeholder: 'wys.'}})      ~'
			</td>
			<td>
			    <span class="sep">Tekst lewa strona '~  form_widget(form.rows.vars.prototype['separator_text1'])      ~'</span>
			    <span class="norm">'~  form_widget(form.rows.vars.prototype['name'])      ~'</span>
			</td>
			<td class="span2">
			    <div class="sep">
			        <div style="background-color:white;height: 20px;margin: 2px;padding:3px 5px;color:#fff;border:1px solid #ddd;text-shadow: 1px 1px 0px #666">Kolor tła</div>
			        '~  form_widget(form.rows.vars.prototype['separator_bgcolor'])      ~'
			    </div>
				<div class="norm fileupload fileupload-new" data-provides="fileupload">
				  <div class="fileupload-new thumbnail" style="width: 120px; height: 70px;">
					<img src="http://www.placehold.it/120x70/EFEFEF/AAAAAA" />
				  </div>
				  <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; height: 70px; line-height: 20px;"></div>
				  <div>
				    	<span class="btn btn-file"><span class="fileupload-new">Wybierz obraz</span><span class="fileupload-exists">Zmień</span>
					  ' ~ form_widget(form.rows.vars.prototype['_file_image']) ~ '
					  </span>
					  <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Anuluj</a>
				  </div>
				</div>
			</td>
			<td class="span2">
			    <span class="sep">Tekst prawa strona  '~  form_widget(form.rows.vars.prototype['separator_text2'])      ~'</span>
			</td>'
    ) %}

    {% for i in 1..7 %}
        {% set form_prototype = form_prototype ~
            '<td>
			    <div class="norm">'    ~ form_widget(form.rows.vars.prototype['value' ~ i], { attr: {class: 'span12'}} ) ~  '</div>
			</td>'
        %}
    {% endfor %}

    {% set form_prototype = form_prototype ~ '</tr>' %}

    <a href="#" onclick="addObject(); return false;" class="btn">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}" />
        dodaj
    </a>

    <a href="#" onclick="addObject(1); return false;" class="btn">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}" />
        dodaj separator
    </a>

    <br />
    <br />

    <table id="form-rows-table" class="table table-bordered" data-prototype="{{ form_prototype }}">
        <tr class="header">
            <th>usuń</th>
            <th>Kolejność / wysokość wiersza</th>
            <th>
                {{ form_widget(form['col_name'], { attr: {class: 'span12', placeholder: 'Kol. Nazwa'}}) }}
            </th>
            <th>
                {{ form_widget(form['col_image'], { attr: {class: 'span12', placeholder: 'Kol. Obraz'}}) }}
            </th>
            <th>
                {{ form_widget(form['col_doc'], { attr: {class: 'span12', placeholder: 'Kol. Dok.'}}) }}
            </th>
            {% for i in 1..7 %}
                <th>
                    {{ form_widget(form['col' ~ i], { attr: {class: 'span12', placeholder: 'kol. ' ~ i}}) }}
                </th>
            {% endfor %}
        </tr>
        <tr class="header2">
            <td colspan="2">
                Szerokość kolumn
                <small> np. &quot;<b>30</b>&quot, &quot;<b>25px</b>&quot;, &quot;<b>10%</b>&quot</small>
            </td>
            <th>
                {{ form_widget(form['col_name_width'], { attr: {class: 'span12', placeholder: ''}}) }}
            </th>
            <th>
                {{ form_widget(form['col_image_width'], { attr: {class: 'span12', placeholder: ''}}) }}
            </th>
            <th>
                {{ form_widget(form['col_doc_width'], { attr: {class: 'span12', placeholder: ''}}) }}
            </th>
            {% for i in 1..7 %}
                <th>
                    {{ form_widget(form['col' ~ i ~ '_width'], { attr: {class: 'span12', placeholder: ''}}) }}
                </th>
            {% endfor %}
        </tr>
        {% for row in form.rows %}
            <tr class="{% if row.vars.value.getType() == 1 %}separator{% else %}normal{% endif %}">
                <td>{{ form_widget(row._delete) }}
                    {{ form_widget(row.updated) }}
                    {{ form_widget(row.type) }}
                </td>

                <td>{{ form_widget(row['sort'], {attr: {class:'span12'}}) }}<br />
                    {{ form_widget(row['height'], {attr: {class:'span12', placeholder: 'wys.'}}) }}</td>
                <td class="span2">
                    <span class="sep">Tekst lewa strona {{ form_widget(row.separator_text1) }}</span>
                    <span class="norm">{{ form_widget(row.name) }}</span>
                </td>
                <td class="span2">
                    <div class="sep">
                        <div style="background-color:{{ row.vars.value.getSeparatorBgcolor }};height: 20px;margin: 2px;padding:3px 5px;color:#fff;border:1px solid #ddd;text-shadow: 1px 1px 0px #666">Kolor tła</div>
                        {{ form_widget(row.separator_bgcolor) }}
                    </div>

                    <div class="norm fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-new thumbnail" style="width: 120px; height: 70px;">
                            {% if row.vars.value.getWebPath('image') %}
                                <a href="{{ asset(row.vars.value.getWebPath('image')) }}">
                                    <img src="{{ asset(row.vars.value.getWebPath('image') | imagine_filter('admin_small') ) }}" />
                                </a>
                            {% else %}
                                <img src="http://www.placehold.it/120x70/EFEFEF/AAAAAA" />
                            {% endif %}
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; height: 70px; line-height: 20px;"></div>
                        {% if row.vars.value.getWebPath('image') %}
                            <div>
                                {{ form_widget(row['_delete_file_image']) }} Usunąć?
                            </div>
                        {% endif %}
                        <div>
				    	    <span class="btn btn-file">
                                <span class="fileupload-new">Wybierz obraz</span>
                                <span class="fileupload-exists">Zmień</span>
                                {{ form_widget(row._file_image) }}
					        </span>
                            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Anuluj</a>
                        </div>
                    </div>
                </td>

                <td class="span2">
                    <span class="sep">Tekst prawa strona {{ form_widget(row.separator_text2) }}</span>

                    <div class="norm">
                        {% if row.vars.value.getWebPath('doc_pl') %}
                            <a href="{{ asset(row.vars.value.getWebPath('doc_pl')) }}">{{ row.vars.value.getDocPl() }}</a>
                            <div>
                                {{ form_widget(row['_delete_file_doc_pl']) }} Usunąć?
                            </div>
                        {% endif %}
                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <span class="btn btn-file">
                                <span class="fileupload-new">Dok. PL</span>
					            <span class="fileupload-exists">Zmień</span>
                                {{ form_widget(row._file_doc_pl) }}
					        </span>
                            <span class="fileupload-preview"></span>
                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                        </div>

                    </div>
                    <div class="norm">

                        {% if row.vars.value.getWebPath('doc_en') %}
                            <a href="{{ asset(row.vars.value.getWebPath('doc_en')) }}">{{ row.vars.value.getDocEn() }}</a>
                            <div>
                                {{ form_widget(row['_delete_file_doc_en']) }} Usunąć?
                            </div>
                        {% endif %}
                        <div class="fileupload fileupload-new" data-provides="fileupload">
					        <span class="btn btn-file">
                                <span class="fileupload-new">Dok. EN</span>
					            <span class="fileupload-exists">Zmień</span>
                                {{ form_widget(row._file_doc_en) }}
					        </span>
                            <span class="fileupload-preview"></span>
                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                        </div>
                    </div>
                </td>

                {% for i in 1..7 %}
                    <td>
                        <div class="norm">
                            {{ form_widget(row['value' ~ i], { attr: {class: 'span12'}} ) }}
                        </div>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    {% do form['rows'].setRendered %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="preview-modal" class="modal hide fade modal-lg" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Podgląd produktu</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}
