{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Roboto:900,400,300,700,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ asset('bundles/cmselmat/css/preview.css') }}" type="text/css" media="all" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        var edytor_css = '{{ asset('bundles/cmselmat/css/editor.css') }}';
        var edytor_css2 = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
        var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
    </script>

    <script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>

    <script type="text/javascript">
        function addObject() {
            var prototype = $('#form-rows-table').attr('data-prototype');

            // Replace '$$name$$' in the prototype's HTML to
            // instead be a number based on the current collection's length.
            var newForm = prototype.replace(/__name__/g, $('#form-rows-table tr').size() - 1);

            // Display the form in the page in an li, before the "Add a tag" link li

            $('#form-rows-table tr.header').after(newForm);
            $('.wysiwyg-tiny').ckeditor(fckconfig_tiny);

            return false;
        }

        $(document).on('click', '.preview-link', function (event) {
            event.preventDefault();

            var url = $(this).attr('href');

            $.ajax({
                type: "post",
                url: url,
                success: function (data, status, object) {
                    $('#preview-modal').find('.modal-body').html(data);
                    $('#preview-modal').modal();
                },
                error: function (data, status, object) {
                    console.log(data);
                }
            });
        })
    </script>
{% endblock %}

{% block actions %}
    <div class="sonata-actions btn-group">
        {% include 'SonataAdminBundle:Button:preview_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:show_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:history_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:acl_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:create_button.html.twig' %}
        {% include 'SonataAdminBundle:Button:list_button.html.twig' %}
    </div>
{% endblock %}

{% block form_fieldset %}

    {% set form_prototype = (
        '<tr>
			<td>
				<input type="button" onclick="$(this).parent().parent().remove()" value="usun" />
			</td>
			<td>
			    Kolejność: '~  form_widget(form.rows.vars.prototype['sort'], {attr: {class:''}})      ~'
			    <br />Nazwa: '~  form_widget(form.rows.vars.prototype['name'])      ~'</td>
			<td>'~  form_widget(form.rows.vars.prototype['description'], {'attr' : {'class':'wysiwyg-tiny'} })      ~'</td>
			<td class="span2">
				<div class="fileupload fileupload-new" data-provides="fileupload">
				    <div class="fileupload-new thumbnail" style="width: 120px; height: 70px;">
					    <img src="http://www.placehold.it/120x70/EFEFEF/AAAAAA" />
				    </div>
				    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; height: 70px; line-height: 20px;"></div>
				    <div>
				    	<span class="btn btn-file"><span class="fileupload-new">Wybierz obraz</span><span class="fileupload-exists">Zmień</span>
					   ' ~ form_widget(form.rows.vars.prototype['_file_image']) ~ '
					   </span>
					   <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Anuluj</a>
				    </div>
				</div>
			</td>
			<td class="span2"></td>
		</tr>'
    ) %}

    <a href="#" onclick="addObject(); return false;" class="btn">
        <img src="{{ asset('bundles/sonataadmin/famfamfam/add.png') }}" />
        dodaj
    </a>

    <br />
    <br />

    <table id="form-rows-table" class="table table-bordered" data-prototype="{{ form_prototype }}">
        <tr class="header">
            <th class="span1">usuń</th>
            <th class="span2">Kolejność, nazwa</th>
            <th class="span5">Opis</th>
            <th class="span2">Obraz</th>
            <th class="span2">Dokumentacja</th>
        </tr>
        {% for row in form.rows %}
            <tr>
                <td>{{ form_widget(row._delete) }}
                    {{ form_widget(row.updated) }}
                </td>

                <td>
                    Kolejność: {{ form_widget(row['sort'], {attr: {class:''}}) }}
                    <br /> Nazwa:{{ form_widget(row.name) }}
                </td>
                <td class="span2">{{ form_widget(row.description, {'attr' : {'class':'wysiwyg-tiny'} }) }}</td>
                <td class="span2">
                    <div class="fileupload fileupload-new" data-provides="fileupload">
                        <div class="fileupload-new thumbnail" style="width: 91px; height: 84px;">
                            {% if row.vars.value.getWebPath('image') %}
                                <a href="{{ asset(row.vars.value.getWebPath('image')) }}">
                                    <img src="{{ asset(row.vars.value.getWebPath('image') | imagine_filter('product_small_lista') ) }}" />
                                </a>

                            {% else %}
                                <img src="http://www.placehold.it/91x84/EFEFEF/AAAAAA" />
                            {% endif %}
                        </div>
                        <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 120px; height: 70px; line-height: 20px;"></div>
                        {% if row.vars.value.getWebPath('image') %}
                            <div>
                                {{ form_widget(row['_delete_file_image']) }} Usunąć?
                            </div>
                        {% endif %}
                        <div>
				      	<span class="btn btn-file"><span class="fileupload-new">Wybierz obraz</span><span class="fileupload-exists">Zmień</span>
                            {{ form_widget(row._file_image) }}
					  </span>
                            <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Anuluj</a>
                        </div>

                    </div>
                </td>
                <td class="span2">
                    <div>
                        {% if row.vars.value.getWebPath('doc_pl') %}
                            <a href="{{ asset(row.vars.value.getWebPath('doc_pl')) }}">{{ row.vars.value.getDocPl() }}</a>
                            <div>
                                {{ form_widget(row['_delete_file_doc_pl']) }} Usunąć?
                            </div>
                        {% endif %}
                        <div class="fileupload fileupload-new" data-provides="fileupload">
					        <span class="btn btn-file">
                                <span class="fileupload-new">Dok. PL</span>
					            <span class="fileupload-exists">Zmień</span>
                                {{ form_widget(row._file_doc_pl) }}
					        </span>
                            <span class="fileupload-preview"></span>
                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                        </div>
                    </div>
                    <div>
                        {% if row.vars.value.getWebPath('doc_en') %}
                            <a href="{{ asset(row.vars.value.getWebPath('doc_en')) }}">{{ row.vars.value.getDocEn() }}</a>
                            <div>
                                {{ form_widget(row['_delete_file_doc_en']) }} Usunąć?
                            </div>
                        {% endif %}
                        <div class="fileupload fileupload-new" data-provides="fileupload">
					        <span class="btn btn-file">
                                <span class="fileupload-new">Dok. EN</span>
					            <span class="fileupload-exists">Zmień</span>
                                {{ form_widget(row._file_doc_en) }}
					        </span>
                            <span class="fileupload-preview"></span>
                            <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>

    {% do form['rows'].setRendered %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    <div id="preview-modal" class="modal hide fade modal-lg" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h3>Podgląd produktu</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>
{% endblock %}
