
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}
	{% if object.getBaseProduct() %}
	Bazuje na: <a href="{{ admin.generateUrl('edit', {id: object.getBaseProduct().getId() }) }}">{{ object.title }}</a>
	{% else %}
	<a href="{{ admin.generateUrl('edit', {id: object.getId() }) }}">{{ object.title }}</a>
	{% endif %}


{% endblock %}


