<div class="product-title upper">
    <div class="head {% if not product.code %}head2{% endif %}">
        {{ product.title }}
    </div>
    {% if product.code %}
        <div class="desc">{{ product.code }}</div>
    {% endif %}

    <ul class="product-menu">
        <li><a href="#opis">Overview</a></li>

        {% if product.getZdjecia|length > 0 %}
            <li><a href="#zdjecia">Gallery</a></li>
        {% endif %}
        {% if product.pliki|length %}
            <li><a href="#do-pobrania" class="download">Download</a></li>
        {% endif %}
    </ul>
</div>

<a name="opis"></a>

{% if  product.content %}
    <div class="product-description upper">
        {{ product.content|raw }}
    </div>
{% endif %}

<div class="product-items-table">
    <table>
        {% set tr_color = 2 %}
        {% set tr_color_change = 0 %}

        {% set col_num = 0 %}
        <tr class="tr_color_1">
            {% if product.colImage %}
                <th class="colImage" {% if product.colImageWidth %}style="width:{{ product.colImageWidth }}"{% endif %}>{{ product.colImage }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
            {% if product.colName %}
                <th class="colname" {% if product.colNameWidth %}style="width:{{ product.colNameWidth }}"{% endif %}>{{ product.colName }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
            {% if product.col1 %}
                <th class="col1" {% if product.col1Width %}style="width:{{ product.col1Width }}"{% endif %}>{{ product.col1 }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
            {% if product.col2 %}
                <th class="col2" {% if product.col2Width %}style="width:{{ product.col2Width }}"{% endif %}>{{ product.col2 }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
            {% if product.col3 %}
                <th class="col3" {% if product.col3Width %}style="width:{{ product.col3Width }}"{% endif %}>{{ product.col3 }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
            {% if product.col4 %}
                <th class="col4" {% if product.col4Width %}style="width:{{ product.col4Width }}"{% endif %}>{{ product.col4 }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
            {% if product.col5 %}
                <th class="col5" {% if product.col5Width %}style="width:{{ product.col5Width }}"{% endif %}>{{ product.col5 }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
            {% if product.col6 %}
                <th class="col6" {% if product.col6Width %}style="width:{{ product.col6Width }}"{% endif %}>{{ product.col6 }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
            {% if product.col7 %}
                <th class="col7" {% if product.col7Width %}style="width:{{ product.col7Width }}"{% endif %}>{{ product.col7 }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
            {% if product.colDoc %}
                <th class="colcolDoc" {% if product.colDocWidth %}style="width:{{ product.colDocWidth }}"{% endif %}>{{ product.colDoc }}</th>
                {% set col_num = col_num+1 %}
            {% endif %}
        </tr>

        {% set even = 1 %}
        {% set separatorBgcolor = '' %}

        {% for row in product.rows %}
            {% if row.type == 1 %}
                {# separator #}
                {% if tr_color_change %}
                    {% set tr_color = tr_color +1 %}
                    {% if tr_color > 4 %}
                        {% set tr_color = 2 %}
                    {% endif %}
                    {% set even = 1 %}
                {% endif %}

                {% if row.separatorBgcolor %}
                    {% set separatorBgcolor = row.separatorBgcolor %}
                {% endif %}

                <tr class="tr_color_{{ tr_color }}">
                    <td class="head_{{ tr_color - 1 }}" colspan="{{ col_num }}" {% if separatorBgcolor %}style="background:{{ separatorBgcolor }}; border-left-color: {{ separatorBgcolor }}"{% endif %}>
                        {% if row.separatorText1 %}
                            <span class="sep_text1">{{ row.separatorText1 }}</span>
                        {% endif %}
                        &nbsp;&nbsp;
                        {% if row.separatorText2 %}
                            <span class="sep_text2">{{ row.separatorText2 }}</span>
                        {% endif %}
                    </td>
                </tr>
                {% set tr_color_change = 1 %}
            {% else %}
                {% set even = even ? 0 : 1 %}
                <tr class="tr_color_{{ tr_color }} {% if even %}even{% endif %}" {% if row.height %}style="height:{{ row.height }}"{% endif %}>

                    {% if product.colImage %}
                        <td class="colImage" {% if separatorBgcolor %}style="border-left-color: {{ separatorBgcolor }}"{% endif %}>
                            {% if row.getWebPath('image') %}
                                <a href="{{ asset(row.getWebPath('image')  ) }}" class="gallery_photo" title="{{ row.name }}">
                                    <img src="{{ asset(row.getWebPath('image') | imagine_filter('product_row_small') ) }}" alt="" />
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                    {% if product.colName %}
                        <td class="td2">{{ row.name }}</td>
                    {% endif %}
                    {% if product.col1 %}
                        <td class="td3">{{ row.value1 }}</td>
                    {% endif %}
                    {% if product.col2 %}
                        <td class="td3">{{ row.value2 }}</td>
                    {% endif %}
                    {% if product.col3 %}
                        <td class="td3">{{ row.value3 }}</td>
                    {% endif %}
                    {% if product.col4 %}
                        <td class="td3">{{ row.value4 }}</td>
                    {% endif %}
                    {% if product.col5 %}
                        <td class="td3">{{ row.value5 }}</td>
                    {% endif %}
                    {% if product.col6 %}
                        <td class="td3">{{ row.value6 }}</td>
                    {% endif %}
                    {% if product.col7 %}
                        <td class="td3">{{ row.value7 }}</td>
                    {% endif %}

                    {% if product.colDoc %}
                        <td class="td5">
                            {% if row.getWebPath('doc_pl') %}
                                <a href="{{ asset(row.getWebPath('doc_pl')) }}">PL
                                    {# <img src="{{ asset('bundles/cmselmat/images/flag-pl.png') }}" />#}
                                </a>
                            {% endif %}
                            {% if row.getWebPath('doc_en') %}
                                <a class="en" href="{{ asset(row.getWebPath('doc_en')) }}">EN
                                    {#<img src="{{ asset('bundles/cmselmat/images/flag-en.png') }}" />#}
                                </a>
                            {% endif %}
                        </td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>

{% if product.pliki|length > 0 %}
    <div class="product-tabs-right">
        {% if product.pliki|length > 0 %}
            <div class="product-download bg_gray">
                <a name="do-pobrania"></a>
                <div class="header">Download</div>

                <div class="cont">
                    {% for plik in product.pliki %}
                        <a href="{{ path('cms_elmat_plik_pobierz', {id: plik.id}) }}" class="item {{ plik.rozszerzenie }}" title="{{ plik.getNazwa() }}">
                            {{ plik.getNazwa()|truncate(18) }} ({{ plik.getRozmiarMBFormat() }})
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
