<div class="product-title upper">
    <div class="head {% if not product.code %}head2{% endif %}">
        {{ product.title }}
    </div>
    {% if product.code %}
        <div class="desc">{{ product.code }}</div>
    {% endif %}

    <ul class="product-menu">
        <li><a href="#opis">Overview</a></li>

        {% if product.getZdjecia|length > 0 %}
            <li><a href="#zdjecia">Gallery</a></li>
        {% endif %}
        {% if product.pliki|length %}
            <li><a href="#do-pobrania" class="download">Download</a></li>
        {% endif %}
    </ul>
</div>

<a name="opis"></a>

<div class="product-description upper">
    {{ product.content|raw }}
</div>

<div class="product-items">
    <div>
        {% for row in product.rows %}

        {% if loop.index0 > 0 and loop.index0 % 2 == 0 %}
    </div>
    <div>
        {% endif %}

        <div class="item">
            {% if row.getWebPath('image') %}
                <a class="image gallery_photo" href="{{ asset(row.getWebPath('image')  ) }}" title="{{ row.name }}">
                    <img src="{{ asset(row.getWebPath('image') | imagine_filter('product_small_lista2') ) }}" alt="" />
                </a>
            {% endif %}

            <div class="rest {% if row.getWebPath('image') %}withimage{% endif %}">
                <a class="title">{{ row.name }}</a>
                <div class="text">{{ row.description|raw }}</div>

                {% if row.getWebPath('doc_pl') or row.getWebPath('doc_en') %}
                    <div class="pdf">
                        <div>Download PDF</div>
                        {% if row.getWebPath('doc_pl') %}
                            <a href="{{ asset(row.getWebPath('doc_pl')) }}">PL</a>
                        {% endif %}
                        {% if row.getWebPath('doc_en') %}
                            <a href="{{ asset(row.getWebPath('doc_en')) }}">EN</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% if product.pliki|length > 0 %}
    <div class="product-tabs-right">
        {% if product.pliki|length > 0 %}
            <div class="product-download bg_gray">
                <a name="do-pobrania"></a>
                <div class="header">Download</div>

                <div class="cont">
                    {% for plik in product.pliki %}
                        <a href="{{ path('cms_elmat_plik_pobierz', {id: plik.id}) }}" class="item {{ plik.rozszerzenie }}" title="{{ plik.getNazwa() }}">
                            {{ plik.getNazwa()|truncate(18) }} ({{ plik.getRozmiarMBFormat() }})
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}
