{% if galeria and galeria.zdjecia %}
    {% set photos = galeria.zdjecia %}
{% endif %}

<div class="product-photos">
    <div class="header">Gallery</div>
    <ul id="product-slider" class="cycle-slideshow"
            data-cycle-fx=carousel
            data-allow-wrap=false
            data-carousel-visible="3"
            data-update-view="1"
            data-cycle-timeout=0
            data-cycle-slides="> li"
            data-cycle-next="#next3"
            data-cycle-prev="#prev3">

        {% for item in photos %}
            {% if item.getWebPath() %}
                <li>
                    <a class="gallery_photo" href="{{ asset( item.getWebPath() | imagine_filter('large') ) }}" title="">
                        <img src="{{ asset( item.getWebPath() | imagine_filter('gallery') ) }}" alt="" />
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    {% if photos|length > 3 %}
        <div id="prev3"></div>
        <div id="next3"></div>
    {% endif %}
</div>
