{% if product.pliki|length > 0 %}

<div class="product-download {{ product_download_class|default('') }}">
   <a name="do-pobrania"></a>
   <div class="header">Download</div>
  
    <div class="cont">
        {% for plik in product.pliki %}
        <a href="{{ path('cms_elmat_plik_pobierz', {id: plik.id}) }}" class="item {{ plik.rozszerzenie }}" title="{{ plik.getNazwa() }}">
            {{ plik.getNazwa()|truncate(18) }} ({{ plik.getRozmiarMBFormat() }})
        </a>
        {% endfor %}
    </div>
    
</div>

{% endif %}