{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}{{ category.name }} - {{ parent() }}{% endblock %}
{% block description %}{{ category.name }}. {{ parent() }}{% endblock %}
{% block keywords %}{{ category.name }},{{ parent() }}{% endblock %}

{% block page_header %}
    {{ category.name }}

    {% set obj = category %}
    {% include 'CmsElmatBundle:Default:editLinkScriptTag.html.twig' with { type: 'productcategory', id: obj.id, og: obj.offerGroup ? obj.offerGroup.slug : ''} %}
{% endblock %}

{% block page_class %}page-products page-text{% endblock %}

{% block left_column_inner %}
    {% render controller('CmsElmatBundle:Product:leftmenu', {category_id: category.id, request: app.request }) %}
{% endblock %}

{% if category.template == constant('Cms\\ElmatBundle\\Entity\\ProductCategory::TEMPLATE_LIST') %}
    {% set left_class='' %}
{% else %}
    {% set left_class='product-web' %}
{% endif %}

{% block left_class %}{{ left_class }}{% endblock %}

{% block page_content %}
    <div class="product-category-view product-listing product-rows-list">
        {% if category.content %}
            <div class="site-description">
                {{ category.content|raw }}
            </div>
        {% endif %}

        {% if category.template == constant('Cms\\ElmatBundle\\Entity\\ProductCategory::TEMPLATE_LIST') %}
            {% if categories|length %}
                <div class="product-row">
                {% for cat in categories %}

                    {% if loop.index0 > 0 and loop.index0 %3 == 0 %}
                        </div>
                        <div class="product-row">
                    {% endif %}

                    <div class="item">
                        {% if cat.getWebPath('image') %}
                            <a href="{{ path('cms_elmat_product_category', {id: cat.id, slug: cat.slug}) }}" class="image" title="{{ cat.name }}">
                                <img src="{{ asset(cat.getWebPath('image') | imagine_filter('product_category_row') ) }}" alt="" />
                            </a>
                        {% endif %}
                        <a class="title" href="{{ path('cms_elmat_product_category', {id: cat.id, slug: cat.slug}) }}">
                            {{ cat.name }}
                        </a>
                        <div class="desc">{{ cat.contentShort|raw }}</div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% else %}
            {% if categories|length %}
                <div class="row">
                {% for cat in categories %}

                    {% if loop.index0 > 0 and loop.index0 %4 == 0 %}
                        </div>
                        <div class="row">
                    {% endif %}

                    <div class="item">
                        <a href="{{ path('cms_elmat_product_category', {id: cat.id, slug: cat.slug}) }}" class="image" title="{{ cat.name }}">
                            {% if cat.getWebPath('image') %}
                                <img src="{{ asset(cat.getWebPath('image') | imagine_filter('product_small') ) }}" alt="" />
                            {% endif %}
                        </a>

                        <a class="title" href="{{ path('cms_elmat_product_category', {id: cat.id, slug: cat.slug}) }}">
                            {{ cat.name }}
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% endif %}

            {% if products|length %}
                <div class="row">
                {% for prod in products %}

                    {% if loop.index0 > 0 and loop.index0 %4 == 0 %}
                        </div>
                        <div class="row">
                    {% endif %}

                    <div class="item">
                        <a class="image" href="{{ path('cms_elmat_product_show', {id: prod.id, slug: prod.slug}) }}" title="{{ prod.title }}">

                            {% if prod.getWebPathCrop('image_thumb') %}
                                <img src="{{ asset( prod.getWebPathCrop('image_thumb') | imagine_filter('product_small') ) }}" alt="" />
                            {% elseif prod.getWebPathCrop('image') %}
                                <img src="{{ asset( prod.getWebPathCrop('image') | imagine_filter('product_small') ) }}" alt="" />
                            {% endif %}
                        </a>

                        <a class="title" href="{{ path('cms_elmat_product_show', {id: prod.id, slug: prod.slug}) }}" title="{{ prod.title }}">
                            {{ prod.title }}
                        </a>
                    </div>
                {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}