{% if links is defined %}
    <ul>
        {% for link in links %}
            <li class="{% if link['current'] %}current{% endif %}">
                <a class="{% if link['current'] %}active{% endif %}"{% if link['url'] %} href="{{ link['url'] }}" {% endif %}>
                    {{ link.title }}
                </a>
            </li>
            {% if link.children %}
                {% include 'CmsElmatBundle:Product:leftmenu_children.html.twig' with { links: link.children} %}
            {% endif %}
        {% endfor %}
    </ul>
{% endif %}
