{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block page_class %}page-products{% endblock %}

{% block title %}Products - {{ parent() }}{% endblock %}
{% block description %}Products. {{ parent() }}{% endblock %}
{% block keywords %}Products,{{ parent() }}{% endblock %}

{% block page_header %}Products{% endblock %}


{% block left_column_inner %}
	{% render controller('CmsElmatBundle:Product:leftmenu', {category_id: null, request: app.request }) %}
{% endblock %}


{% block page_content %}

<div class="product-category-row">
   {% for cat in categories %}

    {% if loop.index0 > 0 and loop.index0 %2==0 %}
</div>
<div class="product-category-row">
    {% endif %}
        <div class="product-category">

            {% if cat.getWebPathCrop('image') %}
            <div class="image">
                <a href="{{ path('cms_elmat_product_category', {id: cat.id, slug: cat.slug}) }}" title="{{ cat.name }}">
                    <img src="{{ asset( cat.getWebPathCrop('image') | imagine_filter('product_category') ) }}" alt="" />
                    <span class="title">{{ cat.name }}</span>
                </a>
            </div>
            <div class="description">
                 {{ cat.contentShort|raw }}
            </div>
            {% endif %}
           

        </div>
   

   {% endfor %}
</div>

{% endblock %}