{% extends 'CmsElmatBundle:Product:show.html.twig' %}

{% block product_title_class %} upper{% endblock %}

{% block page_content %}
    {% set products_tab_class = '' %}

    {% if product.pliki|length > 0 %}
        {% set products_tab_class = 'with-right-column' %}
    {% endif %}

    <a name="opis"></a>

    <div class="product-description upper">
        {{ product.content|raw }}
    </div>

    {% set products_tab_class = '' %}
    <div class="product-items">
        <div>
            {% for row in product.rows %}

            {% if loop.index0 > 0 and loop.index0 % 2 == 0 %}
        </div>
        <div>
            {% endif %}

            <div class="item">

                {% if row.getWebPath('image') %}

                    <a class="image" href="{{ asset(row.getWebPath('image')  ) }}" class="gallery_photo" title="{{ row.name }}">
                        <img src="{{ asset(row.getWebPath('image') | imagine_filter('product_small_lista2') ) }}" alt="" />
                    </a>

                {% endif %}

                <div class="rest {% if row.getWebPath('image') %}withimage{% endif %}">
                    <a class="title">{{ row.name }}</a>
                    <div class="text">{{ row.description|raw }}</div>

                    {% if row.getWebPath('doc_pl') or row.getWebPath('doc_en') %}
                        <div class="pdf">
                            <div>Download PDF</div>
                            {% if row.getWebPath('doc_pl') %}
                                <a href="{{ asset(row.getWebPath('doc_pl')) }}" class="pl">PL</a>
                            {% endif %}
                            {% if row.getWebPath('doc_en') %}
                                <a href="{{ asset(row.getWebPath('doc_en')) }}" class="en">EN</a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>

            </div>
            {% endfor %}
        </div>

    </div>

    {% if product.pliki|length > 0 %}
        <div class="product-tabs-right">
            {% include 'CmsElmatBundle:Product:_do_pobrania.html.twig' with {product_download_class: 'bg_gray'} %}
        </div>
    {% endif %}
{% endblock %}
