{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block title %}{{ product.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ product.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ product.keywords|default(parent()) }}{% endblock %}

{% block meta %}
    {{ parent() }}
    {%  if product.baseProduct %}
    <link rel="canonical" href="{{ url('cms_elmat_product_show', {slug: product.slug, id: product.baseProduct.id }) }}"/>
    {% endif %}
{% endblock %}

    
{% block content %}
    
    {% block page_title %}

        <div class="product-title {% block product_title_class %}{% endblock %}">
            <div class="head {% if not product.code %}head2{% endif %}">
                {{ product.title }}

                {% set obj = product %}
                {% include 'CmsElmatBundle:Default:editLinkScriptTag.html.twig' with { type: 'product', id: obj.id, og: obj.offerGroup ? obj.offerGroup.slug : ''} %}</div>
                {% if product.code %} 
                <div class="desc">{{ product.code }}</div>
                {% endif %}
            
            <ul class="product-menu">
                <li><a href="#opis">Overview</a></li>
                
                {% if product.getZdjecia|length > 0 %}
                <li><a href="#zdjecia">Gallery</a></li>
                {% endif %}
                {% if product.pliki|length %}
                <li><a href="#do-pobrania" class="download">Download</a></li>
                {% endif %}
            </ul>
        </div>
        

    {% endblock %}
    
    {% block page_content %}{% endblock %}
    
{% endblock %}


{% block left_column_inner %}
	{% render controller('CmsElmatBundle:Product:leftmenu', {category_id: product.category.id, prod_id: product.id, request: app.request }) %}

	{% block left_column_bottom %}
    {% endblock %}

{% endblock %}



