
{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/cmselmat/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
	</script>

	<script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>
    
    
    <script type="text/javascript">
        
        var admin_uniqid = '{{ admin.uniqid }}';
        
        $(function(){
            $('#' + admin_uniqid + '_tylko_z_kontem').change(function(){
            
                if($(this).is(':checked')) {
                    $('#dodatkowe_filtry').show();
                } else {
                    $('#dodatkowe_filtry').hide();
                }
            }).change();
        });
        
        
    </script>

{%  endblock %}

{% block form_fieldset %}
    

    	
<fieldset>

		<legend>Edycja</legend>
		<div class="sonata-ba-collapsed-fields">
            {{ form_row(form['tytul'])}}
            {{ form_row(form['data_wysylki'])}}
            {{ form_row(form['tresc'])}}
			{{ form_row(form['tresc_txt'])}}
            {{ form_row(form['lista_reczna'])}}
            {{ form_row(form['tylko_z_kontem'])}}
            
            

		</div>
        
        <div class="control-group" id="dodatkowe_filtry">
            <label class=" control-label" for="">
            Dodatkowe filtry, tylko dla klientów z kontem     
            </label>
                            
            <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">

                <span class="help-block sonata-ba-field-help">Gdy nie są zaznaczone żadne pola domyślnie Newsletter wysyłany jest do wszystkich subskrybentów</span>
                
                <div class="filtry">
                    {% for w in ["oferta_swiatlowody",
                                "oferta_akcesoria_swiatlowodowe",
                                "oferta_mikrokanalizacja",
                                "oferta_kable_napowietrzne_airtrack",
                                "oferta_technologia_fttx",
                                "oferta_technologia_gpon",
                                "oferta_urzadzenia_aktywne",
                                "oferta_sieci_miejskie",
                                "oferta_osprzet_instalacyjny",
                                "oferta_osprzet_pomiarowy",
                                "oferta_okablowanie_strukturalne"] %}
                    <div style="float:left; margin: 5px; padding:5px; border: 1px solid #ddd">
                        {{ form_widget(form[w], {'attr': { 'style' : 'float:left'} }) }} {{ form_label(form[w]) }} {{ form_errors(form[w]) }}
                    </div>
                    
                    {% endfor %}
                </div>
                
            </div>
        </div>

	</fieldset>

	{%  if object.id > 0 %}
	<fieldset>

		<legend>Informacje</legend>
		<div class="sonata-ba-collapsed-fields">

            {#<div class="control-group" >
                <label class=" control-label" >Status</label>
                <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">{{  object.statusTxt }}</div>
            </div>
            #}

             <div class="control-group" >
                <label class=" control-label" >Wysłano:</label>
                <div class="controls sonata-ba-field sonata-ba-field-standard-natural ">{{  object.countSent }} / {{ object.countToSend }}</div>
            </div>

		</div>

	</fieldset>
	{%  endif %}





{% endblock %}
