
{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}
{% block field%}

	<button class="btn" data-href="{{ url('cms_elmat_newsletter_testsend', {id: object.id} ) }}" onclick="email=prompt('Podaj testowy adres:',''); if(!email){return false;}; document.location = this.getAttribute('data-href') + '?email='+ encodeURIComponent(email); return false;">Wyślij testowy</button>

{% endblock %}


