{# default Sliding pagination control implementation #}

{% if pageCount > 1 %}
<div id="pager">

	
	{% spaceless %}
    {% if previous is defined %}
        
        <a class="pager-prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}">
            Previous
        </a>
        
    {% endif %}

    {% for page in pagesInRange %}
        {% if page != current %}
           
            <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
            
        {% else %}
            <a class="active">{{ page }}</a>
        {% endif %}

    {% endfor %}

    {% if next is defined %}
      
        <a class="pager-next" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
            Next
        </a>

    {% endif %}

    {% endspaceless %}
	

</div>
{% endif %}
