
{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{%  block javascripts %}
	{{ parent() }}

    <script type="text/javascript">
		var edytor_css  = '{{ asset('bundles/cmselmat/css/editor.css') }}';
		var edytor_css2  = '{{ asset('bundles/cmselmat/ckeditor/contents.css') }}';
		var edytor_browse_url = '{{ path('cms_elmat_default_browse') }}';
	</script>

	<script src="{{ asset('bundles/cmselmat/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
	<script src="{{ asset('bundles/cmselmat/js/wysiwyg2.js') }}" type="text/javascript"></script>

{%  endblock %}

{% block form_fieldset %}

	<fieldset>

		<legend>Główne informacje</legend>
		<div class="sonata-ba-collapsed-fields">
			{{ form_row(form['title'])}}
			{{ form_row(form['parent'])}}
			{{ form_row(form['content'])}}
		</div>

	</fieldset>

	<fieldset>
		<legend>Opcje dodatkowe</legend>
		<div class="sonata-ba-collapsed-fields">

			<div class="control-group">
				<label></label>
				<div class="controls">
				{% if  object.getWebPath() %}
					<a href="{{ asset(object.getWebPath())  }}">
						<img src="{{ asset(object.getWebPath() | imagine_filter('admin_med') ) }}" />
					</a>
				{% else %}
				{% endif %}
				</div>
			</div>
			{{ form_row(form['_file_image'])}}
			{{ form_row(form['_delete_file_image'])}}
		</div>
	</fieldset>



	<fieldset>
		<legend>SEO</legend>
		<div class="sonata-ba-collapsed-fields">
            {{ form_row(form['automaticSeo'])}}
			{{ form_row(form['slug'])}}
			{{ form_row(form['keywords'])}}
			{{ form_row(form['description'])}}
		</div>
	</fieldset>

{# 	<fieldset>#}
{# 		<legend>{{ admin.trans('label.highlights') }}</legend>#}
{# 		<div class="sonata-ba-collapsed-fields">#}
{#  			{{ form_row(form['highlight_mainpage'])}}#}
{#  			{{ form_row(form['highlight_category'])}}#}
{# 	</fieldset>#}

{% endblock %}
