<div class="site-title">
    <div class="head">{{ page.title }}</div>
    <div class="desc gray">{{ page.publishDate|localizeddate('long', 'none', 'en_EN') }}</div>
</div>

<div class="site-description">
    {% if page.getWebPath %}
        <a class="gallery_photo" href="{{ asset( page.getWebPath() ) }}">
            <img src="{{ asset( page.getWebPathCrop() | imagine_filter('aktualnosci_szczegoly') ) }}" alt="" class="float-right round-5px" />
        </a>
    {% endif %}

    {{ page.content|raw }}
</div>

{% if page.pliki is defined and page.pliki|length > 0 %}
    <div class="product-download">
        <div class="header">Download</div>
        <div class="cont">
            {% for plik in page.pliki %}
                <a href="{{ path('cms_elmat_plik_pobierz', {id: plik.id}) }}" class="item {{ plik.rozszerzenie }}" title="{{ plik.getNazwa() }}">
                    {{ plik.getNazwa()|truncate(18) }} ({{ plik.getRozmiarMBFormat() }})
                </a>
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if page.galeria %}
    {% if page.galeria and page.galeria.zdjecia %}
        {% set photos = page.galeria.zdjecia %}
    {% endif %}

    <div class="product-photos">
        <div class="header">Gallery</div>
        <ul id="product-slider" class="cycle-slideshow"
                data-cycle-fx=carousel
                data-allow-wrap=false
                data-carousel-visible="3"
                data-update-view="1"
                data-cycle-timeout=0
                data-cycle-slides="> li"
                data-cycle-next="#next3"
                data-cycle-prev="#prev3">

            {% for item in photos %}
                {% if item.getWebPath() %}
                    <li>
                        <a class="gallery_photo" href="{{ asset( item.getWebPath() | imagine_filter('large') ) }}" title="">
                            <img src="{{ asset( item.getWebPath() | imagine_filter('gallery') ) }}" alt="" />
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        {% if photos|length > 3 %}
            <div id="prev3"></div>
            <div id="next3"></div>
        {% endif %}
    </div>
{% endif %}
