{% extends 'CmsElmatBundle::elmat_layout.html.twig' %}

{% block page_header %}
    {{ page.title }}
    {% set obj = page %}
    {% include 'CmsElmatBundle:Default:editLinkScriptTag.html.twig' with { type: 'page', id: obj.id, og: obj.offerGroup ? obj.offerGroup.slug : ''} %}
{% endblock %}

{% block page_class %} {% if page.template %}page-template-{{ page.template }}{% endif %} {% endblock %}

{% block left_column_inner %}
    {% if page is defined and page.template == 'no-menu' %}

    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_content %}
    <div class="site-description">
        {% if page.getWebPath %}
            <a class="gallery_photo" href="{{ asset( page.getWebPath() ) }}">
                <img src="{{ asset( page.getWebPath() | imagine_filter('aktualnosci_szczegoly') ) }}" alt="" class="float-right round-5px" />
            </a>
        {% endif %}

        {{ page.content|raw }}
    </div>

    {% include 'CmsElmatBundle:Pliki:_do_pobrania.html.twig' with {pliki: page.pliki} %}

    {% if page.galeria %}
        {% include 'CmsElmatBundle:Galeria:show_podstrona.html.twig' with {'galeria': page.galeria} %}
    {% endif %}
{% endblock %}
