{% extends 'CmsElmatBundle:Page:show_base.html.twig' %}

{% block title %}{{ page.title }} - {{ parent() }}{% endblock %}
{% block description %}{{ page.description|default(parent()) }}{% endblock %}
{% block keywords %}{{ page.keywords|default(parent()) }}{% endblock %}

{% block page_class %}{{ parent() }} product-tabs{% endblock %}

{% block page_date %}{% endblock %}

{% block page_content %}
    {{ parent() }}
    {% if page.getTabs() %}
        <div class="tabs-controlls">
            {% for tab in page.tabs %}
                {% if tab.description %}
                    <a class="{% if loop.first %}current{% endif %}"
                            href="javascript:void(0)"
                            rel="prod-tab-{{ tab.id }}"
                            onclick="$('.tabs-controlls a, .tabs .tab').removeClass('current'); $(this).addClass('current');$('#' + $(this).attr('rel')).addClass('current')"
                    >
                        {{ tab.name }}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
        <div class="tabs">
            {% for tab in page.tabs %}
                {% if tab.description %}
                    <div class="tab{% if loop.first %} current{% endif %}" id="prod-tab-{{ tab.id }}">
                        {{ tab.description|raw }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}